/**
 * # Base
 * Fundamental HTML components
 */

html, body {
  background: $pageColor;
  color: $bodyFontColor;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
	&.no-margin {
		margin: 0px;
	}

	&.half-margin {
		margin: $pageMargin/2 0;
	}

	&.extend-width {
		$hrExtend: 60px;
		width: calc(100% + #{$hrExtend * 2});
		margin-right: -$hrExtend;
		margin-left: -$hrExtend;
	}
}
