/**
 * # Helpers
 * Functions, mixins, extends, and animations
 */

 // -------------------------------------
 //   Mixins
 // -------------------------------------
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// -------------------------------------
//   Extends
//   Rules to use either directly in the markup, or to extend within modules.
// -------------------------------------

.hidden {
	opacity: 0;
	pointer-events: none;
	@include transition(opacity 0.3s ease-in-out);

	&.fade-in {
		opacity: 1;
		pointer-events: all;
	}
}

.visible {
	opacity: 1 !important;
}

.almost-fade-out {
	@include transition(opacity 0.3s ease-in-out);
	opacity: 0.05;
	pointer-events: none;
}

.fade-in {
	@include transition(opacity 0.3s ease-in-out);
	opacity: 1;
}

/**
 * Overlay Wrap:
 * `.overlay-wrap` - Use to overlay content inside a parent div
 *
 *     @example
 *     div#parent(style='position:relative;')
 *      div.overlay-wrap--center
 *       i.icon-asterisk.icon-spin.icon-large
 *      h1 Lorem ipsum.
 *      p This content is still loading.
 */
.overlay-wrap {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: $zTop + 100;

	&--center {
		@extend .overlay-wrap;
		text-align: center;

		& i, & div {
			position: absolute;
			display: block;
			top: 50%;
			left: 50%;
			@include transform( translateX(-50%) translateY(-50%));
		}
	}
}

// -------------------------------------
//   Animations
// -------------------------------------

.delay-0-3 {
    @include animation-delay(0.3s);
    @include transition-delay(0.3s);
}


.show-below-content {
	opacity: 0;
}