/**
 * # Layout
 * Grids / Columns / Unstyled Structure
 */

$outerMargin: 42px;

// Grid Settings ( Neat / http://neat.bourbon.io/ )
// ------------------------------------------------

$visual-grid: false; // turn on to see columns
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;

// Site breakpoints:
// 1600px 1280px 960px 640px

$max-width: 100%; //em(1024, 16) !default;
$contentMaxWidth: 1600px;
$grid-columns: 24 !default;
$gutter: 0em !default;

// Import Neat with above settings:
@import "../libraries/neat/app/assets/stylesheets/neat";

body {
	overflow-y: hidden;
	overflow-x: hidden;
}

// Breakpoints
$screen700: new-breakpoint(min-width 700px);
$screen900: new-breakpoint(min-width 900px);
	$screen900Max: new-breakpoint(max-width 900px);
$screen1000: new-breakpoint(min-width 1000px);
$screen1100: new-breakpoint(min-width 1100px);
$screen1200: new-breakpoint(min-width 1200px);

$columnPadTop: $baselineHeight;

// Containers, Columns, Rows
// ------------------------------------------------


.view-container {
	@include outer-container;
	height: 100%;
	//min-width: 960px;
	//min-width: 100%;
	overflow:hidden;
}

#results {
	min-height: 500px;
}

#right {
	padding-right: 0px;

	& .nano-content {
		padding-right: 30px;
	}
}

#contextContent {
	div:first-child {
		margin-top: $sectionHeaderMargin;
	}
}

// body
.content-row__wrap {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	height: 100%; // calc(100% - #{$navBarHeight});
	-webkit-overflow-scrolling: touch;
	
	&.under-nav {
		height: 100%;
		margin-top: (-1*$navBarHeight) - 1; // extra pixel for Firefox rendering
	}

	&.no-scroll {
		overflow-y: hidden;
	}
}

.content-row {
	@include outer-container;
	position: relative;
	min-height: calc(100% - #{$navBarHeight});
	max-width: $contentMaxWidth;
	margin: 0px auto;
	padding: 0 ($outerMargin - $gutterWidth/2) 0;
	overflow-y: visible;
	overflow-x: hidden;

	&.minimum-top-margin {
		padding-top: $navBarHeight; // - $columnPadTop;// $pageMargin/2;
	}

	&.limit-height {
		height: 100%;
		overflow-y: hidden;
	}

	.fullscreen & {
		max-width: 100%;
	}
}

.container {
  @include outer-container;
  position: relative;
}

.row, footer {
	@include row();

	&.full-width {
		margin-right:(-1 * $outerMargin);
		margin-left:(-1 * $outerMargin);
		padding-right: $outerMargin;
		padding-left: $outerMargin;
		min-width: 100%;
		width: calc(100% + #{ 2 * $outerMargin } );
	}

	&.centered {
		text-align: center;
	}
}

footer {
	float: left;
	width: 100%;
}

/**
 * Columns:
 * `.column` - Columns are used to dictate widths of content, usually within a row. Widths are based on _24_ units, with column-24 being full width.
 *
 *     @example
 *     .row.debug
 *      .column-8.debug
 *       p Column One
 *      .column-8.debug
 *       p Column Two
 *      .column-8.debug
 *       p Column Three
 *      p Row
 */
.column {
	min-height: 100%;
	height: 100%;
	position: relative;
    overflow-y: visible;
    overflow-x: hidden;

	@include transition(width 0.3s ease-in-out 0s);

	&:first-child {
		padding-left: 0 !important;
	}

	&:last-child {
		padding-right: 0 !important;
	}

	&:before {
		margin-top: $gutterWidth/2;
	}

	&.no-pad {
		padding: 0 !important;
	}

	&.pad-right {
		padding: 0 $gutterWidth 0 0 !important;
	}

	&.overflow-scroll {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
}
	.inner-column {
		min-height: 100%; //$baselineHeight;
		height: 100%;
		//height: calc(100% - #{$navBarOffset} );
		overflow-x: hidden;
		overflow-y: hidden;
		position: relative;
		@include transition(width 0.3s ease-in-out 0s);

		padding: 0 $pageMargin/2;

		&:first-of-type {
			padding-left: 0px;
		}
		&:last-of-type {
			padding-right: 0px !important;
		}
	}
	// override class
	.column-0 {
		@extend .column;
		@include span-columns(1);
		width: 0% !important;
		overflow: hidden;
		padding-right: 0px;
		padding-left: 0px;
		@include transition-delay(0.2s);
		&:first-of-type {
			padding-left: 0px;
		}
		& .column-content {
			opacity: 0;
			@include transition-delay(0s);
		}
	}

	@for $n from 1 through $grid-columns {
	    .column-#{$n} {
	    	@extend .column;
	     	@include span-columns( $n );
	    }
	}

	@for $n from 1 through $grid-columns {
	    .inner-column-#{$n} {
	    	@extend .inner-column;
	     	@include span-columns( $n );
	    }
	}
	// simple sizing solution, without "column" baggage
	@for $n from 1 through $grid-columns {
	    .span-#{$n} {
	     	@include span-columns( $n );
	    }
	}

.center-column {
	@extend .column;
	@include span-columns(4);
	@include shift(3);
}

.column-content {
	opacity: 1.0;

	// transform transition time needs to match debounce rate in customScroll.js
	@include transition(opacity 0.2s ease-in-out 0.2s);

	position: relative;
	overflow-y: visible;//scroll;

	padding-top: $columnPadTop; // /2;
	padding-left: $gutterWidth/2;
	padding-right: $gutterWidth/2; // + 20px;

	word-wrap: break-word;

	&.hide-scroll, .nano-content > & {
		padding-right: $gutterWidth/2 + 15px;
		margin-right: -15px;
	}

	&--item {
		@extend .column-content;
		//padding-top: $itemPageTopPad;
	}

	.first-in-row > & {
		padding-left: 0px;
	}

	.last-in-row > & {
		padding-right: 0px;
	}

	&.no-top-padding {
		padding-top: 0px;
	}
}

.top-gutter {
	margin-top: $gutterWidth;
}

.column-padding {
	padding-left: $gutterWidth/2;
	padding-right: $gutterWidth/2;
}

.center-row {
	@include vertical-align;
}


.column-9{
	@include span-columns(9);
}

.column-3 {
	@include span-columns(3);
}


	.row--border-top {
		padding-top: $pageMargin/2;
		position: relative;

		&:before {
			content: ' ';
			position: absolute;
			display: block;
			top: 0;
			left: $pageMargin/2;
			width: calc( 100% - #{ $pageMargin } );
			border-top: $baseBorder;
		}
	}

	.row:first-child {
		margin-top: 0px;
	}


// Home Layout Sections

.home__main {
	& > .column-content {
		border-top: 8px solid transparent;
	}
	@include span-columns( 24 );
	@include media($screen900) {
		@include span-columns( 14 );
	}
}

.home__catalog {
	& > .column-content {
		border-top: 8px solid transparent;
	}
	@include span-columns( 24 );
	@include media($screen900) {
		@include span-columns( 19 );
		float: left !important;
	}
}

.home__filters {
	@include media($screen900) {
		@include span-columns( 5 );
	}
}

.home__context {
	& > .column-content {
		border-top: 8px solid transparent;
	}
	@include span-columns(24);
	@include media($screen900) {
		@include span-columns( 5 );
	}
}

// Item Layout Sections

.item__keystone {
	@include span-columns(24);
	padding-top: 600px + #{ $pageMargin *2 };

	@include media($screen900) {
		padding-top: 0px;
		@include span-columns( 5 );
	}
}

.item__metadata {
	@include span-columns(24);

	@include media($screen900) {
		@include span-columns( 5 );
	}
}

.item__viewer {
	@include span-columns(24);
	float:left;

	& .column-content {
		padding-left: 0px;

		@include media($screen900Max) {
			height: auto !important;
		}
	}

	@include media($screen900) {
		@include span-columns( 14 );
		float: right;

		& .column-content {
			padding-left: $gutterWidth/2;
		}
	}
}

.open-web__1 {
	@include span-columns(24);
}

.open-web__2 {
	@include span-columns(24);
	
	@include media($screen900) {
		@include span-columns(12);
	}
	
	&:first-of-type {
		padding-left: 0px;
	}
	
	&:last-of-type {
		padding-right: 0px;
	}
}

.open-web__1, .open-web__2 {
	@include media($screen900Max) {
		
		& .column-content {
			padding-left: 0px !important;
			padding-right: 0px !important;
		}
	}
}

.open-web--row {
	@include media($screen900Max) {
		background: $grayBg;
	}
}

.open-web__title {
	@include media($screen900Max) {
		margin-bottom: 0px;
	}
}

.rightContext .column-content {
	padding-right: 0px;
}
// #firstColumn, #context, #columnOne {
// 	@include media($screen900) {
//      	width: 285px;
//     }
// }

// #filters, #columnTwo {
// 	@include media($screen900) {
//      	width: 195px;
//     }
// }

// #featureText {
// 	@include media($screen900) {
//      	width: 480px;
//     }
// }

// #right, #assetColumn, #columnThree {
// 	@include media($screen900) {
//      	width: calc( 100% - #{ 285px + 195px } );
//     }
// }

// #results {
// 	@include media($screen900) {
//      	width: calc( 100% - #{  195px } );
//     }
// }
