/**
 * # Settings
 * It will apply annotations to all items from file.
 */

/// General Sans-Serif Typeface variable (eg. Helvetica, Arial)
$sansFont: 'Graphik Web', Helvetica, sans-serif;

/// General Serif Typeface variable (eg. Times New Roman, Georgia)
$serifFont: 'Lyon Display Web', 'Times', serif;

/**
 * Color Variables:
 * `$pageColor` - Bottom-most background color.
 * `$bodyFontColor` - Default font color.
 *
 */
$pageColor: rgb(255,255,255);
$elementColor: rgb(255,255,255);
$bodyFontColor: rgb(0,0,0);
$bodyFontLightColor: rgb(255,255,255);
$grayBg: rgb(246,246,242);

$labelGray: #7c7c7c;
$gray: $labelGray;
$shadowStyle: 1px 2px 3px rgba(0,0,0,0.3);
$imageShadowColor: rgba(0,0,0,0.3);
$imageShadow: 2px 2px 2px $imageShadowColor;
$buttonShadow: $imageShadow; //0px 1px 6px rgba(0,0,0,0.5);

$blockButtonBg: rgb(0,0,0);
$blockButtonHoverBg: rgb(50,50,50);

$activeLinkColor: #000; //#DC0319;
$linkHoverOpacity: 0.55;
$linkHoverColor: rgb(0,0,0);

$pageMargin: 24px;
$gutterWidth: 24px;

$logoWidth: 68px;
$navBarHeight: 52px;
$navBarMargin: $pageMargin;
$navBarOffset: $navBarHeight + $navBarMargin;

$footerOffset: 20px + $pageMargin;

// Typography
$base-font-family: $sansFont;
$heading-font-family: $serifFont;

// Font Sizes
$h1FontSize: 26.5px;
$h2FontSize: $h1FontSize;
$h2SmallFontSize: 22px;
$h3FontSize: 11.75px;
$subtitleAltSize: 14px;
$h4FontSize: 10px;
$overlayFontSize: 16px;
$largeBodyFontSize: 14.5px;
$blogContentFontSize: 14.5px;
$bodyFontSize: 11.75px;
$labelFontSize: $bodyFontSize;

// Icon Sizes
$xLargeIconSize: 26px;
$largeIconSize: 24px;
$mediumIconSize: 16px;

// Line height
$h1LineHeight: 30px;
$h2LineHeight: 30px;
$h1LetterSpacing: -0.2px;
$h2LetterSpacing: $h1LetterSpacing;
$baselineHeight: 24px;
$bodyLineHeight: 18px;
$largeBodyLineHeight: 22px;

// Other Sizes
$baseBorder-radius: 1px;
$base-spacing: $baselineHeight;
$base-z-index: 0;

// Buttons
$buttonBg: transparent;
$buttonHoverBg: rgb(0,0,0);

// Animation Settings
$defaultTransition: all 0.3s ease-out;

// Icons
$baseIconColor: rgba(0,0,0,0.25);
$baseIconHoverColor: rgba(0,0,0,1.0);
$darkIconHoverColor: rgb(150,150,150);
$iconButtonBg: rgba(255,255,255,0.5);
$iconButtonHoverBg: rgba(255,255,255,1.0);
$iconButtonMargin: 0px;
$iconButtonSize: 24px;
$iconButtonFontSize: 16px;

// Colors
$selectionYellow: rgba(253,207,0,0.15);
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Gray Text Gradient
$grayOne: rgba(0,0,0,0.65);
$grayTwo: rgba(0,0,0,0.4);
$grayThree: rgba(0,0,0,0.25);

// Border
$baseBorderSize: 1px;
$baseBorderColor: rgb(220,220,220);
$baseBorder: $baseBorderSize solid $baseBorderColor;

$subBorderSize: $baseBorderSize;
$subBorderColor: $baseBorderColor;
$subBorder: $baseBorder;

$verticalBorder: 1px dotted rgba(0,0,0,0.18);
$doubleBorderSize: 5px;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: lighten($baseBorderColor, 10%);

// Forms
$form-box-shadow: none; // inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Z-Index Levels
$zOverlay: 9000;
$zTop: 8000;
$zMid: 6000;
$zLow: 4000;
$zBottom: 0;

// Accent Text Colors
$assetAccentColor: 		rgb(250, 21, 27);
$eventAccentColor: 		rgb(145, 45, 141);
$collectionAccentColor: rgb(245, 146, 49);
$contextAccentColor: 	rgb(11, 33, 231);
$discourseAccentColor: 	rgb(43, 171, 112);


// Standard Spacing
$imageTextPadding: $bodyLineHeight;

$sectionTopPad: 0px;
$sectionBottomMargin: 42px;
$sectionHeaderMargin: 42px;

// Page Specific

//------- Item Page
$itemPageTopPad: 57px;
$itemPageAssetBg: #f7f7f7;
