/**
 * # Tools
 * Single purpose, utility classes for usage directly in the markup itself
 * More info on "Tools" according to MVCSS: http://mvcss.io/foundation/tools/
 */

 /**
  *  Border Top:
  * `.border-top` - A modifier class which adds a double border to the top of an element
  *
  *     @example
  *     div.border-top &nbsp;
	*      p Content here...
  */
.border-top {
 	margin-top: $baselineHeight/2;
 	padding-top: $baselineHeight/2 - $baseBorderSize;
 	border-top: $baseBorder;
}

/**
 * Double Border Top:
 * `.double-border-top` - A modifier class which adds a double border to the top of an element
 *
 *     @example
 *     div.border-top--double &nbsp;
 *       p Content here...
 */
.border-top--double {
	position: relative;
	padding-top: $baselineHeight/2;

	 &:before {
		content: ' ';
		display: block;
		position: absolute;
		top: 0px;
		left: 0;
		width: 100%;
		height: $doubleBorderSize;
		background: $pageColor;
		border-top: $baseBorder;
		border-bottom: $baseBorder;
	}
}

/**
 * Gray Bg:
 * `.gray-bg` - Makes use of project-wide variable '$grayBg'
 *
 *     @example
 *     div.gray-bg This has a gray background.
 */
.gray-bg {
	background: $grayBg;
}

.right-block {
	float: right;
	display: block;
}

.top-spacer {
	margin-top: $baselineHeight/2;
}

.left-spacing {
	padding-left: $gutterWidth/2;
}

.mobile--display-none {
  @include media($screen900Max) {
    display: none !important;
  }
}
.mobile--display-inline {
  display: inline;

  @include media($screen900) {
    display: none !important;
  }
}
.mobile--display-block {
  display: block;

  @include media($screen900) {
    display: none;
  }
}
