/**
 * # Typography
 * Type styles and base-level elements
 */

// Font Imports
// ----------------------------------------------------

@font-face {
  font-family: 'Graphik Web';
  src: url('fonts/Graphik-Regular-Web.eot');
  src: url('fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
     url('fonts/Graphik-Regular-Web.woff') format('woff'),
     url('fonts/Graphik-Regular-Web.ttf') format('truetype'),
     url('fonts/Graphik-Regular-Web.svg#Graphik-Regular') format('svg');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

%Graphik-Regular-Web, %SansRegular {
  font-family: 'Graphik Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Graphik Web';
  src: url('fonts/Graphik-RegularItalic-Web.eot');
  src: url('fonts/Graphik-RegularItalic-Web.eot?#iefix') format('embedded-opentype'),
     url('fonts/Graphik-RegularItalic-Web.woff') format('woff'),
     url('fonts/Graphik-RegularItalic-Web.ttf') format('truetype'),
     url('fonts/Graphik-RegularItalic-Web.svg#Graphik-RegularItalic') format('svg');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

%Graphik-RegularItalic-Web, %SansItalic {
  font-family: 'Graphik Web';
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Graphik Web';
  src: url('fonts/Graphik-Bold-Web.eot');
  src: url('fonts/Graphik-Bold-Web.eot?#iefix') format('embedded-opentype'),
     url('fonts/Graphik-Bold-Web.woff') format('woff'),
     url('fonts/Graphik-Bold-Web.ttf') format('truetype'),
     url('fonts/Graphik-Bold-Web.svg#Graphik-Bold') format('svg');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

%Graphik-Bold-Web {
  font-family: 'Graphik Web';
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Lyon Display Web';
  src: url('fonts/LyonDisplay-Regular-Web.eot');
  src: url('fonts/LyonDisplay-Regular-Web.eot?#iefix') format('embedded-opentype'),
     url('fonts/LyonDisplay-Regular-Web.woff') format('woff'),
     url('fonts/LyonDisplay-Regular-Web.ttf') format('truetype'),
     url('fonts/LyonDisplay-Regular-Web.svg#Lyon Display Web') format('svg');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

%LyonDisplay-Regular-Web {
  font-family: 'Lyon Display Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Lyon Display Web';
  src: url('fonts/LyonDisplay-RegularItalic-Web.eot');
  src: url('fonts/LyonDisplay-RegularItalic-Web.eot?#iefix') format('embedded-opentype'),
     url('fonts/LyonDisplay-RegularItalic-Web.woff') format('woff'),
     url('fonts/LyonDisplay-RegularItalic-Web.ttf') format('truetype'),
     url('fonts/LyonDisplay-RegularItalic-Web.svg#Lyon Display Web') format('svg');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

%LyonDisplay-RegularItalic-Web {
  font-family: 'Lyon Display Web';
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}
body {
  @include font-feature-settings("kern", "liga", "pnum");
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $bodyFontSize;
  -webkit-font-smoothing: antialiased;
  line-height: $baselineHeight;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $bodyFontSize;
  margin: 0;

  &.center {
    width: 100%;
    text-align: center;
  }
}

p {
  margin: 0;
}



hr {
  border-bottom: $baseBorder;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}


/**
 * Body Text:
 * `p` - General body text style.
 *
 *     @example
 *     p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur.
 */
p, %bodyFontStyle, .body {
  @extend %Graphik-Regular-Web;
  font-size: $bodyFontSize;
  line-height: $bodyLineHeight;
  color: $bodyFontColor;

  &.padded {
    margin: $bodyLineHeight 0 ($bodyLineHeight*2);
  }

  &.subtitle {
    font-size: $subtitleAltSize;
    line-height: 21px;

    & .link {
      font-size: $subtitleAltSize;
    }
  }

  &.large {
    font-size: $largeBodyFontSize;
    line-height: $largeBodyLineHeight;
    margin-bottom: $largeBodyFontSize;
  }
}

/**
 * Body Text (Serif):
 * `.body--serif` - General body text style, using Serif type.
 *
 *     @example
 *     p.body--serif Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur.
 */
.body--serif {
  @extend %LyonDisplay-Regular-Web;
  font-size: $largeBodyFontSize;
  line-height: $largeBodyLineHeight;

  & .link {
    @extend %LyonDisplay-Regular-Web;
    font-size: $largeBodyFontSize;
    line-height: $largeBodyLineHeight;
    color: inherit;
    text-decoration: underline;
  }
}


%boldBodyFontStyle {
  @extend %Graphik-Bold-Web;
  font-size: $bodyFontSize;
  line-height: $bodyLineHeight;
}

/**
 * Heading 1:
 * `h1` - Top-level heading style. Should not be used more than once in a column, row, or section. Reserved for titles.
 *
 *     @example
 *     h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     h1.italic Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
h1 {
  @extend %LyonDisplay-Regular-Web;
  font-size: $h1FontSize;
  line-height: $h1LineHeight;
  letter-spacing: $h1LetterSpacing;

  &.italic {
    @extend %LyonDisplay-RegularItalic-Web;
  }

  margin-bottom: $baselineHeight;

  &.no-margin {
    margin: 0px;
  }
  
  &.top-margin {
    margin-top: $sectionHeaderMargin;
  }
}

/**
 * Heading 2:
 * `h2` - Heading style for labeling sections. Most `.section-wrap` should have content that begins with a `h2`. Has a default bottom margin, assuming use as a section header.
 *
 *     @example
 *     .section-wrap
 *      h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *      p Content...
 *     br
 *     h2.no-margin Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     p Content...
 */
h2 {
  @extend %LyonDisplay-Regular-Web;
  font-size: $h2FontSize;
  line-height: $h2LineHeight;
  font-family: $serifFont;
  margin-top: $sectionHeaderMargin;
  margin-bottom: $sectionHeaderMargin; // $baselineHeight;
  letter-spacing: $h2LetterSpacing;
  
  width: 100%;
  text-align: center;

  &.left-align {
    width: auto;
    text-align: left;
  }

  &.small {
    font-size: $h2SmallFontSize;
  }

  &.italic {
  @extend %LyonDisplay-RegularItalic-Web;
  }

  &.half-margin {
    margin-top: $sectionHeaderMargin/2;
    margin-bottom: $sectionHeaderMargin/2;
  }

  &.large-body-margin {
    margin-bottom: $largeBodyFontSize;
  }

  &.subtitle-margin {
    margin-bottom: $subtitleAltSize;
  }

  &.no-margin {
    margin: 0px;
  }

  &.margin-top {
    margin-top: $sectionHeaderMargin;
  }

  &.all-caps {
    font-style: normal;
  }

  &.non-italic {
    font-style: normal;
  }
}

span.border-top {
  border-top: $baseBorder;
}

/**
 * Heading 3:
 * `h3` - Third-level heading style. For bottom margin consistent with font-size, use `.bottom-leading`
 *
 *     @example
 *     h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     p Content...
 *     h3.bottom-leading Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     p Content...
 */
h3, .h3 {
  font-size: $h3FontSize;
  line-height: $bodyLineHeight;
  font-family: $sansFont;
  font-weight: bold;

  &.bottom-leading {
    margin-bottom: $h3FontSize;
  }

  &.bottom-leading--half {
    margin-bottom: $h3FontSize/2;
  }

  &.bottom-leading--large {
    margin-bottom: $baselineHeight;
  }

  &.uppercase {
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

/**
 * Heading 4:
 * `h4` - Fourth-level heading style, primarilly used for subtitles.
 *
 *     @example
 *     h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
h4, .h4 {
  font-family: 'Graphik Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
  font-size: $h4FontSize;
  line-height: $bodyLineHeight;
  letter-spacing: 1px;
  text-transform: uppercase;
  
  &.half-lead-margin {
    margin-bottom: $sectionHeaderMargin/2;
  }

  &.bottom-leading {
    margin-bottom: $h4FontSize;
  }

  &.section-bottom-margin {
    margin-bottom: $sectionBottomMargin;
  }
}

/**
 * Links:
 * `a` - General link style.
 *
 *     @example
 *     a(href='#') Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
a {
  color: $bodyFontColor; //$action-color;
  text-decoration: underline;
  cursor: pointer;

  &.non-text, &.h3, &.h2, &.link-block {
    text-decoration: none;
  }

  &.link-block {
    display: block;
  }

  & p {
    text-decoration: none;
  }

  &:active,
  &:focus,
  &:hover {
    color: rgba($bodyFontColor,$linkHoverOpacity);
  }

  &:active,
  &:focus {
    outline: none;
  }

  &.selected {
    color: #000;
  }

  &.inactive {
    color: $grayTwo;
    &:hover {

    }
  }

  &.h3 {
    @extend h3;
  }
}

.link {
  @extend %bodyFontStyle;
  color: $grayTwo;
  cursor: pointer;
  text-decoration: none;

  &:hover, &:active, &.active, &:focus {
    color: $activeLinkColor;
  }

  .on-dark & {
    color: $bodyFontLightColor;
  }

  &--h4 {
    @extend h4;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
		line-height: 10px;
    
    &:hover, &:active, &:focus {
      border-bottom: 1px solid rgba(255,255,255,0.7);
    }

    &.active {
      border-bottom: 1px solid rgba(255,255,255,0.7);
    }
  }

  &.large {
    font-size: $subtitleAltSize;
  }
}

  .link--underline {
    @extend .link;
    color: $bodyFontColor;
    text-decoration: underline;

    .on-dark & {
      color: $bodyFontLightColor;
    }
    &:active,
    &:focus,
    &:hover {
      color: rgba($bodyFontColor,$linkHoverOpacity);
    }
  }

  .gray-link {
  	color: rgba(0,0,0,0.4);
  }

/**
 * Label:
 * `label` - Label text style, also used to wrap blocks of text.
 *
 *     @example
 *     label Simple Label
 *     br
 *     label Label Wrapping Content
 *      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
 *     br
 *     label Multiple Lines
 *      span Label Line One
 *      span Label Line Two
 *      span Label Line Three
 *     br
 *     label.center Center Label
 */
label {
  @extend %bodyFontStyle;
  font-size: $bodyFontSize;
  color: $bodyFontColor;
  text-align: left;

  &.large, &.large span {
  	font-size: $largeBodyFontSize;
  	line-height: 21px;

  	& .link {
  		font-size: $largeBodyFontSize;
  		line-height: 21px;
  	}
  }

  &.center {
		text-align: center;
    width: 100%;
	}

	& .link {
		font-size: $bodyFontSize;
		color: inherit;
		text-decoration: underline;
	}

  // Line One
	& span {
		word-wrap: break-word;
		display: block;
		color: rgba(0,0,0,1.0);
		@extend %boldBodyFontStyle;

    // Line Two
		& + span {
			@extend %LyonDisplay-Regular-Web;
			font-size: 14px;
			line-height: 18px;

      // Line Three
			& + span {
				//@extend %bodyFontStyle;
			}
		}
	}
}
  .bold-label {
  	font-weight:  700;
  	display: block;
  }

  .data-label {
  	color: rgba(0,0,0,0.65);
  	font-size: 10px;
  	line-height: 18px;
  	display: block;
  	width: 100%;
  }

.subhead {
  @extend %bodyFontStyle;
  line-height: $h1LineHeight;
}

.right-link {
  color: $grayTwo;
  float: right;
  line-height: inherit !important;
  cursor: pointer;
}

.subtitle-alt, .right-link {
  @extend %bodyFontStyle;
  display: block;
  font-size: $subtitleAltSize;
  font-family: $sansFont;
  font-weight: normal;
  line-height: $h2LineHeight;
  line-height: 21px;
  padding: 4.5px 0px;

  &.bottom-leading {
    margin-bottom: $subtitleAltSize;
  }

  &.small {
    font-size: 11.75px;
  }
}


.all-caps {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.on-dark  {
  & h1, & p, & h2 {
    color: #fff;
  }

  & a {
    color: $bodyFontLightColor;
    &:hover, &:focus {
        color: #fff;
      }

    &.gray-link {
      color: rgba(255,255,255,0.7);

      &:hover, &:focus {
        color: #fff;
      }
    }
  }

  & a.selected {
    color: rgba(255,255,255, 1);
  }

  & hr {
    border-color: #fff;
  }
}


.source {
	a {
		width: 100%;
		display: block;
		cursor: pointer;
		line-height: 18px;
	}

	label {
		color: rgba(0,0,0,0.4);
		font-size: 10px;
		line-height: 18px;
		display: block;
		width: 100%;
	}
}
