/**
 * # Main Sass File
 * main.scss is the main application stylesheet. It imports all
 * stylesheets used throughout the application and is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 *
 * File organization based on MVCSS: http://mvcss.io/
 */

// ----------------------------------------------------
// [I] Libraries
// ----------------------------------------------------

@import 'libraries/bourbon/app/assets/stylesheets/bourbon';
// Neat: Imported in core/layout: @import "libraries/neat/neat";

// ----------------------------------------------------
// [II] Core Imports
// ----------------------------------------------------

@import 'core/reset';
@import 'core/settings';
@import 'core/helpers';
@import 'core/layout';
@import 'core/typography';
@import 'core/tools';
@import 'core/base';

// ----------------------------------------------------
// [III] Modules
// ----------------------------------------------------

@import 'modules/debug';
@import 'modules/sections';
@import 'modules/buttons';
@import 'modules/icons';
@import 'modules/forms';
@import 'modules/lists';
@import 'modules/nav';
@import 'modules/thumbnails';
@import 'modules/filters';
@import 'modules/nanoscroller';
@import 'modules/ngprogress';
@import 'modules/spotlight';
@import 'modules/hierarchy';
@import 'modules/autocomplete';
@import 'modules/feed-row';
@import 'modules/footer';
@import 'modules/featured-slider';
@import 'modules/asset-viewer';
@import 'modules/articles';
@import 'modules/modals';
@import 'modules/slider-row';

// ----------------------------------------------------
// [IV] Page Specific Styles
// ----------------------------------------------------

@import '../app/item/item';

// ----------------------------------------------------
// [+] Inbox
// ----------------------------------------------------

html {
	overflow-x: hidden;
}

.location-map{
	width: 100%;
	height: $baselineHeight * 9;
	margin: 20px 0px 10px 0px;
	border: none; //$baseBorder;
}

.more-results{
	text-align: center;
	position: relative;
	// bottom: 24px;
    top: 0px;
}

.data-chunk {
	margin-bottom: $bodyLineHeight;

	& a {
		line-height: $bodyLineHeight;
		display: inline-block;
	}
	
	& cite {
		display: inline;
    	font-style: italic;
	}
}

$dateSpanColor: #000; // rgba(0,0,0,0.45);
$dateSpanHeight: 32px;
$dateSpanBottomPad: 15px;

.date-span-input {
	text-indent: 0px;
	padding: 0;
	margin-left: 0;
	height: auto;
	min-height: 1em;
	color: $dateSpanColor;
	cursor: default;
	
	&:hover {
		color: $dateSpanColor;
	}
	
	& input {
		float: left;
		display: inline-block;
		width:  66.6%;
		padding-left: 4px;
		height: $dateSpanHeight;
		color: $dateSpanColor;
		margin-bottom: $dateSpanBottomPad;
		
		&:active, &:focus {
			//border-color: rgba(0,0,0,0.75);
			color: #000 !important;
			outline: none;
		}
		
		&:hover {
			color: #000;
		}
		
		&.error {
			border-color: rgb(150,0,0);
			background: rgb(255,200,200);
		}
	}
	& select {
		display: inline-block;
		width:  20%;
	}
	& button {
		color: $dateSpanColor;
		padding: 0 15px;
		height: $dateSpanHeight;
		font-size: 10px;
		line-height: $dateSpanHeight;

		&:hover, &:active, &:focus {
			color: #fff;
			background: #000;
			box-shadow: none;
		}
	}
	& .button-toggle {
		color: $dateSpanColor;
		display: inline-block;
		width:  33.3%;
		margin-bottom: $dateSpanBottomPad;
		height: $dateSpanHeight;
		line-height: $dateSpanHeight;
		font-size: 10px;
		margin-left: 0px;
		border-left: none;
		white-space: nowrap;
		text-align:center;
		background: #F6F6F2;

		&:hover, &:active, &:focus {
			color: #fff;
			background: #000;
		}
	}
	& label {
		float:left;
		color: $dateSpanColor;
		display: inline-block;
		width:  30%;
		height: $dateSpanHeight;
		padding: 0 4px 0px 0px;
		white-space: nowrap;
	}
}

.listing {
	@extend %LyonDisplay-RegularItalic-Web;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	cursor: pointer;
	display: block;
	margin-bottom: $baselineHeight;
	
	& span {
		display: block;
	}
	
	& p span {
		display: inline;
	}
	
	& span, & p, & cite {
		cursor: pointer;
	}
  
	& cite {
		word-wrap: break-word;
		color: rgba(0,0,0,1.0);
		@extend %boldBodyFontStyle;
	}
	
	&:hover, &:active, &:focus {
		color: inherit;
		p {
			color: $bodyFontColor;
		}
		& .title {
			color: rgba($bodyFontColor,$linkHoverOpacity);
		}
	}
}

button.icon i.icon-search:before {
	top: calc(50% - 0.5px);
	left: calc(50% + 0.5px);
}

.crumbs {
	text-align: center;
	display:block;
	margin-bottom: $sectionHeaderMargin;
	line-height: $bodyLineHeight;
	min-height:$bodyLineHeight;
}

.crumbs__section {
	&:after {
		display: inline;
		content: '/';
		position: relative;
	}

	&:last-of-type {
		&:after {
			display:none;
		}
	}
}

.crumbs__crumb {
	padding: 0px 0.25em;
	cursor: pointer;
	display:inline-block;
	background: transparent;

	&.excluded {
		text-decoration: line-through;
	}

	& .divider {
		padding-left: 0.25em;
	}

	& i {
		position: static;
		display: inline-block;
		width: 1.3em;
		vertical-align: middle;
		margin-bottom: -0.2em;
	}

	&:hover, &:focus, &:active {
		& i {
			color: $bodyFontColor;
		}
	}
}

.blog-content .wp-caption-text, .blog-content .tiled-gallery, .blog-content .tiled-gallery-caption{
	display: none;
}

// Hotkeys overrides
// **********************

.cfp-hotkeys-close {
	border: none;

	&:active, &:hover, &:focus {
		background: none;
		color: $gray;
	}
}

.cfp-hotkeys-container {
	background: rgba(0,0,0,0.9);
	color: #fff;
}

.hotkeys__header {
	text-align: center;
}

.cfp-hotkeys-text {
	color: #fff;
}

$mobileMenuGap: 30px;

.home__filters, .column.home__filters {
	@include media($screen900Max) {
		position: fixed;
		width: calc(100% - #{ $mobileMenuGap });
		height: 100%;
   		overflow-y: auto;
		background: #fff;
		z-index:$zTop - 100;
		top: 0px;
		left: $mobileMenuGap;
		padding: ($navBarHeight + $pageMargin) $pageMargin $pageMargin $pageMargin !important;
		@include transition(transform linear 0.3s);
		@include transform( translateX(105%) );
		box-shadow: -5px 0px 25px rgba(0,0,0,0.3);

		&.slideOut {
			@include transform(translateX(0%));
		}
	}
}

.home__dismiss-bar {
	display:none;
	@include media($screen900Max) {
		display: block;
		background: transparent;
		position: fixed;
		left: 0;
		top: 0;
		width: $mobileMenuGap;
		height: 100%;
		z-index: $zTop;
	}
}