<thumbnail class="thumbnail" ng-class="{ }">
    <!-- 'fade-in' : imageLoaded -->
    <div class="thumbnail-wrap">
        <div class="thumbnail__image-wrap">
              <div class="slider__img" style="overflow:hidden;" ng-click="makeActive()">
                <div class="img image-blank">&nbsp;</div>
                <img alt="{{::labelOne}}" ng-src="{{ setUrl }}" data-external-api="{{::externalApi}}" data-external-asset-index="{{ ::externalAssetIndex }}" style="display: none;"/>
                <!-- <div class="gradient-overlay" ng-if="true"></div> -->
                <i class="icon icon-overlay xlg" ng-class="{ 'icon-video' : mediaType == 'vid', 'icon-audio' : mediaType == 'aud', 'icon-doc' : mediaType == 'doc', 'icon-3d' : mediaType == 'vir'  }" />
              </div>

            <a href="{{getLink()}}" class="slider__label" ng-class="::{ 'numbered' : numbered }" style="z-index:{{ 1000 - index }};">
                <i ng-if="numbered" class="position">{{ ::numbered }}</i>
                <!-- {{ imageWidth }} x {{ imageHeight }} -->
                <span ng-bind-html="::labelOne"></span> 
                <span ng-bind-html="::labelTwo"></span>
                <span ng-hide="labelThree.length < 2" ng-bind-html="::labelThree"></span>
            </a> 
            <i ng-click="openUrl('#/item/' + assetId)" title="#/item/{{assetId}}" class="icon-right x-large-circle slider__open-asset" ng-show="isActive" />
        </div>


    </div>
    <!-- <div class="thumbnail-dummy"></div>  -->
</thumbnail>
