#itemContent {
    padding-top: $navBarHeight;
}

.compare-cards {
    width: calc(100% + #{ 2*30px } );
    padding: 0 60px; //$pageMargin;
    margin: 0 -30px;

    &__content {
        width: auto;
        max-width: 800px;
        margin: 0 auto;       
        padding-left: 30px;
        padding-right: 30px;

        & h2 {
            text-align: center;
        } 
        & h1 {
            text-align: center;
        }
        & .subtitle-alt {
            display: block;
            text-align: center;
        }
    }
} 

// Selection Column Styles
$selColWidth: 320px;

#selColumn {
    position: fixed;
    top: 0px;
    right: 0px;
    width: $selColWidth;
    height: 100%;
    z-index: $zTop;
    overflow-y: hidden;

    &.restrict-height {
        height: $navBarHeight;
        min-height: $navBarHeight;
    }
}

#selColumnContent {
    background: $elementColor;
    padding: $pageMargin;
    overflow-y: scroll;
    height: 100%;
    @include transform(translateZ(0px));

    & h3 {
        margin-bottom: $sectionHeaderMargin;
    }
}

.content-row__wrap.hasSelectionColumn {
    width: calc( 100% - #{ $selColWidth });
}

.nav-spacer {
    height: $navBarHeight;
    width: 100%;
}

.nav-fake {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: $navBarHeight;
    background: $navBg;
    z-index: $zTop;

    &.clear {
        background: transparent;
    }
}


button.vjs-fullscreen-control {
    display: none;
}

.fullscreen .hide-in-fullscreen {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.show-in-fullscreen, button.show-in-fullscreen { 
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.fullscreen .show-in-fullscreen, .fullscreen button.show-in-fullscreen {
    position: relative;
    opacity: 1;
    pointer-events: all;
}

h3.item-creator {
    margin-bottom: 3px;
}

.item-date {
    @extend .subtitle-alt;
    padding: 3px 0px 0px 0px;
}

.comparison-row {
    width:100%;

    &.item__viewer .column-content {
        padding: 0px;
    }
}

.column--force-1 {
    width: 100% !important;
}
