<nav-bar username="{{username}}"
    link-text="{{ 'Back to Results' | i18next }}"
    usercurrentlocation=usercurrentlocation 
    hide-search="true" 
    hide-navigation="fullscreen"
    assetindex=assetindex totalassets=totalassets></nav-bar>

<div id="itemContent" class="content-row__wrap" ng-class="{ fullscreen : fullscreen, hasSelectionColumn : selectingItems }">
    <div class="content-row" style="overflow-y:hidden;">
        <div id="startRow" class="row" style="display: block; float:left; height: 0px; width: 100%;">&nbsp;</div>

        <!--<div ng-show="fullscreen && selectingItems"  class="column" style="float: left; width: {{ (1/(compareAssets.length + selectingItems)*50) + '%'  }}; height: 100%; color:white;" x-lvl-drop-target='true' x-on-drop='droppedItem(dragEl, dropEl)'>
            <h1>DROP HERE</h1><h1>DROP HERE</h1> <h1>DROP HERE</h1> <h1>DROP HERE</h1> <h1>DROP HERE</h1> <h1>DROP HERE</h1>
        </div>-->

        <div id="selColumn" ng-show="fullscreen" class="column" ng-class="{ 'restrict-height' : selectingItems == 0 }">
            <div class="nav-fake" ng-class="{ clear : selectingItems === 0 }">
                <button-group class="float-right">
                    <button title="{{ 'Back' | i18next }}" ng-click="togglePresentationMode()" class="nav-btn light-hover" ng-click>{{ 'Back' | i18next }}</button>
                    <button title="{{ 'Compare' | i18next }}" ng-click="toggleSelectionPane()" class="nav-btn light-hover" ng-click>{{ 'Compare' | i18next }}</button>
                </button-group>
            </div>
            <div class="nav-spacer"></div>
            <div id="selColumnContent" ng-show="selectingItems == 1">
                <h3>{{ 'compare_instructions' | i18next }}</h3>
                <div id="resultItems" class="thumbnail-sheet-1">
                    <div class="thumbnail-sizer"></div>
                     <!--x-lvl-draggable='true'-->
                    <div tabindex="-1" ng-repeat="asset in resultItems" ng-class="{ 'disabled' : compareAssetsIds.indexOf(asset._source['Meta-Id']) == 0, selected : compareAssetsIds.indexOf(asset._source['Meta-Id']) >= 0 }">
                        <asset-thumbnail 
                            ng-click="addToCompare(asset)"
                            no-link="true"
                            asset-id="{{ asset._id }}"
                            image-width="{{ asset._source['File']['width'] }}"
                            image-height="{{ asset._source['File']['height'] }}"
                            thumbnail-url="{{ findAssetField.thumbUrl(asset,2) }}"
                            label-one="{{ findAssetField.creator(asset) }}"
                            label-two="{{ findAssetField.title(asset) }}"
                            label-three="{{ findAssetField.date(asset) }}"
                            download-url="{{ asset._source.media[3] }}"
                            size="3">
                        </asset-thumbnail>
                    </div>
                </div>
            </div> 
        </div>

        <div id="columnThree" class="column item__viewer last-in-row" ng-class="{ 'comparison-row' : fullscreen }">
        	<div id="columnThreeContent" class="column-content baseline" >
                <div ng-repeat="asset in compareAssets" 
                    ng-hide="!fullscreen && !$first"
                    class="column asset-viewer__column" style="width: {{ (1/(compareAssets.length)*100) + '%'  }};" 
                    ng-class="{ 'column--force-1' : !fullscreen }">
        	        <asset-viewer removable-asset="!$first" asset="asset" fixed-position="!fullscreen" index="$index + 1"></asset-viewer>
                </div>
        	</div>
        </div> 

        <div id="columnOne" class="column item__keystone first-in-row" ng-hide="fullscreen">
             <div id="columnOneContent" class="column-content baseline" style="overflow-x:hidden;">
                <div class="section-wrap">
                    <h1 class=" no-margin e2e-title" ng-show="errorMsg" ng-bind-html="errorMsg | i18next"></h1>
                    <h3 class="item-creator e2e-name"  ng-bind-html="findAssetField.creator(asset)"></h3>
                    <h1 class=" no-margin e2e-title" ng-bind-html="findAssetField.title(asset)"></h1>
                    <span class="item-date small bottom-leading e2e-date" ng-bind-html="findAssetField.date(asset) | formatEpoch"></span>
                </div>
                <div ng-show="asset" class="section-wrap">
                    <br style="line-height:11.75px;"/>
                    <!-- Institution -->
                    <div ng-show="asset.instituteName" class="data-chunk">
                        <p ng-bind-html="asset.instituteName"></p>
                        <label class="data-label">{{ 'Institution' | i18next }}</label>
                    </div>

                    <div ng-show="collectionsArray.length > 0" class="data-chunk">
                      <a ng-repeat="collection in collectionsArray" ng-click="clearSearchTerm()" href="#?f=Collections:{{collection.id}}&v=curate" ng-bind="collection.name"></a>
                      <label class="data-label">{{ (collectionsArray.length > 1 ? 'Collections' : 'Collection') | i18next }}</label>
                    </div>
 
                    <!-- Collection -->
                    <!-- <div class="data-chunk">
                        <p>Graphic Arts Library</p>
                        <label class="data-label">Collection</label>
                    </div> -->

                    <!-- Project -->
                    <!-- <div class="data-chunk" ng-show="asset['Source-Record']['project_id']">
                        <p>{{ asset['Source-Record']["project_id"] }}</p>
                        <label class="data-label">{{ 'Project' | i18next }}</label>
                    </div> -->

                    <button-group class="icons button-row-2">
                        <!-- <button><i class="icon-star"></i><br/>Like</button> -->
                        <a id="downloadLink" title="{{ 'Download' | i18next }}" class="button" target="_blank" href="{{ asset.File['data']['imageUrl'] }}" download="{{ findAssetField.filename(asset) }}"  ng-click="trackAssetDownloads()"><i class="icon-download"></i><br/>{{ "Save" | i18next }}</a>
                        <button title="{{ 'Share' | i18next }}" ng-click="showShareOptions()"><i class="icon-share"></i><br/>{{ "Share" | i18next }}</button>
                    </button-group>

                </div>

                 <!-- Description -->
                <div class="section-wrap" ng-show="findAssetField.description(asset)">
                    <h2 class="small half-margin ">{{ 'Description' | i18next }}</h3>
                    <p class="body--serif">{{ findAssetField.description(asset) }}</p>
                </div>

                 <!-- Work Info -->
                <div class="section-wrap" ng-show="asset['Meta-WorkId'] || relatedAssets">

                    <h2 class="center" ng-show="relatedAssets.length > 0">{{ 'Related Objects' | i18next }}</h3>
                    <div id="relatedAssets" class="thumbnail-sheet-1">
                        <div class="thumbnail-sizer"></div>
                        <asset-thumbnail ng-repeat="asset in relatedAssets"
                            asset-id="{{ asset._id }}"
                            image-width="{{ asset._source['File']['width'] }}"
                            image-height="{{ asset._source['File']['height'] }}"
                            thumbnail-url="{{ findAssetField.thumbUrl(asset,2) }}"
                            label-one="{{ findAssetField.creator(asset) }}"
                            label-two="{{ findAssetField.title(asset) }}"
                            label-three="{{ findAssetField.date(asset) }}"
                            download-url="{{ asset._source.media[3] }}"
                            size="3">
                        </asset-thumbnail>
                    </div>
                    <div ng-show="relatedAssets && loadingRelatedAssets" id="loader-wrapper" class="more-results">
                        <i title="Loading" class="icon-asterisk icon-spin icon-large"></i>
                    </div>
                    <div style="text-align:center;" ng-show="asset['Meta-WorkId']">
                        <a title="{{ 'View Work' | i18next }}" href="/vww/#/work/{{asset['Meta-WorkId']}}" target="_blank" class="button uppercase">{{ "View Work" | i18next }}</a>
                    </div>
                </div><!-- End: Section Wrap -->
            </div>
        </div>

        <div id="columnTwo" class="column item__metadata" ng-hide="fullscreen">
            <div id="columnTwoContent" class="column-content baseline" style="overflow-x:hidden; min-height: 100vh;">
                <div class="section-wrap" ng-show="asset['Source-Record']">
                    <h2 class="small no-margin ">{{ "Object Details" | i18next }}</h3>
                    <h1 class="no-margin">&nbsp;</h1>
                    <div ng-repeat="(key,value) in  asset['Source-Record']" class="data-chunk" ng-show="formatMetadata( value )">
                        <p class="data-value" compile="formatMetadata(value, key)"></p>
                        <label class="data-label">{{ key | i18next }}</label>
                    </div>
                    <div ng-if="findAssetField.filename(asset)" class="data-chunk">
                        <p ng-bind-html="findAssetField.filename(asset)"></p>
                        <label class="data-label">{{ "Original Filename" | i18next }}</label>
                    </div>
                    <div ng-if="findAssetField.id(asset)" class="data-chunk">
                        <p ng-bind-html="findAssetField.id(asset)"></p>
                        <label class="data-label">{{ "SSID" | i18next }}</label>
                    </div>
                    <div ng-show="collectionsRights[0]">
                        <p ng-repeat="rights in collectionsRights">{{rights}}</p>
                        <label class="data-label">{{ "Collection Rights" | i18next }}</label>
                    </div>
                     <!--Hiding for SSC -->
                    <!-- <div style="text-align:center;">
                        <button class="uppercase" ng-click="viewAssetinSS(asset['Meta-Id'])"
                        ng-show="asset['Meta-Id']">{{ "Access Item" | i18next }}</button>
                    </div> -->
                </div>
            </div>
        </div>        
    <div id="contentBottom" class="row" style="display: block; float:left; height: 0px; width: 100%;">&nbsp;</div>

    <div class="row compare-cards" ng-show="fullscreen" style="background: #f7f7f7; float: left;">
        <div ng-repeat="asset in compareAssets track by $index" class="column" style="float: left; width: {{ (1/compareAssets.length*100) + '%'  }};">
            <div class="column-content compare-cards__content"> 
                <div class="section-wrap">
                    <h3 class="item-creator center"  ng-bind-html="findAssetField.creator(asset)"></h2>
                    <h1 class=" no-margin" ng-bind-html="findAssetField.title(asset)"></h1>
                    <span class="item-date small bottom-leading " ng-bind-html="findAssetField.date(asset) | formatEpoch"></span>
                </div>
                <div class="section-wrap">
                    <br style="line-height:11.75px;"/>
                    <div ng-show="asset.instituteName" class="data-chunk">
                        <p ng-bind-html="asset.instituteName"></p>
                        <label class="data-label">{{ 'Institution' | i18next }}</label>
                    </div>

                    <div ng-show="collectionsArray.length > 0" class="data-chunk">
                        <a ng-repeat="collection in collectionsArray" href="#?f=Collections:{{collection.id}}&v=curate" ng-bind="collection.name"></a>
                        <label class="data-label">{{ (collectionsArray.length > 1 ? 'Collections' : 'Collection') | i18next }}</label>
                    </div>

                    <div class="section-wrap" ng-show="findAssetField.description(asset)">
                        <h2 class="small half-margin ">{{ 'Description' | i18next }}</h3>
                        <p class="body--serif">{{ findAssetField.description(asset) }}</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <nav-footer ng-hide="fullscreen"></nav-footer>
    </div>
</div><!-- Item Content -->

<share-modal description="findAssetField.title(asset)" url="getAssetUrl(asset['Meta-Id'])" media-url="findAssetField.thumbUrl(asset,2)"></share-modal>
