<div ng-controller="pdfViewerCtrl" ng-dblclick="zoomIn()" style="height:100%;">
  <div id="loader-wrapper" class="more-results overlay-wrap--center" style="position: absolute; z-index:1000;">
     <!--ng-show="loading"-->
    <i class="icon-asterisk icon-spin icon-large"></i>
  </div>

  <button-group class="top-right vertical icons-block circle" style="z-index:9000;">
      <button ng-click="zoomIn()" title="Zoom In"><i class="icon-zoom-in"></i></button>
      <button ng-click="zoomOut()" title="Zoom Out"><i class="icon-zoom-out"></i></button>
      <button ng-click="fit()" title="Zoom Fit"><i class="icon-zoom-fit"></i></button>
  </button-group>

  <div id="pdf-wrap" style="height: 100%;width:100%; position: relative;overflow:hidden;" style="z-index:8000;">
    <canvas id="pdf-canvas"></canvas>
  </div>

  <div class="pdfNav icons-block circle" ng-show="getPageCount() > 1" style="z-index:9000;">
    <button ng-click="goPrevious()"><i class="fa fa-caret-left"></i></button>
    <span>{{ pageNum }} OF {{ getPageCount() }}</span>
    <button ng-click="goNext()"><i class="fa fa-caret-right" style="padding: 0 6px;"></i></button>
  </div>
</div>
