<div>
	<div ng-hide="blogEntries.length < 1">
		<!--Searching title-->
		<h2 ng-show="isSearchResults" class="center" style="margin-bottom: 0px;">{{ "From the Archives" | i18next }}</h2>
		<h4 ng-show="isSearchResults" class="center lead-margin">{{ "Related Blog Posts" | i18next }}</h4>
		<!--Not searching title-->
		<h2 ng-show="!isSearchResults" class="center" style="margin-bottom: 0px;">{{ "From the Editors" | i18next }}</h2>
		<h4 ng-show="!isSearchResults" class="center lead-margin" ng-bind-html="'blog_new' | i18next"></h4>
	</div>
	<div>
		<div class="article blog-post--e2e" ng-repeat="entry in blogEntries"  ng-if="entry" style="">
			<a href="{{ ::entry.URL }}" target="_blank" class="h3 bottom-leading center uppercase" ng-bind-html="::entry.title"></a>
			<div ng-bind-html="entry.formattedContent | limitEls:3" class="blog-content"></div>
			<div class="source" ng-show="::entry.URL">
				<a ng-click="blogSrcClicked(entry)" href="{{ ::entry.URL }}" target="_blank">{{ "Artstor Blog" | i18next }}</a>
				<label>{{ "Source" | i18next }}</label>
			</div>
		</div>
	</div>
</div>
