#results.column.home__catalog(ng-if="showCatalogView" style="float: right; overflow-y: hidden;")
	//- Column needs to have overflow-y hidden in order to avoid a double-scrollbar appearing occasionally
	#resultsContent.column-content.baseline
		//- Collection Information Panel
		div(ng-if="collection")
			h2.center(style="margin-bottom:0px")
				| {{ collection.name }}
			h4.center.half-lead-margin
				| {{ collection.institution_id | formatIds:schema.institutionId:true }}
			.collection-desc(ng-bind-html="collection.description | words:colDescLimit")
			div(style="text-align:center;") 
				a.link( ng-click="toggleColDesc()" ng-show="minWordsLong(collection.description,50)")
					| {{ descExpandLink | i18next }}
		h2.center(ng-hide="isSearching() || sortByDate || sortByTitle || sortByNewest ==='asc'" style="margin-bottom:0;")
			| {{ "Recent Additions" | i18next }}
		h2.center(ng-show="!collection && !noResults" ng-hide="!isSearching() && sortByNewest ==='desc'" style="margin-bottom:0;")
			| {{ "Results" | i18next }}
			span(ng-show="sortByRelevance")
				| : {{ "Most Relevant" | i18next }}
			span(ng-show="sortByTitle ==='asc'")
				| : A&ndash;Z
			span(ng-show="sortByTitle ==='desc'")
				| : Z&ndash;A
			span(ng-show="sortByDate ==='asc'")
				| : {{ "Earliest Date" | i18next }}
			span(ng-show="sortByDate ==='desc'")
				| : {{ "Latest Date" | i18next }}
			span(ng-show="sortByNewest ==='asc'")
				| : {{ "Earliest Added" | i18next }}
			span(ng-show="sortByNewest ==='desc'")
				| : {{ "Recently Added" | i18next }}
		filter-crumbs(ng-hide="noResults")
		//- No Results Message
		div.row.section-wrap(ng-if="noResults")
			h2.subtitle-margin(ng-i18next="no_results.heading")
			p.subtitle(ng-i18next="[html]no_results.message")
		//- Search Failed Message
		.row.section-wrap(style='padding-top: 24px;', ng-show='searchFailed')
			h2.subtitle-margin(ng-i18next='search_failed.heading')
			p.subtitle(ng-i18next='[html]search_failed.message')
		//- Show Recent Additions when there are no results
		.row.section-wrap(ng-if="noResults && $storage.newReleaseAssets")
			.span-24.thumbnail-sheet-bricks
				h2.center
					| {{ "Recent Additions" | i18next }}
				#catalogNoResults(masonry)
					asset-thumbnail(ng-repeat="asset in $storage.newReleaseAssets | limitTo : 8 track by $index" 
						asset-id="{{ asset._id }}" 
						use-masonry="{{ true }}" 
						image-width="{{ asset._source['File']['width'] }}" 
						image-height="{{ asset._source['File']['height'] }}" 
						thumbnail-url="{{ findAssetField.thumbUrl(asset,2) }}" 
						media-type="{{ asset._source.Media }}" 
						label-one="{{ findAssetField.creator(asset) }}" 
						label-two="{{ findAssetField.title(asset) }}" 
						label-three="{{ findAssetField.date(asset) | formatEpoch }}" 
						download-name="{{ findAssetField.filename(asset) }}" 
						download-url="{{ findAssetField.downloadUrl(asset) }}" 
						last-asset="{{ $last }}")
		#resultContentThumbs.thumbnail-sheet-bricks.column-content.full-width.ctlg-col-res(style="padding: 0px;")
			#catalogResults(masonry)
				.thumbnail-sizer &nbsp;
				asset-thumbnail(ng-repeat="asset in assets track by $index"
						use-masonry="{{ true }}"
						image-width="{{ asset._source['File']['width'] }}"
						image-height="{{ asset._source['File']['height'] }}"
						asset-id="{{ asset._id }}"
						thumbnail-url="{{ findAssetField.thumbUrl(asset,2) }}"
						media-type="{{ asset._source.Media }}"
						label-one="{{ findAssetField.creator(asset) }}"
						label-two="{{ findAssetField.title(asset) }}"
						label-three="{{ findAssetField.date(asset) | formatEpoch }}"
						download-name="{{ findAssetField.filename(asset) }}"
						download-url="{{ findAssetField.downloadUrl(asset) }}"
						last-asset="{{ $last }}")       
			#infiniteLoadMore.more-results.row(ng-click="scrollToTop()" style="top:0px;padding-bottom:50px;" ng-show="loadingMoreResults" ng-hide="noResults")
				i.icon-asterisk.icon-spin.icon-large