#context.column( ng-class="[panelClass, { 'home__context' : !showCatalogView, 'column-0' : showCatalogView }]")
	#contextContent.column-content.baseline
	//- Related Collections
	.section-wrap(ng-show="contextInfo.relCollections.length > 0")
		h1.context-heading.center {{ "Related Collections" | i18next }}
		a.stack__wrap.non-text(ng-repeat="collection in contextInfo.relCollections | limitTo:3" href="#/?v=curate&f=Collections:{{ collection.id }}")
			.centered-stack
				.img.image-blank
				.img.image-blank
				img(src="http://viewer2.artstor.org{{ collection.image }}" )
			label.center
				span {{ collection.name | formatIds:schema.collections }}
				span {{ collection.desc }}
				span ({{ collection.count }})	   
	//- For Names Contextual Info
	.section-wrap(ng-repeat="namesObj in contextInfo.namesArray | unique:'preferredTerm'", ng-if='namesObj.preferredTerm')
		h1.context-heading.no-margin {{namesObj.preferredTerm}}
		h1.italic {{namesObj.prefRole | titlecase}}
		// <img ng-show="namesObj.portrait" src="assets/images/artist-portraits/{{namesObj.portrait}}" title="{{namesObj.portraitTitle}}">
		p.body--serif(ng-show='namesObj.noteText', style='margin-bottom: 15.5px;') {{namesObj.noteText}}
		.data-chunk(ng-repeat='field in nameRecordFieldOrder', ng-show='namesObj[field]')
		p {{namesObj[field] | titlecase}}
		label.data-label {{ "name." + field | i18next }}
		.data-chunk(ng-show='namesObj.associativesArray')
		p(ng-repeat='associate in namesObj.associativesArray')
			| {{associate.associativeName}} {{associate.term}}
		label.data-label {{ 'Related People/Corporate Bodies' | i18next }}
		.data-chunk
		p
			a(ng-click="contextInfoSrcClicked( 'SSN - ' + namesObj.preferredTerm )", href='http://catalog.sharedshelf.artstor.org/vww/#/name/{{namesObj.id}}', target='_blank') Shared Shelf Names
		label.data-label {{ "Source" | i18next }]
	//- For TGN Contextual Info
	.section-wrap(ng-repeat="tgnObj in contextInfo.tgnArray | unique:'preferredName'", ng-if='tgnObj.preferredName')
		h1.context-heading.no-margin
			| {{ ::tgnObj.preferredName}}
		h1.italic
			| {{ ::tgnObj.placeType | titlecase }}
		.location-map(ng-show='tgnObj.latitude && tgnObj.longitude', id='map-{{tgnObj.subjectId}}')
		p.body--serif(ng-show='tgnObj.note', style='margin-bottom: 15.5px;') {{ ::tgnObj.note}}
		.hierarchy-group(ng-show='tgnObj.hierarchyArray', style='margin-bottom: 15.5px;')
			.hierarchy(ng-repeat='child in ::tgnObj.hierarchyArray', ng-if='child.name.length > 2', class='hierarchy-chart-{{$index}}', ng-class-odd="'odd'")
				span.hierarchy-index
					| {{$index}}
				span.text(ng-hide='child.subjectID')
					| {{ ::child.name}} ({{ ::child.type}})
				span.link(ng-show='child.subjectID') {{ ::child.name}} ({{ ::child.type}})
			.data-chunk
		p
			a(ng-click="contextInfoSrcClicked( 'TGN - ' + tgnObj.preferredName )", href='http://catalog.sharedshelf.artstor.org/vww/#/place/{{tgnObj.subjectId}}', target='_blank') {{ "Shared Shelf Places" | i18next }}
		label.data-label {{ "Source" | i18next }}
	//- For AAT Contextual Info
	.section-wrap(ng-repeat="aatObj in contextInfo.aatArray  | unique:'preferredTerm'", ng-if='aatObj.preferredTerm')
		h1.context-heading.no-margin
			| {{ aatObj.preferredTerm }}
		h1.italic
			| {{ aatObj.preferredQualifier | titlecase }}
		p.body--serif(ng-show='aatObj.englishScopeNote', style='margin-bottom: 15.5px;') {{aatObj.englishScopeNote}}
		.hierarchy-group(ng-show='aatObj.hierarchyArray', style='margin-bottom: 15.5px;')
			.hierarchy(ng-repeat='child in aatObj.hierarchyArray', ng-if='child.name.length > 2', class='hierarchy-chart-{{$index}}', ng-class-odd="'odd'")
				//- span.hierarchy-index
				//-     | {{$index}}
				span.text(ng-hide='child.subjectId')
					| {{child.name}}
				span.link(ng-show='child.subjectId') {{child.name}} 
		.data-chunk
		p
			a(ng-click="contextInfoSrcClicked( 'AAT - ' + aatObj.preferredTerm )", href='http://catalog.sharedshelf.artstor.org/vww/#/concept/{{aatObj.subjectId}}', target='_blank') {{ "Shared Shelf Concepts" | i18next }}
		label.data-label {{ "Source" | i18next }}
	//- For Wikipedia Contextual Info
	.section-wrap(ng-repeat='wikiTerm in contextInfo.wikiArray')
		h1.context-heading {{ ::wikiTerm.title}}
		p.body--serif(style='margin-bottom: 15.5px;') {{ ::wikiTerm.description | words:80 }}
		.source
			a(ng-click="contextInfoSrcClicked( 'Wikipedia - ' + wikiTerm.title )", href='https://wikipedia.org/wiki/{{::wikiTerm.title}}', target='_blank') {{ "Wikipedia" | i18next }}
			label {{ "Source" | i18next }}
	.section-wrap(ng-if='contextInfo.jstorDocs.length > 0')
		h1.context-heading.center(style='margin-bottom: 0;') Articles
		h4.center.lead-margin JSTOR Journals & Books
		a.listing(ng-click='jstorArtClicked(doc)', target='_blank', ng-href='http://www.jstor.org/stable/{{doc.doi}}', ng-repeat='doc in contextInfo.jstorDocs | limitTo:10')
			span.title(ng-bind-html='doc.tb')
			span.title(ng-if='!doc.tb', ng-bind-html='doc.ti[0]')
			cite(ng-bind-html='doc.jo')
			cite(ng-bind-html='doc.dab')
			p
				//- Publisher for Book
				| {{doc['book_publisher'][0]}}
				span(ng-if="!doc['book_publisher']") {{doc['volume-formatted']}}
				//- Published Date
				| ({{doc.pubdate | date:"MMM yyyy"}})
	// Subject Guides disabled for SSC Release
		.section-wrap(ng-hide="searchTerm || (filterArray.length > 0) || (filterArrayExclude.length > 0)")
			subject-guides
	.section-wrap
		blog-posts
