.crumbs
    div(ng-hide='collection')
        span.crumbs__section(ng-show='dateFilterApplied')
            span.crumbs__crumb(ng-click='clearDateFilter()')
                | {{ appliedDateFilter.min + " " + appliedDateFilter.minEra }}&ndash;{{ appliedDateFilter.max + " " + appliedDateFilter.maxEra }}
                i.icon-close-circle.removeIcon
        span.crumbs__section(ng-repeat="(key, value) in facets" ng-if="activeFilters[key] || activeFiltersExclude[key]")
            span.crumbs__crumb(ng-repeat='(appliedFilter, value) in activeFilters[key]', ng-click='toggleFilter(key, appliedFilter)', ng-show='appliedFilter.length > 0')
                | {{ appliedFilter | formatIds:key | i18next }}
                i.icon-close-circle.removeIcon
                span.divider(ng-hide='$last') /
            span.crumbs__crumb.excluded(ng-repeat='(appliedFilter, value) in activeFiltersExclude[key]', ng-click='toggleFilter(key, appliedFilter, true)', ng-show='appliedFilter.length > 0')
                | {{ appliedFilter | formatIds:key | i18next }}
                i.icon-close-circle.removeIcon
                span.divider(ng-hide='$last') /