<div class="bordered-list">
	<h2 class="center">{{ "Themes" | i18next }}</h2> 
    <a class="link" ng-repeat="guide in ::subjectGuides" ng-if="::guide.url" ng-href="{{ ::guide.url }}" target="_blank">
        {{ ::guide.title}}
    </a> 
</div>