thumbnail.hover-access__wrap(ng-class="{ 'masonry-brick' : useMasonry, 'wide-brick' : wide, 'tall-brick' : tall == 1, 'tall-brick-2' : tall == 2, 'tall-brick-3' : tall == 3, 'tall-brick-4' : tall == 4, 'tall-brick-5' : tall == 5  }" tabindex="-1" ng-focus="inResults = true;")
    .thumbnail-wrap
        a.thumbnail__image-wrap(ng-click="thumbnailClicked(externalApi)" ng-href="{{ noLink ? '' : (uri ? uri : '#/item/' + assetId) }}" target="{{ uri ? '_blank' : '_self' }}")
            .thumbnail-dummy
                .img-wrap(style="overflow:hidden;")
                    .img.image-blank &nbsp;
                    img(alt="{{::labelTwo}}" ng-src="{{ setUrl }}" data-external-api="{{::externalApi}}" data-external-asset-index="{{ ::externalAssetIndex }}" style="display: none;")
                    i.icon.icon-overlay.xlg(ng-class="{ 'icon-video' : mediaType == 'vid', 'icon-doc' : mediaType == 'doc', 'icon-3d' : mediaType == 'vir'  }")
                .hover-access(ng-if="!externalApi && !noLink")
                    button.icon(title="{{ 'Share' | i18next }}" ng-click="$event.preventDefault(); showShareOptions(); $event.stopPropagation();")
                        i.icon-share
                    //-button.icon.roll-open
                        i.icon-more
                    //-button-group.left-roll-icons 
                        button.icon.roll-1
                            i.icon-star
                        a.button.icon.roll-2(target="_blank" href="{{ ::downloadUrl }}" download="{{ ::downloadName }}" ng-click="trackDownload()")  
                            i.icon-download
            a.thumbnail__label(ng-if="!externalApi" ng-href="{{ noLink ? '' : ( '#/item/' + assetId ) }}" ng-class="::{ 'numbered' : numbered }")
                i.position(ng-if="numbered") {{ ::numbered }}
                span.e2e-name(ng-bind-html="::labelOne")
                span.e2e-title(ng-bind-html="::labelTwo")
                span.e2e-date( ng-hide="labelThree.length < 2" ng-bind-html="::labelThree")
            a.thumbnail__label(ng-if="externalApi" ng-class="::{ 'numbered' : numbered }")
                i.position(ng-if="numbered") {{ ::numbered }}
                span.e2e-name(ng-bind-html="::labelOne")
                span.e2e-title(ng-bind-html="::labelTwo")
                span.e2e-date( ng-hide="labelThree.length < 2" ng-bind-html="::labelThree")
