
@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: url('../docs/fonts/OpenSans-Regular-webfont.eot');
    src:
        local('Open Sans'),
        local('OpenSans'),
        url('../../docs/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../docs/fonts/OpenSans-Regular-webfont.woff') format('woff'),
        url('../../docs/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'Open Sans Light';
    font-weight: normal;
    font-style: normal;
    src: url('../../docs/fonts/OpenSans-Light-webfont.eot');
    src:
        local('Open Sans Light'),
        local('OpenSans Light'),
        url('../../docs/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../docs/fonts/OpenSans-Light-webfont.woff') format('woff'),
        url('../../docs/fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
}


/*h1 {
	font-family: "Source Sans Pro",sans-serif;
	font-weight: 100;
	color: #111;
	font-size: 2em;
	margin-bottom: 20px;
}*/
code.sg {
    font-size: 0.9em;
}

.sg-code { 
    font-size: 1em; 
    white-space: pre-wrap;
}

.jumbo {
    background: #FAFAFA none repeat scroll 0% 0%;
    border-bottom: 1px solid #EEE;
    text-align: center;
    font-family: "Source Sans Pro",sans-serif;
    text-rendering: optimizelegibility !important;
    -moz-osx-font-smoothing: grayscale; 
    padding-top: 48px;
	padding-bottom: 48px; 
}

.sg-block {
	background: #fff;
}

html.sg
{
    height: auto;
    overflow: auto;
    background-color: #fff;
    font-size: 14px;
}

body.sg
{
    /*font-family: 'Open Sans', sans-serif;*/
    line-height: 1.5;
    color: #4d4e53;
    background-color: white;
    margin: 8px;
}

p.sg {
    font-size: 14px;
    max-width: 500px;
}

a.sg, a.sg:visited, a.sg:active {
    color: #0095dd;
    text-decoration: none;
}

a.sg:hover {
    text-decoration: underline;
}

header.sg
{
    display: block;
    padding: 0px 4px;
}

tt.sg, code.sg, kbd.sg, samp.sg, code.sg, .sg-code  {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

#main {
    float: left;
    /*width: 70%;*/
}

article.sg dl {
    margin-bottom: 40px;
}

section {
    display: block;
    background-color: #fff;
    padding: 12px 24px;
    /*border-bottom: 1px solid #ccc;*/
    margin-right: 30px;
}

section.sg-block {
    margin-right: 0px;
    padding-right: 0px;
}

.variation {
    display: none;
}

.signature-attributes {
    font-size: 60%;
    color: #aaa;
    font-style: italic;
    font-weight: lighter;
}

nav.sg
{
    display: block;
    float: right;
    margin-top: 28px;
    width: 30%;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    padding-left: 16px;
}

nav.sg ul {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    font-size: 100%;
    line-height: 17px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav.sg ul a, nav.sg ul a:visited, nav.sg ul a:active {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    line-height: 18px;
    color: #4D4E53;
}

nav.sg h3 {
    margin-top: 12px;
}

nav.sg li {
    margin-top: 6px;
}

footer.sg {
    display: block;
    padding: 6px;
    margin-top: 12px;
    font-style: italic;
    font-size: 90%;
}

h1.sg, h2.sg, h3.sg, h4.sg {
    font-family: 'Open Sans', sans-serif;
    /*font-weight: 200;*/
    /*margin: 0;*/
}

h1.page-title
{
    font-family: 'Open Sans Light', sans-serif;
    font-size: 48px;
    /*//letter-spacing: -2px;*/
    margin: 12px 24px 20px;
    line-height: 1.5;
    color: #4d4e53;
}

h2.index {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 12px;
    color: #4d4e53;
    line-height: 1.5;
}

h1.sg, h2.sg {
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    padding-top: 2em;
    border-top: 1px solid #ccc;
}

/*h2, h3
{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 12px;
}
*/
h3.sg + .sg {
     margin-top: 0px; 
}

h4.sg
{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: -0.33px;
    margin-bottom: 12px;
    color: #4d4e53;
    text-transform: none;
    line-height: 1.5;
}

h5.sg, .container-overview .subsection-title
{
    font-size: 120%;
    font-weight: bold;
    letter-spacing: -0.01em;
    margin: 8px 0 3px 0;
}

h6.sg
{
    font-size: 100%;
    letter-spacing: -0.01em;
    margin: 6px 0 3px 0;
    font-style: italic;
}