nav-bar(search-term='{{searchTerm}}', search-function='updateSearchTerm', action='{{actionText}}', usercurrentlocation='usercurrentlocation')
div(home-scroll='', loaded-assets='{{ assets.length }}', total-assets='{{ assetCount }}', infinite-scroll-function='loadMoreResults', is-home-view='isSearching() === false && !showCatalogView && showHomeView')
//- Will eventually wrap around components
#bodyContent.content-row__wrap(lr-infinite-scroll='loadMoreResults')
	.row.featuredCollections-cntnr(ng-if='isSearching() === false && !showCatalogView && showHomeView', style='padding:0px; position: relative; margin-bottom: 18px;')
		.featuredCollections(ng-repeat='feature in featuredCollections')
			.massive-feature(style='overflow-y: hidden; overflow-x: hidden;', ng-class="{ 'fade-out' : currentFeaturedColIndex !== $index }")
				img(ng-src='{{ feature.image }}')
			.content-row.feature-text__wrap(ng-class="{ 'fade-out' : currentFeaturedColIndex !== $index }")
				.feature-text__container
					.link-block.massive-feature__text
						a.non-text.feature-link(ng-click="toggleFilter('Collections', feature.collectionId)", ng-href='#?v=curate&f=Collections:{{feature.collectionId}};', target='_self')
							h4 {{ "Featured Collection" | i18next }}
							h1
								span(ng-show='feature.title', style='font-style:italic;', ng-bind-html='feature.title')
								|  {{ feature.subtitle }} 
							div(style='padding: 0 42px 24px;')
								hr                 
								p {{ feature.description }}
						.massive-feature__control
							i.icon-dot(ng-repeat='slide in featuredCollections', ng-click='changeFeaturedCol($index)', ng-class="{'active':currentFeaturedColIndex==$index}")
		.massive-feature-relative
	.content-row(ng-class="{ 'minimum-top-margin' : !showHomeView }", style='overflow-y:hidden; overflow-x: hidden;')
		//- Exhibition/Home View: Filter Column
		.home__dismiss-bar(ng-show='filterMenuShowing' ng-click='toggleFilterMenu()')
		#filters.column.home__filters.scrollable-section-header(style='overflow-x:visible;')
			#filtersContent.column-content
				.section-wrap.baseline
					h2.center.no-margin(ng-if='isSearching() === true || showCatalogView ')
						| {{ "Browsing Collections" | i18next }}
					h2.center.no-margin(ng-if='isSearching() === false && !showCatalogView') 
						| {{ "Browse Collections" | i18next }}
					h4.center.section-bottom-margin
						span(ng-show='assetCount') {{assetCount | number}}&nbsp;{{ "Objects" | i18next }}           
					filter-group.full-spacing.border-top
						h2.small.half-margin.left-align(ng-i18next='filter.Look')
						filter.exhbt-view.filter--left-icon(ng-class="{ 'active' : !showCatalogView }", ng-click='loadExhibitionView()')
							i.icon-context
							| &nbsp;{{ "filter.Exhibition" | i18next }}
						|                         
						filter.ctlg-view.filter--left-icon(ng-class="{ 'active' : showCatalogView }", ng-click='loadDisplayView()')
							i.icon-grid
							| &nbsp;{{ "filter.Catalog" | i18next }}
						|                     
					filter-group.full-spacing.border-top(ng-if='showCatalogView')
						h2.small.half-margin.left-align(ng-i18next='filter.Sort')
						|                         
						span {{ "filter.Order" | i18next }}
						//- Catalog View Sorting
						filter(ng-show='showCatalogView && isSearching()', ng-click='selectSortByRelevance()', ng-class="{'active': sortByRelevance }")
							| {{ "filter.Relevance" | i18next }}
						|                         
						filter(ng-show='showCatalogView', ng-click='toggleSortByTitle()', ng-class="{'active': sortByTitle}")
							| {{ "Title" | i18next }}
							span(ng-show="sortByTitle == 'asc'") &darr;
							span(ng-show="sortByTitle == 'desc'") &uarr;
						filter(ng-show='showCatalogView', ng-click='toggleSortByDate()', ng-class="{'active': sortByDate}")
							| {{ "Date" | i18next }}
							span(ng-show="sortByDate == 'asc'") &darr;
							span(ng-show="sortByDate == 'desc'") &uarr;
						filter(ng-show='showCatalogView', ng-click='toggleSortByNewest()', ng-class="{'active': sortByNewest}")
							| {{ "Newest" | i18next }}
							span(ng-show="sortByNewest == 'asc'") &darr;
							span(ng-show="sortByNewest == 'desc'") &uarr;
					filter-group.border-top.no-margin(ng-show='facetsLoaded')
						h2.small.half-margin.left-align(style='padding:2px;')
							| {{ "filter.Filter" | i18next }}
							a.link.right-block(style='padding-top:8px;', ng-show='isFiltering()', ng-click='clearFilters()') Clear All
					//- Filter Group is hidden if there are no terms
					filter-group(ng-repeat='(key, value) in facets | fetchFacets:true', ng-show='showHideFilterGroupLabel(key, value) && facetsLoaded', data-state='inactive', ng-class='{ collapsed : !expandGroup[key] }')
						.filter-group__label(ng-click='expandGroup[key] = !expandGroup[key]')
							| {{ key | i18next }}
							span(ng-show='activeFilters[key] || activeFiltersExclude[key]') &nbsp;({{ countAppliedFilters(key) }} Applied)                       
							i.fa.fa-caret-down.fa-lg.expandIcon
						//- Applied Filters
						filter.active(ng-repeat='(appliedFilter, value) in activeFilters[key]', ng-click='toggleFilter(key, appliedFilter)', ng-show='appliedFilter.length > 0')
							| {{ appliedFilter | formatIds:key | i18next }}
							i.icon-close-circle.removeIcon
						//- Excluded Filters
						filter.active.excluded(ng-repeat='(excludedFilter, value) in activeFiltersExclude[key]', ng-click='toggleFilter(key, excludedFilter, true)', ng-show='excludedFilter.length > 0')
							| {{ excludedFilter | formatIds:key | i18next }}
							i.icon-close-circle.removeIcon
						//- Available Facets
						filter(ng-repeat='filter in value.buckets | limitTo:10', ng-hide='(activeFilters[key][filter.key] == true) || (activeFiltersExclude[key][filter.key] == true)')
							.link-wrap(ng-class="[key]" ng-click='toggleFilter(key, filter.key)')
								| {{ filter.key | formatIds:key | i18next }} ({{ filter["doc_count"] }}) {{ event.title | words:10 }}                             
							i.fa.fa-minus-circle.fa-lg.excludeIcon(title='Exclude Results', ng-click='toggleFilter(key, filter.key, true)')                          
							i.fa.fa-plus-circle.fa-lg.includeIcon.on-hover(title='Filter Results', ng-click='toggleFilter(key, filter.key)')
						filter(ng-show='value.buckets.length > 10', ng-click='openFilterModal(key, value.buckets, !isSearching())')
							a.link View All
					filter-group(ng-show='facetsLoaded', data-state='inactive', ng-class="{ collapsed : !expandGroup['Date'] }")
						//- <ng-if="dateRange.min != 0 || dateRange.max != 0"
						.filter-group__label(ng-click="expandGroup['Date'] = !expandGroup['Date']")
							| {{ "Date" | i18next }}
							span(ng-show='dateFilterApplied') &nbsp;(Applied)
							i.fa.fa-caret-down.fa-lg.expandIcon
						filter.date-span-input.no-buttons
							//- class="slider"
							form(name='dateFilterForm')
								input(ng-keydown='validateDateInput($event)', title='From Date', name='min', type='number', min='0', ng-model='dateFilter.min', ng-class="{ 'error' : !dateFilterForm.min.$valid }", ng-enter='applyDateFilter()')
								.button-toggle(title='From Era', ng-click='dateFilter.minEra = toggleEra(dateFilter.minEra)') {{ dateFilter.minEra }}
								br                         
								input(ng-keydown='validateDateInput($event)', title='To Date', name='max', type='number', min='0', ng-model='dateFilter.max', ng-class="{ 'error' : !dateFilterForm.max.$valid }", ng-enter='applyDateFilter()')
								.button-toggle(title='To Era', ng-click='dateFilter.maxEra = toggleEra(dateFilter.maxEra)') {{ dateFilter.maxEra }}
								button.button--inline-50(title="{{ 'Reset' | i18next }}", ng-click='clearDateFilter()', ng-disabled='loadingDateFilter') {{ &apos;Reset&apos; | i18next }}
								button.button--inline-50(title="{{ 'apply_filter' | i18next }}", ng-click='applyDateFilter()', ng-disabled='loadingDateFilter') {{ &apos;apply_filter&apos; | i18next }}
								p(style='font-weight: normal; display: block; padding: 6px 0;')
									| {{dateFilterMessage}}  
					filter-group(ng-repeat='(key, value) in facets | fetchFacets', data-state='inactive', ng-show='showHideFilterGroupLabel(key, value) && facetsLoaded', ng-class='{ collapsed : !expandGroup[key] }')
						.filter-group__label(ng-click='expandGroup[key] = !expandGroup[key]')
							| {{ key | i18next }}
							span(ng-show='activeFilters[key] || activeFiltersExclude[key]')&nbsp;({{ countAppliedFilters(key) }} Applied)
							i.fa.fa-caret-down.fa-lg.expandIcon
						//- Applied Filters
						filter.active(ng-repeat='(appliedFilter, value) in activeFilters[key]', ng-click='toggleFilter(key, appliedFilter)', ng-show='appliedFilter.length > 0')
							| {{ appliedFilter | formatIds:key | i18next }}
							i.icon-close-circle.removeIcon
						//- Excluded Filters
						filter.active.excluded(ng-repeat='(excludedFilter, value) in activeFiltersExclude[key]', ng-click='toggleFilter(key, excludedFilter, true)', ng-show='excludedFilter.length > 0')
							| {{ excludedFilter | formatIds:key | i18next }}
							i.icon-close-circle.removeIcon
						//- Available Facets
						filter(ng-repeat='filter in value.buckets | limitTo:10', ng-hide='(activeFilters[key][filter.key] == true) || (activeFiltersExclude[key][filter.key] == true)')
							.link-wrap(ng-class="[key]" ng-click='toggleFilter(key, filter.key)')
								| {{ filter.key | formatIds:key | i18next }} ({{ filter["doc_count"] }}) {{ event.title | words:10 }}
								|                             
								i.fa.fa-minus-circle.fa-lg.excludeIcon(title='Exclude Results', ng-click='toggleFilter(key, filter.key, true)')
								|                             
								i.fa.fa-plus-circle.fa-lg.includeIcon.on-hover(title='Filter Results', ng-click='toggleFilter(key, filter.key)')
						filter(ng-show='value.buckets.length > 10', ng-click='openFilterModal(key, value.buckets, !isSearching())')
							a.link View All
			//- Catalog/Display View: Results Column
			//- Scroll note: 'scrollable'/nanoscroller breaks the infinite scroll, will need a better solution to style the scrollbar
		catalog-column
		//- Exhibition/Home View: Results Column
		#right.column.home__main(ng-show='!showCatalogView', style='overflow-x: visible;')
			#rightContent.column-content.baseline.no-top-padding(ng-if='!showCatalogView')
				//- Exhibition: No Results Message
				.row.section-wrap(style='padding-top: 24px;', ng-show='noResults')
					h2.subtitle-margin(ng-i18next='no_results.heading')
					p.subtitle(ng-i18next='[html]no_results.message')
				//- Exhibition: Search Failed Message
				.row.section-wrap(style='padding-top: 24px;', ng-show='searchFailed')
					h2.subtitle-margin(ng-i18next='search_failed.heading')
					p.subtitle(ng-i18next='[html]search_failed.message')
				//- Exhibition: Show Recent Additions when there are no results
				.row.section-wrap(ng-if='noResults && $storage.newReleaseAssets')
					.span-24.thumbnail-sheet-bricks
						h2.center {{ "Recent Additions" | i18next }}
						#ExhibitionNoResults(masonry='')
							asset-thumbnail(ng-repeat='asset in $storage.newReleaseAssets | limitTo : 8 track by $index', asset-id='{{ asset._id }}', use-masonry='{{ true }}', image-width="{{ asset._source['File']['width'] }}", image-height="{{ asset._source['File']['height'] }}", thumbnail-url='{{ findAssetField.thumbUrl(asset,2) }}', media-type='{{asset._source.Media}}', label-one='{{ findAssetField.creator(asset) }}', label-two='{{ findAssetField.title(asset) }}', label-three='{{ findAssetField.date(asset) | formatEpoch }}', download-name='{{ findAssetField.filename(asset) }}', download-url='{{ findAssetField.downloadUrl(asset) }}')
						#loader-wrapper.more-results(ng-show='searchingAssets')
							i.icon-asterisk.icon-spin.icon-large
						.row.centered(ng-hide='searchingAssets')
							button.btn-dark.view-more-btn(title="{{ 'View More' | i18next }}", ng-click='showMoreResults()') {{ "View More" | i18next }}
				//- Home View: Recent Additions and Trending
				.row(ng-if='!noResults && !isSearching()')
					.column-content.inner-column-24(style='overflow-x:visible;')
						.section-wrap
							h2.center {{ "Recent Additions" | i18next }}
							#homeRecent.thumbnail-sheet-2.mobile--display-none(masonry='')
									asset-thumbnail(ng-repeat='asset in $storage.newReleaseAssets | limitTo : 6 track by $index', use-masonry='{{ true }}', image-width="{{ asset._source['File']['width'] }}", image-height="{{ asset._source['File']['height'] }}", asset-id='{{ asset._id }}', thumbnail-url='{{ findAssetField.thumbUrl(asset, 3) }}', media-type='{{asset._source.Media}}', label-one='{{ findAssetField.creator(asset) }}', label-two='{{ findAssetField.title(asset) }}', label-three='{{ findAssetField.date(asset) | formatEpoch }}', download-name='{{ findAssetField.filename(asset) }}', download-url='{{ findAssetField.downloadUrl(asset) }}', last-asset='{{ $last }}')
								.row.centered.mobile--display-none(ng-hide='searchingAssets')
								button.btn-dark.view-more-btn(title="{{ 'View More' | i18next }}", ng-click='showMoreResults()') {{ "View More" | i18next }}
							.slider-row(slider-row)
								slider-thumb(ng-repeat='asset in $storage.newReleaseAssets | limitTo : 6 track by $index', index='$index', slider-id='homeRecentSlider', image-width="{{ asset._source['File']['width'] }}", image-height="{{ asset._source['File']['height'] }}", asset-id='{{ asset._id }}', thumbnail-url='{{ findAssetField.thumbUrl(asset,2) }}', media-type='{{asset._source.Media}}', label-one='{{ findAssetField.creator(asset) }}', label-two='{{ findAssetField.title(asset) }}', label-three='{{ findAssetField.date(asset) | formatEpoch }}', download-name='{{ findAssetField.filename(asset) }}', download-url='{{ findAssetField.downloadUrl(asset) }}', first-asset='$first')
								button.slider-row__view-more(title="{{ 'View More' | i18next }}", ng-hide='searchingAssets', ng-click='showMoreResults()') {{ "View More" | i18next }}                
							#loader-wrapper.more-results(ng-show='searchingAssets')
								i.icon-asterisk.icon-spin.icon-large
				//- Exhibition: Search Results and Featured
				.row(ng-if='!noResults && !searchFailed && isSearching()')
					.column-content.inner-column-24(style='overflow-x:visible;')
						.section-wrap
							h2.center(ng-hide='collection', style='margin-bottom:0;') {{ "Top Results" | i18next }}  
							h3.center(ng-show='message.searchExpanded')
								| No exact match was found for &ldquo;{{ searchTerm }}&rdquo;
								span(ng-show='isFiltering()') &nbsp;with the selected filters
								|. Here are expanded results.
							filter-crumbs
							//- Collection Information Panel
							div(ng-if='collection')
								h2.center(style='margin-bottom:0px') {{ collection.name }}           
								h4.center.half-lead-margin {{ collection.institution_id | formatIds:schema.institutionId:true }}          
								.collection-desc(ng-bind-html='collection.description | words:colDescLimit')
								div(style='text-align:center;')
									a.link(ng-click='toggleColDesc()', ng-show='minWordsLong(collection.description,50)') {{ descExpandLink | i18next }}               
								hr                  
							#ExhibitionResults.thumbnail-sheet-2.mobile--display-none(masonry='')
								asset-thumbnail(ng-repeat='asset in assets | limitTo : 8  track by $index', use-masonry='{{ true }}', image-width="{{ asset._source['File']['width'] }}", image-height="{{ asset._source['File']['height'] }}", asset-id='{{ asset._id }}', thumbnail-url='{{ findAssetField.thumbUrl(asset,3) }}', media-type='{{asset._source.Media}}', label-one='{{ findAssetField.creator(asset) }}', label-two='{{ findAssetField.title(asset) }}', label-three='{{ findAssetField.date(asset) | formatEpoch }}', download-name='{{ findAssetField.filename(asset) }}', download-url='{{ findAssetField.downloadUrl(asset) }}')             
							.row.centered.mobile--display-none(ng-hide='searchingAssets && assets.length < 8')
								button.btn-dark.view-more-btn(title="{{ 'View More' | i18next }}", ng-click='showMoreResults()') {{ "View More" | i18next }}
							.slider-row(slider-row)
								slider-thumb(ng-repeat='asset in assets | limitTo : 6 track by $index', index='$index', slider-id='homeRecentSlider', image-width="{{ asset._source['File']['width'] }}", image-height="{{ asset._source['File']['height'] }}", asset-id='{{ asset._id }}', thumbnail-url='{{ findAssetField.thumbUrl(asset,2) }}', media-type='{{asset._source.Media}}', label-one='{{ findAssetField.creator(asset) }}', label-two='{{ findAssetField.title(asset) }}', label-three='{{ findAssetField.date(asset) | formatEpoch }}', download-name='{{ findAssetField.filename(asset) }}', download-url='{{ findAssetField.downloadUrl(asset) }}', first-asset='$first')
								button.slider-row__view-more(title="{{ 'View More' | i18next }}", ng-hide='searchingAssets && assets.length < 6', ng-click='showMoreResults()') {{ "View More" | i18next }}
							#loader-wrapper.more-results(ng-show='searchingAssets')
								i.icon-asterisk.icon-spin.icon-large
				//- Home View: Top Collections
				.row.section-wrap(ng-if='!noResults && !collection', ng-show='!isEmpty(newTopCollectionsArray)')
					h2 {{newTopCollectionsHeading | i18next}}
					//- ng-if is used because limiTo is not behaving correctly
					a.span-8.non-text.newtopCol(ng-repeat='collection in newTopCollectionsArray | limitTo:3', ng-if='$index < 3', target='_self', ng-click='toggleFilter(schema.collections, collection.id)', href='#/?v=curate&f=Collections:{{ collection.id }}')
						.centered-stack
							.img.image-blank &nbsp;   
							.img.image-blank &nbsp;     
							img(src='http://viewer2.artstor.org{{ collection.image }}')
						label.center
							span {{ collection.name }}
							span {{ collection.desc }}
							span ({{ collection.count }})
				//- Exhibition View: Events
				.row.section-wrap(ng-if='searchEvents.length > 0 && isSearching()')
					h2
						| {{ userLocation }} 
						span(ng-bind-html="'Exhibitions and Shows' | i18next")
					.row.feed-list
						.feed-block-1.event(ng-repeat='event in searchEvents | limitTo:5', ng-click='openEventfulUrl(event.url)')
							.feed-title {{ event.title }}
							.feed-info {{ event["venue_name"] }}
							.feed-date
								| {{ toShortDate(event["start_time"]) }}
								span(ng-show="event['stop_time']") &nbsp;&ndash;&nbsp;{{ toShortDate(event["stop_time"])}} 
							.feed-tag
								| {{ ::currentTag(event[&apos;start_time&apos;]) }}
		//- Exhibition View: Show Context Panel on right when searching
		context-panel(panel-class='rightContext', ng-show='!showCatalogView', context-info='contextInfo', search-term='{{searchTerm}}', filter-array='filterArray', filter-array-exclude='filterArrayExclude')
		#contentBottom.row(style='display: block; float:left; height: 0px; width: 100%;') &nbsp;
		#feed.row.feed-row.baseline(ng-hide='showCatalogView || events.length < 4 || isSearching()')
			h2 {{ userLocation }} {{ "Exhibitions &amp; Events" | i18next }}
			.feed-block.event.medium(ng-repeat='event in events | limitTo : 5', ng-click='openEventfulUrl(event.url)')
				.feed-title {{ ::event.title | words:10 }}
				.feed-info(ng-bind-html="::event['venue_name']")
				.feed-date
					| {{ ::toShortDate(event["start_time"]) }}
					span(ng-show="event['stop_time']") &nbsp;&ndash;&nbsp;{{ ::toShortDate(event["stop_time"])}}
				.feed-tag
					| {{ ::currentTag(event[&apos;start_time&apos;]) }}
			br(style='clear:both;')
		//- Begin External Collections
		#ext-col.row.bottom-margin.full-width.open-web--row(style='clear: both; padding-bottom: 24px;', ng-if='!showCatalogView && ( RijksmuseumAssets.length > 0 || brooklynAssets.length > 0)')
			.section-wrap.border-top(style='padding-top: 0px;')
				h2.open-web__title {{ "open_art_title" | i18next }}
				//- Brooklyn Museum API data ** Start **
				.column-padding(ng-class="{ 'open-web__1' : RijksmuseumAssets.length < 1, 'open-web__2' : RijksmuseumAssets.length > 0 }")
					.column-content.gray-bg(ng-if='brooklynAssets.length > 0')
						div(style='margin-top: 0px;')
							h2.small(style='margin: 15px 0 0 0;', ng-click='loadMoreBrooklynResults()') Brooklyn Museum
							h4.center(style='margin-bottom: 15px;') BROOKLYN, NEW YORK
							#brooklynResults.mobile--display-none(masonry='', ng-class="{ 'thumbnail-sheet-4' : RijksmuseumAssets.length < 1, 'thumbnail-sheet-2' : RijksmuseumAssets.length > 0 }")
								asset-thumbnail(ng-repeat='brooklynAsset in brooklynAssets  track by $index', use-masonry='{{ true }}', external-asset-index='{{$index}}', external-api='brooklyn', asset-id='{{ brooklynAsset.id }}', label-one='{{ brooklynAsset.collections[0].name }}', label-two='{{ brooklynAsset.title }}', label-three='{{ brooklynAsset.object_date_begin }}–{{ brooklynAsset.object_date_end }}', uri='https://www.brooklynmuseum.org/opencollection/objects/{{ brooklynAsset.id }}', thumbnail-url='https://d1lfxha3ugu3d4.cloudfront.net/images/opencollection/objects/size4/{{ brooklynAsset.primary_image }}', download-url='https://d1lfxha3ugu3d4.cloudfront.net/images/opencollection/objects/size4/{{ brooklynAsset.primary_image }}', last-asset='{{ $last }}')
							.slider-row(slider-row)
								slider-thumb(ng-repeat='asset in brooklynAssets track by $index', index='$index', slider-id='brooklynSlider', asset-id='{{ asset.id }}', thumbnail-url='https://d1lfxha3ugu3d4.cloudfront.net/images/opencollection/objects/size4/{{ asset.primary_image }}', label-one='{{ asset.collection }}', label-two='{{ asset.title }}', label-three='{{ asset.object_date_begin }}–{{ asset.object_date_end }}', uri='{{ asset.uri }}', download-url="{{ asset.images['0'].uri }}", first-asset='$first')
							#loader-wrapper.more-results(ng-show='loadingExternalMuseumResults')
								i.icon-asterisk.icon-spin.icon-large
				//- Brooklyn Museum API data ** End **
				//- Rijksmuseum API data ** Start **
				.column-padding(ng-class="{ 'open-web__1' : brooklynAssets.length < 1, 'open-web__2' : brooklynAssets.length > 0 }")
					.column-content.gray-bg(ng-if='RijksmuseumAssets.length > 0')
						div(style='margin-top: 0px;')
							h2.small(style='margin: 15px 0 0 0;', ng-click='loadMoreRijksmuseumResults()') Rijks Museum
							h4.center(style='margin-bottom: 15px;') Amsterdam, Netherlands
							#rijksResults.mobile--display-none(masonry='', ng-class="{ 'thumbnail-sheet-4' : brooklynAssets.length < 1, 'thumbnail-sheet-2' : brooklynAssets.length > 0 }")
								asset-thumbnail(ng-repeat='rijksAsset in RijksmuseumAssets  track by $index', use-masonry='{{ true }}', external-asset-index='{{$index}}', external-api='rijks', uri='{{ rijksAsset.links.web }}', asset-id='{{ rijksAsset.objectNumber }}', thumbnail-url='{{ rijksAsset.webImage.url }}', label-one='{{ rijksAsset.principalOrFirstMaker }}', label-two='{{ rijksAsset.title }}', label-three="{{ rijksAsset.longTitle.split(',')[rijksAsset.longTitle.split(',').length - 1] }}", download-url=' {{ rijksAsset.webImage.url }}', last-asset='{{ $last }}')                     
							.slider-row(slider-row)
								slider-thumb(ng-repeat='asset in RijksmuseumAssets track by $index', index='$index', slider-id='rijksSlider', asset-id='{{ asset.objectNumber }}', thumbnail-url='{{ asset.webImage.url }}', label-one='{{ asset.principalOrFirstMaker }}', label-two='{{ asset.title }}', label-three="{{ asset.longTitle.split(',')[asset.longTitle.split(',').length - 1] }}", download-url='{{ asset.webImage.url }}', uri='{{ asset.links.web }}', first-asset='$first')
							#loader-wrapper.more-results(ng-show='loadingExternalMuseumResults')
								i.icon-asterisk.icon-spin.icon-large
						//- End Rijksmuseum API
		//- End external collections
		//- Home View: Spotlight
		.row.container.baseline(style='float: left;', ng-if='showHomeView')
			.spotlight__large-image
				.section-wrap(ng-if='gaze.imageUrl')
					h2.half-margin {{ &apos;spotlight.title&apos; | i18next }}
					a.link-block(href='#/item/{{ gaze.assetId }}')
					img.spotlight__image(src='{{ gaze.imageUrl }}')
					span.spotlight__caption {{ gaze.description }}       
			.spotlight__list
				.section-wrap
					h2.half-margin(ng-bind-html="( 'spotlight.links.title' | i18next )")                  
					span.spotlight__description
						div(ng-repeat="listContent in $storage['fridayLinksPosts'][0].listContentArray", ng-show="$storage['fridayLinksPosts'].length > 0")
							span.bold-count {{ $index + 1 }}
							span.content(ng-bind-html='listContent')
		nav-footer(ng-hide='showCatalogView', is-extended='showHomeView')
		//- end: bodyContentWrap
//- end: bodyContent
share-modal(description='shareDesc', url='shareUrl', media-url='shareMediaUrl')
#filterModal.modal
	.modal-bg(ng-click='hideFilterModal()')
	.modal-content
		.modal-header
			button.icon.icon-close.close.round(title="{{ 'Close' | i18next }}", ng-click='hideFilterModal()')
			h2.center.no-margin {{ filterModal.field | i18next }}
			h4.center {{filterModal.filters.length}} facets
		.modal-body
			p.modal-toggle
			| Sort by 
			a.link(ng-if="(filterModal.field === 'Collections') || (filterModal.field === 'Meta-InstitutionId')", ng-click="setFilterModalSort('label')", ng-class="{'active': filterModal.order=='label'}") Facet Title
			a.link(ng-if="(filterModal.field !== 'Collections') && (filterModal.field !== 'Meta-InstitutionId')", ng-click="setFilterModalSort('key')", ng-class="{'active': filterModal.order=='key'}") Facet Title
			|  / 
			a.link(ng-click="setFilterModalSort('-doc_count')", ng-class="{'active': filterModal.order=='-doc_count'}") Frequency            
			.modal-pagination(style='float:right;', ng-hide='numberOfPages() < 2')
				i.fa.fa-caret-left(ng-disabled='filterModal.page == 0', ng-click='filterModal.page=filterModal.page-1')
				|  {{filterModal.page+1}} OF {{numberOfPages()}}
				i.fa.fa-caret-right(ng-disabled='filterModal.page >= numberOfPages()', ng-click='filterModal.page=filterModal.page+1')
			div(ng-show='filterModalLoading')
				#loader-wrapper.more-results
					i.icon-asterisk.icon-spin.icon-large
			.modal-columns(ng-hide='filterModalLoading', ng-class="{ 'short-columns' : filterModal.filters.length < 50 }")
				filter.filter__inline-block(ng-repeat='filter in filterModal.filters | orderBy:filterModal.order | startFrom:filterModal.page*filterModal.pageSize | limitTo:filterModal.pageSize')
					span(ng-if='!filter.label', ng-click='hideFilterModal(); toggleFilter(filterModal.field, filter.key)') {{ filter.key | formatIds:filterModal.field }} ({{filter.doc_count}}) 
					span(ng-if='filter.label', ng-click='hideFilterModal(); toggleFilter(filterModal.field, filter.key)') {{ filter.label }} ({{filter.doc_count}})  
					i.fa.fa-minus-circle.fa-lg.excludeIcon(title='Exclude Results', ng-click='hideFilterModal(); toggleFilter(filterModal.field, filter.key, true)')                    
					i.fa.fa-plus-circle.fa-lg.includeIcon.on-hover(title='Filter Results', ng-click='hideFilterModal(); toggleFilter(filterModal.field, filter.key)')
#scrollToTop.scrollTop.show-below-content.hidden(title="{{ 'Scroll to Top' | i18next }}", ng-click='scrollToTop()')
	//- Visibility controlled by CustomScroll.js
	i.icon-up.x-large-circle
