/**
 * # Blog Articles
 * Styles used to override Wordpress post formatting and display article previews
 */


.article {
	color: $bodyFontColor;

	margin-bottom: $baselineHeight;
	border-top: $subBorder;
	padding-top: 18px; //9px;

	&:first-of-type {
		border-top: none;
	}

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: $bodyFontColor;

		& .link {
			color: $discourseAccentColor;
		}
	}

	span.link {
		text-align: left;
	}

	& .subhead {
		color: $discourseAccentColor;
		line-height: $baselineHeight;
		margin-top: $baselineHeight/2;
	}

	& img {
		width: 100%;
		height: auto;
		margin: $imageTextPadding 0px;
	}

	& p {
		margin-bottom: 15.5px;
	}

	h3, a.h3 {
		display: block;
		color: #000;

		&.bottom-leading {
			margin-bottom: 15.5px;
		}
	}
}

.collection-desc,
.collection-desc p,
.collection-desc font {
	font-family: 'Lyon Display Web' !important;
	font-weight:  400 !important;
	font-style:   normal !important;
	font-stretch: normal !important;
	font-size: $blogContentFontSize !important;
	line-height: 22px !important;
	text-align: center;
}

.collection-desc {
	max-width: 550px;
	padding: 0px $pageMargin;
	margin: 0 auto;

	& p {
		margin-bottom: $blogContentFontSize !important;
	}
}

.expand-text__hover-reveal {
	.expand-text {
		opacity: 0;
		@include transition(opacity linear 0.2s);
	}

	&:hover {
		& .expand-text {
			opacity: 1;
		}
	}
}

.expand-text {

}

.wp-caption {
	width: 100% !important;
}
.blog-content, .blog-content p {
	font-family: 'Lyon Display Web' !important;
	font-weight:  400 !important;
	font-style:   normal !important;
	font-stretch: normal !important;
	font-size: $blogContentFontSize !important;
	line-height: 22px !important;

 	$blogLiIndent: 1.0em;

 	& li {
 		padding-left: $blogLiIndent;
 	}

 	& ul {
 		margin-bottom: $largeBodyFontSize;
 	}

	& li:before {
		content: '\2192';
		font-family: 'Graphik Web';
		font-size: 11.75px;
		font-stretch: normal;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		display: inline-block !important;
		width: ($blogLiIndent + 0.3em) !important;
		margin-left: -1 * ($blogLiIndent + 0.3em) !important;
	}
}
.blog-content a {
	//color: black !important;
	text-decoration: underline !important;
	cursor: pointer !important;
}

.blog-cat{
	line-height: 18px !important;
	margin: 12px 0px !important;
}
