/**
 * # Asset Viewer
 * Styles used to view large images on the item page, and overrides for viewer components:
 * -OpenSeaDragon
 */

// Full screen background
.fullpage .openseadragon-canvas canvas {
	background: rgba(0,0,0,1) !important;
}

// Item page image viewer background
.item-content .openseadragon-canvas canvas {
	background: rgba(0,0,0,0.02) !important;
}

.content-row__wrap.fullscreen {
	background: #000;
}

.item__viewer {
	@include media($screen900Max) {
		margin: 0 -30px;
    	width: calc(100% + 60px);

		& .column-content {
			padding-top: 0px;
		}
	}
}

.asset-viewer {
	&__wrap {
		pointer-events: none;
		position: relative;
		width: 100%;
		height: auto;
		// This math is wrong, and the layout needs to be adjusted
		margin-bottom: $pageMargin;
		min-height: 200px;
		overflow-y: hidden;

		&.fixed {
			@include media($screen900) {
				position: fixed;
				height: calc(100% - #{$navBarHeight + ($pageMargin * 2) } );
				width: calc(100% - #{ $outerMargin });
				min-height: calc(100% - #{ $navBarHeight });
			}
		}

		@include media($screen900Max) {
			padding: 0px;

			& .asset-viewer {
				margin: 0px;
			}
		}
	}

	pointer-events: all;
	background: $itemPageAssetBg;
	margin: 0 -1*$gutterWidth;
	position: relative;
	min-height: 200px;
	height: calc(100% - #{ $pageMargin*2 } );
	
	.fixed & {
		@include media($screen900) {
			position: relative;
			margin: 0 $gutterWidth/2;
			width: calc(58.33% - #{ $gutterWidth + $pageMargin });
		}
	}

	.fullscreen & {
		background: transparent;
		height: 100%;
		margin: 0px;
	}
	
}

.item {
	display: block;
	position: relative;
	max-width: 100%;
	max-height: 600px;
	margin: 0px auto;
	padding: $pageMargin 0px;

	@include media($screen900) {
		padding: 0;
		margin: 0;
		top: 50%;
		left: 50%;
		@include transform( translateX(-50%) translateY(-50%));
		max-width: 100%;
		max-height: 500px;
		max-width: calc(100% - #{ $gutterWidth } );
		max-height: calc(100% - #{ $gutterWidth } );
	}
}

.video-player{
	background: #000;
	width: 100%; // calc(100% - #{ $gutterWidth } ) !important;
	height: 100%; //calc(100% - #{ $gutterWidth } ) !important;
	max-width: 100%;
	max-height: 100%;
}

.pdfNav {
	display: block;
	position: absolute;
	bottom: $gutterWidth/2;
	left: 50%;
	@include transform( translateX(-50%));

	& button {
		margin-bottom: 0px;

		& .fa-caret-left {
		  &:before {
		    left: 46%;
		  }
		}

		& .fa-caret-right {
		  &:before {
		    left: 54%;
		  }
		}

	}

	& span {
		line-height: 30px;
		padding: 0px 10px;
		display: inline-block;
	}
}

.asset-viewer__message {
	display: block;
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform( translateX(-50%) translateY(-50%) );
}

#pdf-wrap {
	overflow: hidden;
}

#pdf-canvas {
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
}

.asset-viewer__column {
	float: left;

	.fullscreen & {
		-webkit-height: 90vh;
		-moz-height: 90vh;
		-ms-height: 90vh;
		-o-height: 90vh;
		height: 600px; /* The Fallback */
		height: 90vh;
		
	}
}

// Column adjustments for Fullscreen view
#itemContent.fullscreen {
	padding-top: 0px;
}

.fullscreen .content-row {
	padding: 0px;
}

.fullscreen .asset-viewer__wrap {
	margin-bottom: 0px;
	height: 100% !important;
}

.fullscreen button-group.top-right {
	top: $pageMargin/2 + $navBarHeight;
	right: $pageMargin/2 + $gutterWidth;
}

// Video.js styles
.asset-viewer .vjs-big-play-button {
	top: 50%;
	left: 50%;
	@include transform(translateY(-50%) translateX(-50%));
	background-color: rgba(255,255,255,0.6);
	color: #000;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
    border: none !important; //rgba(150,150,150,0.8) 1px solid;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
	&:hover, &:active, &:focus {
		background: rgba(0,0,0,1);
		color: #fff;
	}
}

// Kalture Video styles
.fullScreenBtn {
	display: none;
}