/**
 * # Autocomplete
 * Styles used in the "autocomplete" field component
 */

autocomplete {
	display: inline-block;
	min-width: 100%;
	width: calc(100% + #{ $pageMargin * 2 });
}

.autocomplete {
	position: relative;
	display: inline-block;
	min-width: 100%;
	width: calc(100% + #{ $pageMargin * 2 });
	max-height: auto;


	@include transition(max-height 0.3s ease); 

	  &.hide-suggestions {
	  	max-height: $navBarHeight;
	  }

	& .icon-search {
		font-size: 21px;
		color: #fff;
		// padding: 0px 3px 0px 10px;
		// position: relative;
		// top: 4px;
		// color: #fff;
		// margin-right: -32px;
	}

	text-align: left;
}

.autocomplete input, #autocompleteClone {
	height: $navBarHeight;
	max-width: calc(50% - 110px);

	&:before {
		display: block;
		content: ' '
	}
	
	@include transition(max-width ease 0.3s); 
	
	// Based on width of Home slider "card", minus the logo
	//min-width: calc( #{10/24*100%} - #{$logoWidth + 75px} ); // approx. value
	min-width: calc( #{5/24*100%} - 25px );
	max-width: calc( #{5/24*100%} - 25px );
	text-overflow: ellipsis;
  	overflow: hidden;
	background: transparent;
	$borderPad: 0px;
	display: inline-block;
	width: 30px;

	background: #fff;
	height: 26px;
	color: #000;
	// padding-left: 30px;
	border-radius: 13px;
	
	text-align: left;
	
	@extend h3;
	font-weight: normal;
	letter-spacing: -0.25px;
	vertical-align: middle;
	padding: $borderPad 10px 0px 32px;
	border: 0px solid transparent;
	outline: none;
	box-shadow: none; 

	$clearIconPadding: 7px;
	margin: 0px $clearIconPadding 0px 0px !important;

	$mobileSearchInputH: 32px;
	$mobileSearchRightPad: 44px;
	@include media($screen900Max) {
		max-width: $mobileSearchInputH;
		min-width: $mobileSearchInputH;
		// Clip placeholder text since iOS Safari ignores the placeholder color in media query 
		padding-left: $mobileSearchInputH;
		padding-right: 0px;
		text-overflow: clip;

		height: $mobileSearchInputH;
		border-radius: $mobileSearchInputH/2;
		
		@include placeholder {
			color: #fff;
		}

		&:focus, .search-engaged & {
			// Override auto-expanding width
			color: rgb(0,0,0);
			min-width: calc(100% - #{ $pageMargin*4 + $mobileSearchRightPad }) !important;
			max-width: calc(100% - #{ $pageMargin*4 + $mobileSearchRightPad }) !important;
			padding: 0px 10px 0px 32px;	
			text-overflow: ellipsis;

			@include placeholder {
				color: rgba(0,0,0,0.6);
			}
		}
	}

	@include placeholder {
		color: rgba(0,0,0,0.6);
	}

	&:focus, &:hover, &:active {
		outline: none;
		border-color: transparent;
		box-shadow: none; 
	} 

	&:focus {
		font-style: normal;
		max-width: calc(50% - #{ 40px + $logoWidth });
		@include transition(all linear 0s);
	}

	&:hover + button i:before {
		color: black;
	}

	@include transition(all linear 0.3s);
} 

#autocompleteClone {
	min-width: none;
	max-width: none;
	width: auto;
}

button.autocomplete--in-field {
	position: absolute;
	top: 13px;
	left: -13px;
	background: transparent;
	width: 18px;
	height: 18px;

	@include media($screen900Max) {
		top: 13px;
		left: -10px;

		.search-engaged & {
			left: -10px;
		}
	}
	
	& i {
		background: transparent;
	}

	& i:before {
		color: #dcdcdc;
		top: calc(50% + 0.5px);
		@include transition(color linear 0.1s);
	}

	.search-engaged & i:before {
		color: #000;
	}

	// .search-engaged & i:before {
	// 	color: $itemLightAccent;
	// }
}

$autcompleteItemHeight: 34px;

.autocomplete ul{
  position: relative;
  width: 100%;
  border-color: transparent;
  z-index: 1;
  display: block;
  opacity: 1;
  margin-top: 0px;

  @include transition(margin-top 0.3s ease, opacity 0.3s ease, min-height 0.3s ease 0s, max-height 0.3s ease 0s);

	@for $n from 1 through 10 {
		&.list-height-#{$n} {
		 	min-height: $n * $autcompleteItemHeight;
		 	max-height: $n * $autcompleteItemHeight;
		}
	}

	&.list-hide {
		min-height: 0px;
		max-height: 0px;
		opacity: 0;
		height: 0; 
		pointer-events: none;
		position: absolute;

		& li {
			min-height: 0px;
			max-height: 0px;
			line-height: 0;
			//opacity: 0;
		}
	}
}

.autocomplete li{
	position: relative;
	display: block;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	list-style: none;
	width: 100%;
	background-color: transparent;
	line-height: 34px;
	margin: 0 (-1*$pageMargin);
	padding: 0px ($pageMargin + 10px);
	text-indent: -10px;
	min-height: $autcompleteItemHeight;
	max-height: $autcompleteItemHeight;

	@include transition-property(min-height, max-height);
	@include transition-duration(0.3s);
	@include transition-timing-function(ease);

	& .term {
		display: inline-block;
		white-space: nowrap;
		overflow:hidden;
		padding-left: 0px;
		max-width: 80%;
		text-overflow: ellipsis;
		line-height: 34px;
		text-indent: 0px;
		margin: 0px;
		vertical-align: top;
	}

	& .vocab {
		@extend %Graphik-Regular-Web;
		font-size: 18px;
		display: inline-block;
		line-height: 34px;
		text-indent: 0px;
		margin: 0px;
		vertical-align: top;
	}

}

.autocomplete li.active {
	// DO NOT add :HOVER, hover style is dependent on MOUSEENTER (binds selection)
  width: 100%;
  cursor: pointer;
  background: rgba(255,255,255,0.4);
}

.autocomplete .highlight {
  //background: rgba(0,0,0,0.2);
  font-style: italic;
  font-weight: normal; //bold;
  //color: $inputRed;
}

.autocomplete li.active .highlight {
  // background: rgba(0,0,0,0.65);
  //color: $inputRed;
}
