/**
 * # Buttons
 * Contains buttons, button groups, and icon buttons
 */


$iconButtonEdgeMargin: 10px;
$buttonRowSize: 36px;
$buttonRowIconSize: 14px;
$buttonBorderColor: $baseBorderColor;

/**
 * Button:
 * `button` - A component used for links and input. Unlike a regular href link, a button is an inline block, usually with active/hover styles using background or border.
 * Links cannot be used inside a button, and instead should be implemented like the second example
 *
 *     @example
 *     button Click Me
 *     br
 *     a.button(href="artstor.org") Click Me
 */
#{$all-button-inputs},
button,
.button {
  @include appearance(none);
  @extend h4;
  font-size: $bodyFontSize;


  //@include transition(color 0.2s ease-out, background 0.2s ease-out);
  color: #000;
  background-color: $buttonBg;
  border: 1px solid $buttonBorderColor;
  border-radius: 0px;
  //color: #fff;
  cursor: pointer;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  line-height: 45px;
  padding: 0 45px;
  text-decoration: none;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  max-width: 100%;

  &.narrow {
    padding: 0 15px;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &:hover,
  &:focus {
    //@include transition(color 0.1s ease-out, background 0.1s ease-out);
    background-color: $buttonHoverBg;
    border-color: $buttonHoverBg;
    color: #fff;
    box-shadow: $buttonShadow;
    //outline-color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  &:hover, &:focus, &:active {
    outline: none;
  }
  /**
   * Block, Button Modifier:
   * `button.block` - Gives a button full width and look for use in forms.
   *
   *     @example
   *     button.block Click Me
   */
  &.block {
    background: #fafafa;
    width: 100%;
    color: $action-color;
    font-weight: normal;
    margin-bottom: $bodyLineHeight;
    //box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
    cursor: pointer;

    &:hover, &:active, &:focus {
      outline: none;
    }

    &:hover, &:focus {
      background: #f2f2f2;
      box-shadow: none;
    }
  }

  &.dark {
    border: none;
    background-color: black;
    color: #fff;
    box-shadow: $buttonShadow;
    cursor: pointer;
    //@include transition(all 0.2s linear);

    &:hover, &:focus {
      background-color: black;
      box-shadow: none;
      @include transform(translateY(1px));
    }

    &:focus, &:active {
      //color: rgba(255,255,255,0.5);
    }
  }

  .icons-block &, &.icon-block {
    padding: 0px;
    background-color: rgba(255,255,255,0.6);
    border: none; //rgba(150,150,150,0.8) 1px solid;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    height: 30px;
    width: 30px;
    font-weight: normal;
    cursor: pointer;
    //@include transition($defaultTransition);

    margin-bottom: $bodyLineHeight;

    & i {
      // @include size($iconButtonSize);
      color:  rgba(0,0,0,0.75);
      text-align: center;
      font-size: $buttonRowIconSize;
      position: relative;
      display: block;

      &:before{
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translateY(-50%) translateX(-50%));
      }
    }

    &:hover {
      box-shadow: none;
      background: #000;
      border: none;

      @include transform(translateY(1px));

      & i {
        color: #fff;
      }
    }
  }

  .icons &,
  &.icon {
    margin: 0px $gutterWidth/2 $iconButtonMargin;
    padding: 0px;
    position: relative;
    border-size: 0px;
    border-color: transparent;
    background: none;
    box-shadow: none;

    & i {
      // temp padding solution for centering
      @include size($iconButtonSize);
      border-radius: 50%;
      background: $iconButtonBg;
      display: inline-block;
      text-align: center;
      font-size: 12px;
      position: relative;

      &:before{
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translateY(-50%) translateX(-50%));
      }
    }

    &:hover {
      background: none;
      & i {
        background: $iconButtonHoverBg;

        .dark & {
          background: $buttonBg;
        }
      }
    }
  }

}

// .on-dark button.block {
//   background: rgba(255,255,255, .7);

//   &:hover, &:focus {
//     background: rgba(255,255,255, .9);
//   }
// }

button-group {
  &.vertical {
    & button, & .button {
      display: block !important;
      margin: 0;
    }
  }

  &.top-right {
    position: absolute;
    z-index: 5000;
    top: $pageMargin/2;
    right: $pageMargin/2;

    &.icons-block button, &.icons-block .button {
      margin-bottom: $pageMargin/2;
    }
  }

  &.float-right {
    float: right;
    margin-top: 0px;
    width: auto;

    & button, & .button {
      margin-right: 0px;
    }
  }

  &.button-row-3, &.button-row-2 {
    width: 100%;
    height: 68px;
    color: #000;
    display: block;
    position: relative;

      & button, & .button {
        float: left;
        margin: 0;
        width: 33.3%;
        max-height: 67px;
        padding: 12px 0;
        border: 1px solid $buttonBorderColor;
        border-right: none;
        text-align: center;
        line-height: 14px;
        cursor: pointer;

        &:hover, &:focus {
          border: none;
          background-color: black;
          color: #fff;
          box-shadow: none;
          @include transform(translateY(1px));

          & i, & a {
            background: transparent;
            color: #fff !important;
          }
        }

        &:last-child {
          border-right: 1px solid $buttonBorderColor;
        }

        & i {
          font-size: 16px;
        }

        & i, & a {
          background: transparent;
          color: #000;
        }
      }
  }

  &.button-row-2 {
    & button, & .button {
      width: 50%;
    }
  }
}



.circle.icons-block button, .circle.icons-block .button  {
  border-radius: 50%;
}



.button--icon {
  display: inline-block;
  cursor: pointer;

  &.on-dark  {
    color: rgba(255,255,255,0.9);

    &:hover, &focus {
      color: rgba(255,255,255,1);
    }
  }
}

.button--inline-50 {
  float: left;
  width: 50%;
  display:inline-block;
  margin: 0;
  margin-left: -1px;
}

.large-circle {
  @extend .icon-large;
  border-radius: 50%;
  background-color: black;
  color: #fff;
  box-shadow: $buttonShadow;
  cursor: pointer;
  padding: 8px;
  z-index: 1000;
  //@include transition(all 0.2s linear);
  @include size(40px);

  &:hover {
    box-shadow: none;
    color: #fff;
  }
}
  .x-large-circle {
    @extend .large-circle;
    @extend .icon-x-large;
    @include size(54px);
    padding: 14px;
    display:block;
    
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translateX(-50%) translateY(-50%));
    }
  }

.scrollTop{
  right: 30px; 
  bottom: 20px;
  position: fixed;
  z-index: $zTop;

  &:hover {
    bottom: 19px;
  }
}

.fade-enter {
  //@include transition(opacity 0.3s linear);
  opacity:1 !important;

  &.ng-hide {
      opacity:0 !important;
      display: block !important;
    }
}

.hover-access__wrap {
  &:hover, &:focus {
    .hover-access {
      opacity: 1;
    }
  }
}

.thumbnail-sheet-bricks .hover-access {
  margin-top: -36px;
}

button.btn-flat-round, .button.btn-flat-round {
  height: $buttonRowSize;
  width: $buttonRowSize;
  margin: 0;
  
  border-radius: 50%;
  background: black;
  color: #fff;
  font-size: $buttonRowIconSize;
  box-shadow: none;

  &.icon i {
    background: transparent;
  }

  &:hover, &:active, &:focus, .search-engaged & {
    border: 2px solid #fff;
    background: black;
    box-shadow: $buttonShadow;
    @include transform(translateY(-1px));
  }

  &:active {
    box-shadow: none;
    @include transform(translateY(0px));
  }
}

.no-bg button.btn-flat-round {
   border: 1px solid #fff;
}

.hover-access {
  opacity: 0;
  height: $buttonRowSize;
  margin-top: -1 * ($buttonRowSize + 6px);
  margin-bottom: $bodyFontSize;
  width: 100%;
  text-align: right;
  position: relative;
  //@include transition(opacity 0.3s ease-out);

  & > button.icon, & > .button.icon {
    position: absolute;
    right: $iconButtonEdgeMargin + 1px;
    bottom: $iconButtonEdgeMargin;
    width: $buttonRowSize;
    height: $buttonRowSize;
  }

  & > button.icon > i, & > .button.icon > i {
    height: $buttonRowSize;
    width: $buttonRowSize;
    margin: 0;
    border-radius: 50%;
    background: black;
    color: #fff;
    font-size: $buttonRowIconSize;
    box-shadow: $buttonShadow;
  }

  & .fan-icons {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: $buttonRowSize;

    //@include transition(all 0.3s ease-out);

    & button, & .button {
      opacity: 0;
      position: absolute;
      right: 0px;
      bottom: 0px;
      width: $buttonRowSize;
      height: $buttonRowSize;
      display: block;
      padding: 0;
      background: transparent;
      background: black;
      color: #fff;
      border-radius: 50%;
      box-shadow: $buttonShadow;
      cursor: pointer;

      @include transform(rotate(135deg));

      & i {
        color: #fff;
        background: transparent;
      }

      @include transition-property(all);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-out);

      &.fan-1 {
        @include transition-delay(0.1s);
      }

      &.fan-2 {
        @include transition-delay(0.15s);
      }

      &.fan-3 {
        @include transition-delay(0.2s);
      }

       &:hover, &:active {
        background-color: black;
        box-shadow: none;
       }
    }
  }

  @keyframes pop-hover {
      0% {
        transform: scale(1,1);
        opacity: 1;
       }
       // Runs at 0.1s
      33% {
        transform: scale(1.3,1.3);
        opacity: 1;
       }
      100% {
        transform: scale(1,1);
        opacity: 0;
      }
  }

  &:hover, &:focus {
     & > button.icon > i, & > .button.icon > i {
      // @include animation-name(pop-hover);
      // @include animation-duration(0.3s);
      // @include animation-fill-mode(forwards);
      // @include animation-timing-function(ease-in);

      box-shadow: 0px;
      @include transform(translateY(1px));
     }
    & .fan-icons {
      height: 100px;
    }
    & .fan-icons button, & .fan-icons .button {
      opacity: 1;
      @include transform(rotate(0deg));

       &.fan-1 {
        right: 55px;
        bottom: 4px;
      }

      &.fan-2 {
        right: 35px;
        bottom: 34px;
      }

      &.fan-3 {
        right: 5px;
        bottom: 54px;
      }

      &:hover {
        @include transform(translateY(1px) rotate(0deg));
      }
    }
  }

  // Roll Icons into Horizontal Row

  & .left-roll-icons {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: $buttonRowSize;
    overflow:visible;
    z-index: $zMid;

    @include transition(all 0.3s ease-out);

    & button, & .button {
      opacity: 0;
      position: absolute;
      right: $iconButtonEdgeMargin;
      bottom: $iconButtonEdgeMargin;
      width: $buttonRowSize;
      height: $buttonRowSize;
      display: block;
      padding: 0;
      background: transparent;
      background: black;
      color: #fff;
      border-radius: 50%;
      border-size: 0px;
      box-shadow: $buttonShadow;
      cursor: pointer;
      overflow:visible;

      & i {
        color: #fff;
        font-size: $buttonRowIconSize;
        background: transparent;
        width: 100%;
        height: 100%;
      }

      @include transition-property(all);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-out);

      &.roll-1 {
        //@include transform(rotate(180deg));
        @include transition-delay(0.1s);
      }

      &.roll-2 {
        //@include transform(rotate(135deg));
        @include transition-delay(0.15s);
      }

      &.roll-3 {
        //@include transform(rotate(0deg));
        @include transition-delay(0.2s);
      }

       &:hover, &:active {
        @include transition-property(all);
        @include transition-delay(0s);
        @include transition-duration(0s);
        background-color: black;
        box-shadow: none;
       }
    }
  }

  @keyframes roll-and-fade {
      0% {
        //transform: scale(1,1);
        opacity: 1;
      }
      33% { // Runs at 0.1s
        opacity: 1;
      }
      100% {
        //transform: scale(1,1);
        opacity: 0;
      }
  }

  &:hover, &:focus {
     & > button.icon > i, & > .button.icon > i {
       
      &.roll-open {
        @include animation-name(roll-and-fade);
        @include animation-duration(0.3s);
        @include animation-fill-mode(forwards);
        @include animation-timing-function(ease-in);
      }

      &:hover {
        box-shadow: none !important;
        @include transform(translateY(1px));
      }
     }
    & .left-roll-icons {
      height: 100px;
    }
    & .left-roll-icons button, & .left-roll-icons .button {
      opacity: 1;
      //@include transform(rotate(0deg));

       &.roll-1 {
        right: ($buttonRowSize * 2) + ($iconButtonEdgeMargin * 3);
        bottom: $iconButtonEdgeMargin - 2px;
      }

      &.roll-2 {
        right: $buttonRowSize + ($iconButtonEdgeMargin * 2);
        bottom: $iconButtonEdgeMargin - 2px;
      }

      &.roll-3 {
        right: $iconButtonEdgeMargin;
        bottom: $iconButtonEdgeMargin - 2px;
      }

      &:hover {
        @include transform(translateY(1px));
      }
    }
  }

}

.thumbnail-sheet-bricks .hover-access {
  margin-top: -42px;
}

button, .button {
  &.icon.round {
    margin: 0px;
    width: $iconButtonSize;
    height: $iconButtonSize;
    font-size: $iconButtonFontSize;
    display: block;
    padding: 0;
    background: transparent;
    background: black;
    color: #fff;
    border-radius: 50%;
    box-shadow: $buttonShadow;
    cursor: pointer;
    border: none;

    &:before {
      color: #fff;
      background: transparent;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1em;
      height: 1em;
      @include transform( translateX(-50%) translateY(-50%));
    }

    @include transition-property(all);
    @include transition-duration(0s);

     &:hover, &:active {
      background-color: black;
      box-shadow: none;
     }
  }
}

.button-toggle {
  border: $baseBorder;
  background: #fff;
  text-indent: 0;
  padding: 0 4px;
  white-space: nowrap;
  min-width: 30px;
  cursor: pointer;
  
  &:hover, &:focus, &:active {
    background: #000;
    color: #fff;
    border-color: #000;
  }
}

.btn-dark, button.btn-dark {
  background: black;
  color: #fff;
  border-color: #000;
  box-shadow: none;
  
  &:hover, &:focus {
    box-shadow: $buttonShadow;
  }
  
  &:active {
    box-shadow: none;
    @include transform(translateY(1px));
  }
}