/**
 * # Debug
 * Classes used for testing and debugging
 */

 .debug {
 	background: rgba(0,255,255,0.2);
 	border: 1pt solid rgba(0,255,255,0.9);
 }

 .debug.row {
  background: rgba(255,0,0,0.1);
	border: 1pt solid rgba(255,0,0,0.9);
 }

// Baseline Tools
$baselineColor: rgba(cyan, 0.8);
$baselineHalfColor: rgba(255,0,0,0.1);

.baseline.show-grid {
  @include linear-gradient(to bottom,
  	$baselineColor 1px,
  	rgba(255,255,255,0) 1px,
  	rgba(255,255,255,0) #{ $baselineHeight/2 },
  	$baselineHalfColor ($baselineHeight/2 + 1),
  	rgba(255,255,255,0) ($baselineHeight/2 + 1));
  background-color: transparent;
  background-repeat: repeat-y;
  background-size: 100% $baselineHeight;
}
