/**
 * # Feature Slider
 * Image and text slider with animation classes
 */

$sliderControlHeight: 24px;
$slideBg: #f7f7f7;
$slideVPad: $pageMargin;
$slideHeight: 500px;
$slideSpeed: 1s;

$height1000: new-breakpoint(min-height 900px);

.feature-wrap {
    opacity: 1;
    @include transition(opacity $slideSpeed ease);

    // fix previous slide showing underneath

    &.fade-out {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.feature-list {
    display: none;

    // @include media($screen900) {
    //   position: absolute;
    //   height: $slideHeight - (2 *  140px);
    //   width: 135px;
    //   overflow: hidden;
    //   top: 140px;
    //   right: $outerMargin;
    //   display: block;
    //   text-align: center;
    //   color: #fff;
    //   z-index: $zTop - 100;
    // }


    &__item {
        display: inline-block;
        text-align: center;
        width: 100%;
        height: 33.3%;
        opacity: 1;
        @include transition(opacity $slideSpeed ease);

        &.inactive {
            opacity: 0.5;
            cursor: pointer;

            &:hover, &:focus {
                opacity: 1;
            }
        }
    }

    &__item-wrap {
        @include vertical-align();
    }

    & .count {
        font-style: italic;
        margin: 0;
    }
}

.massive-feature {
    position: absolute;
    height: $slideHeight;
    overflow: hidden;
    padding: 0 $outerMargin;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.5);
    opacity: 1;
    @include transition(opacity $slideSpeed ease);
    background: #000; 

    &.fade-out {
        opacity: 0;
        pointer-events: none;
    }

    & img {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translateX(-50%) translateY(-50%));
        min-width: 100%;
        min-height: 100%;
        max-width: 200%;
        height: auto;
        width: auto;
    }

    &__text {
        position: absolute;
        background: #fff;
        bottom: 0;
        padding: $pageMargin;
        text-align: center;
        margin: 0 $gutterWidth/2;
        // @include media($screen900) {
        //     padding: $outerMargin $outerMargin $baselineHeight;
        // }

        & h4 {
            font-weight: bold;
            line-height: 18px;
            padding-bottom: 18px;
        }

        & h1 {
            @include media($screen700) {
                letter-spacing: -0.75px;
                line-height: 52px;
                font-size: 50px;
            }
        }

        .fade-out & {
            @include transition(opacity $slideSpeed ease);
            opacity: 0;
        }
    }
}

.massive-feature__text {
  // Columns based on default of 12
  //width: calc(100% - #{ $pageMargin * 2});
  //position: absolute;
  position: relative;
  height: auto;
  display: block;

  @include media($screen900) {

  }

}

.feature-link {
    cursor: pointer;
    @include user-select(none);
    
    &:active,
    &:focus,
    &:hover {
        color: $bodyFontColor;
    }
}

// .feature-text__columns {
//   width: 100%;
//
//   @include media($screen900) {
//     @expand .column-10;
//   }
// }

.feature-text__container {
  position: absolute;
  padding: 0px;
  margin: 0px;
  //bottom: $outerMargin;
  top: 50%;
  left: 50%;
  @include transform( translateY(-50%) translateX(-50%));
    
  @include span-columns(12);
  max-width: 750px;
//   @include media($screen900) {
//     @include span-columns(5);
//     padding-right: 6px;//(2*$pageMargin);
//     bottom: 0;
//     margin: 0 6px; //$pageMargin/2;
//     @include transform( translateY(0) );
//   }
}

.feature-text__wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    display:block;
    left: 50%;
    @include transform( translateX(-50%));

    padding: 0px;
    width: calc(100% - #{ $pageMargin * 2 });
    overflow: hidden;
    
    @include media($screen900) {

    };

    &.fade-out {
        pointer-events: none;
    }
}


.massive-feature-relative {
    position: relative;
    height: $slideHeight;
    overflow: hidden;
    padding: 0 $outerMargin;
    width: 100%;
    opacity: 1;
    pointer-events: none;
}

.feature--page-cover {
    display: block;
    content: ' ';
    background: pink; //$pageColor;
    width: calc(100% + #{ 2 * $outerMargin});
    min-height: 600px;
    height: 100%;
    position: relative;
    float: left;
    margin-bottom: -100%;
}

.featured__container{
    padding-top: 0px !important;
    border-top: none;
    background: $slideBg;
    height: auto;
    position: relative;
    overflow-y: hidden;
}

.featured-slide {
    z-index: $zMid;
    position: absolute;
    top: 0px;
    //@include transform(translateY(-100%));
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;

    @include media($screen700) {

    }
}

.featured__height-scaler {
    // Percent is calculated from the parent's width
    padding-top: 55%;
    content: ' ';
    display: block;
    min-height: 280px;

    @include media($screen1100) {
        padding-top: 45%;
    }

    @include media($screen1200) {
        padding-top: 35%;
    }
}

.featured__left-pnl, .featured__right-pnl {
    float: left;
    overflow: hidden;
    vertical-align: top;
    position: relative;
    pointer-events: all;
}

.featured__left-pnl {
    width: 60%;
    height: calc(100% - #{ $slideVPad + $sliderControlHeight});
    padding: 20px $slideVPad;

    @include media($screen1100) {
        width: 50%;
    }

    @include media($screen1200) {
        width: 40%;
    }
}
	.featured__text-block {
		height: auto;
		width: calc(100% - #{ 2 * $slideVPad });
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translateX(-50%) translateY(-50%));
	}

.featured__right-pnl {
    width: 40%;
    height: 100%;
    max-height: 100%;
    pointer-events: all;

    @include media($screen1100) {
        width: 50%;
    }

    @include media($screen1200) {
        width: 60%;
    }
}
    .featured__right-pnl img {
    	max-width: none !important;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        // Centered Crop
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translateX(-50%) translateY(-50%));
    }
.featured__title {
    border-bottom: $subBorder;
    margin-bottom: 0px;
    padding-bottom: 10px;
}
.featured__desc {
    @extend %bodyFontStyle;
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}
.featured__control {
    font-size: 12px;
    text-align: center;
    position: absolute;
    left: 0px;
    bottom: $slideVPad;
    width: 60%;
    z-index: $zLow;
    height: $sliderControlHeight;

    @include media($screen1100) {
        width: 50%;
    }

    @include media($screen1200) {
        width: 40%;
    }
}
.featured__control i {
    padding: 0px 5px;
    color: rgba(0, 0, 0, 0.12);
    cursor: pointer;

    &.active{
        color: #333;
    }
}

.massive-feature__control {
  text-align: center;

  & i {
    padding:4px;
    color: rgba(0,0,0,0.15);
    cursor: pointer;
    font-size: 14px;
    
    @include media($screen900) {
        font-size: 18px;
    }

    &:hover, &:focus {
      color: rgba(0,0,0,0.5);
    }
    &.active {
      color: rgba(0,0,0,0.95);
    }
  }
}
// Animations

.slide-in {
	@include animation(slide-in 0.5s forwards);
}

.slide-out {
	@include animation(slide-out 0.5s forwards);
}

@include keyframes(slide-in) {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@include keyframes(slide-out) {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
