/**
 * # Feed Row
 * Element which shows events in a row (text-only)
 */

$feedTagHeight: 32px;
$feedTagWidth: 70px;

.feed-row {
	border-top: $baseBorder;
	padding: 0 $pageMargin/2 $sectionHeaderMargin;
	position: relative;
	float: left;
	z-index: $zLow;

	background: $pageColor;
	width: calc(100% - #{ $pageMargin });
	margin-bottom: 0px;
	opacity: 1.0;

	// Only use page margin when it's the first row
	&:first-child {
		margin-top: $pageMargin;

		&.collapse {
			margin-top: 0px;
		}
	}

	@keyframes row-expand {
	    0% {
	    	transform: translateY(-100%);
	    	opacity: 0;
	    	max-height: 0px;
	     }
	    100% {
	    	transform: translateY(0%);
	    	opacity: 1;
	    	max-height: 400px;
	    }
	}

	@keyframes row-collapse {
	    0% {
	    	transform: translateY(0%);
	    	opacity: 1;
	    	overflow:visible;
	    	max-height: 400px;
	     }
	    99% {
	    	transform: translateY(-100%);
	    	opacity: 0;
	    	overflow:visible;
	    	max-height: 0px;
	     }
	    100% {
	    	transform: translateY(-100%);
	    	opacity: 0;
	    	position: absolute;
	    	overflow: hidden;
	    	max-height: 0px;
	    }
	}
	@include animation-name(row-expand);
	@include animation-duration(0.3s);
	@include animation-fill-mode(forwards);
	@include animation-timing-function(ease-in);

	&.collapse {
		@include animation-name(row-collapse);
		@include animation-timing-function(ease-in);
		@include animation-duration(0.3s);
		@include animation-fill-mode(forwards);
		pointer-events: none;
	}

	@include media($screen900Max) { 
		// Temp mobile padding fix
		margin-bottom: 68px;
	}
}

.feed-block {
	@extend %bodyFontStyle;
	padding-left: $pageMargin/2;
	padding-right: $pageMargin/2;
	float: left;
	cursor: pointer;
	margin-bottom: $sectionHeaderMargin;
	text-align: center;

	&:first-of-type {
		&:before {
			display: none;
		}
	}

	&.medium {
		width: 20%;
		height: auto;
		//height: 4*$bodyLineHeight;

		@include media($screen900Max) {
			margin-bottom: $bodyFontSize;
			text-align: left;
			width: 100%;
			height: auto;
			position: relative;
			padding: 0px !important;

			&:last-child {
				margin-bottom: 0px;
			}

			& .feed-tag {
				@include transform(translateY(50%) translateX(-50%));
				right: -40px;
				bottom: 50%;
			}
		}
	}

	&.medium-6 {
		width: 16.5%;
		height: auto;
	}

	.feed-list & {
		margin-bottom: $bodyFontSize;
		text-align: left;
		width: 100%;
		height: auto;
		position: relative;
		padding: 0px !important;

		&:last-child {
			margin-bottom: 0px;
		}
	}

	&-1 {
		@extend .feed-block;
		height: auto;
	}

	&-3 {
		@extend .feed-block;
		width: 33.3%;
		height: auto;
	}

	&-4 {
		@extend .feed-block;
		width: 25%;
		height: auto;
	}

	&:hover, &:active, &:focus {
		& .feed-info, & .feed-date {
			color: #000;
		}
	}
}

.feed-list, .show-row.feed-list {
	padding: 0px;
	margin: 0px;
	position: relative;
	margin: $baselineHeight/2 0;

	& .event {
		padding-bottom: $baselineHeight/2;
	}

	& .feed-tag {
		float: right;
		right: 0px;
		top: 0px;
		bottom: none !important;
		@include transform(none);
		height: $feedTagHeight;
	}

	& .feed-title, & .feed-date, & .feed-info {
		width: calc( 100% - #{ $feedTagWidth + $gutterWidth });
	}
}

.feed-title {
	@extend %bodyFontStyle;
	font-weight: bold;

	.event & {
		color: rgba(0,0,0,1);
		//color: $eventAccentColor;
	}
}

.feed-info {
	@extend %bodyFontStyle;
	//color: $grayTwo;

}

.feed-date {
	@extend %bodyFontStyle;
	//color: $grayThree;
}

.feed-tag {
	background: rgb(204,204,204);
	border-radius: 5px;
	text-align: center;
	width: $feedTagWidth ;
	line-height: $feedTagHeight;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #fff;
	position: absolute;
	bottom: $sectionHeaderMargin;
	display: inline-block;
	@include transform(translateX(-50%));
}
