/**
 * # Filters
 * Search filters, primarilly link styled elements which toggle on click.
 */

$activeFilterColor: $activeLinkColor;
$filterUnfocusOpacity: $linkHoverOpacity;

filter-group[data-state="active"].collapsed .filter-group__label{
    line-height: 34px;
    margin-top: 0px;
    background: #F6F6F2;
}

filter-group {
	@extend %boldBodyFontStyle;
	opacity: 1.0;
	padding: 6px 0;
	display: block;
	line-height: $bodyLineHeight;
	float: left;
    width: 100%;

	@include transition(padding linear 0.2s, background linear 0.2s);

	&.full-spacing {
		margin-bottom: $baselineHeight;
	}
	
	& .subtitle-alt {
		padding: 2px;
	}

	&.no-margin {
		margin: 0px;
	}

	&.border-top {
		padding-top: 0px;
		margin-top: 0px;
	}

	&.collapsed {
		padding: 0px;
		
		&:hover, &:active, &:focus {
			.filter-group__label {
				line-height:34px;
				margin-top: 0px;
				background: #F6F6F2;
			}
		}

		& filter, & filter .link, & filter i{
			pointer-events: none;
			max-height: 0px;
			min-height: 0px;
			color: $pageColor;
			padding-top: 0px;
			padding-bottom: 0px;
		}

		& filter form, & filter .row {
			opacity: 0;
			max-height: 0px;
		}

		& .expandIcon {
			@include transform(translateY(-50%));
			&:before {
				@include transform(rotate(180deg));
				@include transform-origin(center center);
			}
		}

		& .filter-group__label > span {
			opacity: 1;
		}
	}
}

.filter-group__label {
	position: relative;
	width: 100%;
	display: block;
	background: transparent;
	display: block;
	padding: 2px; 
	margin-top: 0px;
	z-index: 5000;

	@include transition(all linear 0.2s);

	&:hover, &:focus, &:active {
		cursor: pointer;
		& i {
			color: black;
		}
	}

	& > span {
		opacity: 0;
		@include transition(opacity linear 0.1s);
		font-weight: normal;
	}

	.collapsed & {
		line-height: 22px; //34px;

		&:hover, &:active, &:focus {
			background: #F6F6F2;
		}
	}
}


/**
 * Filter:
 * `filter` - A simple link toggle that is used inside of the 'filter-group' component
 *
 *     @example
 *     filter Example Filter
 */
 $filterColor: #000; //rgba(0,0,0,0.45);
 $filterHoverBg: $grayBg;
 $filterTextIndent: 15px;

#filters {
	padding: $pageMargin $gutterWidth/2 $sectionBottomMargin;
}

#filtersContent {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	border-top: 8px solid $baseBorderColor;
	padding: 0px;
	padding-top: $sectionHeaderMargin; // + 8px;
}

filter, .filter {
	@extend %bodyFontStyle;
	display: block;
	position: relative;
	text-transform: capitalize;
	background: transparent;

	//Hanging Indent
	padding: 2px;
	padding-left: $filterTextIndent + 2px;
	padding-right: 38px;
	text-indent: -1 * $filterTextIndent;
	
	max-height: 100%;

	&__inline-block {
		display: inline-block;
		width: 100%;
	}
	
	@include transition(color linear 0.2s, max-height ease-out 0.2s, padding linear 0.2s, opacity linear 0.2s);
	
	& form {
		display: block;
		width: 100%;
		float: left;
	}

	&.filter--left-icon {
		padding-left: $filterTextIndent + 20px;
	}

	& .link-wrap {
		// Allows indent area to be clicked
		&:before {
			position: absolute;
			content: ' ';
			display: block;
			left: 0px;
			width: $filterTextIndent;
			height: 100%;
		}
	}

	// inactive filter color
	color:  $filterColor;

	&.no-buttons {
		&:hover, &:active, &:focus {
			padding-right: 0px;
		}
	}

	&.active {
		color: $activeFilterColor;
		background: $filterHoverBg;
	}

	&:hover, &:active, &:focus{
		//transition: color 0s linear;
		color: $activeFilterColor;
		cursor: pointer;
		background: $filterHoverBg;

		// Space for buttons
		// padding-right: 38px;

		&.active {
			color: rgba($activeFilterColor, 0.7);
			& i {
				color: $activeFilterColor;
			}
		}

		& .on-hover {
			color: $activeFilterColor;
		}

		& .link {
			color: $bodyFontColor;
		}
	}

	& a {
		color: $filterColor;
		&:hover {
			color: $activeFilterColor;
		}
	}

	& .icon-context, & .icon-grid {
		font-size: 1.3em !important;
		position: absolute;
    	left: 18px;
    	top: 3px;
	}

	&:hover, &.active {
		& .icon-context, & .icon-grid {
			color: #000 !important;
			display: inline;
		}
	}

	& .icon-close, & .icon-close-circle,  {
		display: none;
		//padding-top: 1px;
		float: right;
		height: 1em;
		font-size: $mediumIconSize;
	}

	&.inactive {
		color: rgba(0,0,0,0.45);
	}

	&.active {
		color: $activeFilterColor;

		& i {
			display: inline-block;
			color: rgba(0,0,0,0.2);
		}
	}

	& span {
		display: inline;
	}
}

filter.date-span-input {
	&:hover {
		background: transparent;
	}
}

i:hover ~ i.on-hover {
	color: rgba(0,0,0,0.25);
}


.active-label {
	@extend %bodyFontStyle;
	//display: block;
	position: relative;
	color: $activeFilterColor;
}


.unfocus-styled {
	& span {
		opacity: $filterUnfocusOpacity;
		@include transition(opacity 0.3s ease-in-out);
	}

	& filter-group {
		opacity: 1.0;
	}

	& filter {
		opacity: $filterUnfocusOpacity;
		@include transition(opacity 0.3s ease-in-out);

		&.active {
			opacity: 1.0;
			@include transition(opacity 0.3s ease-in-out);
			& i {
				opacity: $filterUnfocusOpacity;
				@include transition(opacity 0.3s ease-in-out);
			}
		}
	}



	& .unfocus-opaque {
		opacity: 1.0 !important;
	}

	// & filter.active ~ span {
	// 	opacity: 1.0 !important;
	// }

	&:hover, &:focus, &:active {
		& h3 {
			opacity: 1.0;
		}

		filter {
			opacity: 1.0;

			&.active {
				opacity: 1.0;

				& i {
					opacity: 1.0;
				}
			}
		}
	}


}

filter.excluded{
    text-decoration: line-through;
}
.removeIcon {
	position: absolute;
    right: 3px;
    top: 3px;
    visibility: visible;
}
.includeIcon{
    position: absolute;
    right: 19px;
    top: 6px;
    visibility: hidden;
}
.excludeIcon{
    position: absolute;
    right: 3px;
    top: 6px;
    visibility: hidden;
}
i.expandIcon {
	position: absolute;
	right: 6px;
	top: 50%;
	@include transform(translateY(-50%));
	@include transition(transform ease 0.2s);

	&:before {
		display: block;
		@include transform(rotate(0deg));
		@include transform-origin(center center);
	}
}
filter:hover .includeIcon, filter:hover .excludeIcon{
	visibility: visible;
}

.filters-padding {
	padding-left: 6px;
	padding-top: 9px;
	padding-bottom: 42px;
	padding-right: 6px;
}


$slideRulerTopMargin: 9px;
$slideRulerBottomMargin: 4px;
$slideRulerAdjustment: $slideRulerTopMargin + $slideRulerBottomMargin;

filter.slider {
	display: block;
	width: 100%;
	height: 160px;
	position: relative;
	text-align: right;

	&:hover {
		padding-right: 0px !important;
	}

	.label-start, .label-end {
		display: block;
		width: 35%;
		position: absolute;
		left: 0;
		text-align: left;
	}

	.label-start {
		top: 0px;
	}
	.label-end {
		bottom: 0px;
	}

	.ngrs-range-slider {
		position: absolute;
		top: 0px;
		right: 0px;
		margin: 0px;
	}

	.indicator-start, .indicator-end {
		display: block;
		width: 100%;
		position: absolute;
		right: 0px;
		min-height: 1px;
		background: #000;
		z-index: $zBottom;

		& i {
			color: rgba(115,115,115,100);
			z-index: $zLow;
			font-size: 14px;
			position: absolute;
			right: 0px;
		    top: 50%;
    		line-height: 1em;
    		@include transform(translateY(-50%));
		}

	}

	.indicator-start {
		top: 0px;
	}

	.indicator-end {
		bottom: 0px;
	}
}

	.slider-ruler {
		margin: $slideRulerTopMargin 0 4px; //$bodyLineHeight/2
		width: 60%;
		display: inline-block;
		//min-height: ;
		height: 160px - ($slideRulerAdjustment * 2);
		position: absolute;
		top: $slideRulerTopMargin;
		right: 0;
	}

	.range-line {
		display: block;
		min-height: 1em;
		height: 1em;
		width: 100%;
		border-bottom: $subBorder;

		&:first-of-type, &.first {
			border-top: $subBorder;
		}
	}

	@for $n from 1 through 20 {
	    .range-line-#{$n} {
	    	@extend .range-line;
	     	/*height: percentage(1/$n);*/
 	    	position: absolute;
	    }
	}


	// range filter

	/**
 * 	Angular RangeSlider SCSS
 *
 *	Version: 0.0.14
 *
 * 	Author: Daniel Crisp, danielcrisp.com
/* line 25, scss/_rangeSlider.scss */
.ngrs-range-slider {
  position: relative;
  margin: 0px;//10px 0 30px;
  padding: 0px;//4px;
  border: none; //1px solid #ccc;
  background: transparent;
}
/* line 28, scss/_rangeSlider.scss */
.ngrs-range-slider, .ngrs-range-slider * {
  display: block;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 53, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-runner {
  position: relative;
  margin: 0; // 9px;
  height: 18px;
}
/* line 63, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-join {
	//display: none;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 0;
	right: 100%;
	height: 100%; //8px;
	margin: -4px 0 0 0;
	//background-color: #2f96b4;
  // background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViYzBkZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJmOTZiNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  // background-size: 100%;
  // background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5bc0de), color-stop(100%, #2f96b4));
  // background-image: -moz-linear-gradient(#5bc0de, #2f96b4);
  // background-image: -webkit-linear-gradient(#5bc0de, #2f96b4);
  // background-image: linear-gradient(#5bc0de, #2f96b4);
}
/* line 81, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-handle {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 0px;
  margin: 0 0 0 0;// -9px;
  //background: #efefef;
  border-bottom: $baseBorder; //$subBorder;
}
/* line 95, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-handle i {
  @extend .icon-indicator;
  // display: block;
  // width: 100%;
  // height: 100%;
  // background: no-repeat -9999px -9999px;
  // cursor: pointer;
}
/* line 104, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-handle.ngrs-over i {
  background-position: 50% 50%;
}
/* line 109, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-handle.ngrs-down {
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
/* line 120, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-handle-min i {
  //background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFNJREFUeNpiYMAEXEDsA+OwoEnKALETEHOgK2AEYhMgNkQ3DqSAB6pLAot1DExIJmAFzED8C4hvQdnIppyFKYCBp0D8CohloVafxWUqN7I3AQIMAKw6B24pOi8lAAAAAElFTkSuQmCC");
}
/* line 127, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-handle-max i {
  //background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFdJREFUeNpiYEAAHyDmYkADzEhsByBWA+K3QPwJmwJjIGYBYlUgZgLi59gUwIAkEEsD8VMmBtyAkQFqJDZwAYjPAPE/dAU/gHg/ED/GpgvkTW50QYAAAwADfwrM5sqplgAAAABJRU5ErkJggg==");
}
/* line 137, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-value {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px 0 0 0;
  font-size: 12px;
  color: #999;
}
/* line 145, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-value.ngrs-value-max {
  left: auto;
  right: 0;
  text-align: right;
}
/* line 152, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-handle-min-down .ngrs-value-min, .ngrs-range-slider.ngrs-handle-max-down .ngrs-value-max {
  color: #333;
}
/* line 160, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-attached-handles {
  margin: 0 9px;
  position: relative;
}
/* line 167, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-attached-handles .ngrs-value {
  text-align: left;
}
/* line 172, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-attached-handles .ngrs-value > div {
  //margin: 0 0 0 -50%;
  margin: 0;
}
/* line 181, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical {
  //width: 28px;
  //margin: 10px auto;
  height: 100%;
  width: 100%;

  &:hover {
  	.ngrs-value {
  		color: $bodyFontColor;
  	}
  }

  & .ngrs-value {
  	white-space: nowrap;
  }

  & .ngrs-handle-max {
  	left: auto !important;
  	top: 100%;
  }
}
/* line 189, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-runner {
  margin: 0px; //9px 0;
  height: calc(100% - #{ $slideRulerAdjustment/2 });
  width: 100%;
}
/* line 199, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-value-runner.ngrs-attached-handles {
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  margin: 0; //9px 0;
}
/* line 212, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-join {
  width: 100%;
  height: auto;
  top: 0;
  bottom: 100%;
  //left: 50%;
  right: 0;
  margin: 0 0 -6px;
  border: none;
  background: rgba(0,0,0,0);

  @include transition(background 0.2s ease-out);
}

	.ngrs-focus.ngrs-range-slider.ngrs-vertical .ngrs-join {
		background: rgba(0,0,0,0.2);
	}
/* line 226, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-handle {
	width: 100%;
	height: 0px;
	//margin: 6px 0; //-9px 0 0 0;
	cursor: pointer;

	& i {
		width: 100%;
		color: rgba(115,115,115,100);
		z-index: $zLow;
		font-size: 14px;
		position: absolute;
		right: 0px;
		top: 50%;
		line-height: 1em;
		@include transform(translateY(-50%) rotate(180deg));
	}
}
.ngrs-range-slider.ngrs-vertical .ngrs-handle-min {
	margin-bottom: 6px;
}
.ngrs-range-slider.ngrs-vertical .ngrs-handle-max {
	margin-top: 6px;
}
/* line 237, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-handle-min i {
	@extend .icon;
  	@extend .icon-indicator;
  //background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFFJREFUeNpiYEAFPFAMB0xIbEYgdoJiRpggM5ICUyBWhZoA0vgMWYEsENsg6ZQE4ldA/AmkkguIHZGNhQKQGBfIBHcgFmTABCxALMJAMQAIMAAcNgVQJ7t7JQAAAABJRU5ErkJggg==");
}
/* line 244, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-handle-max i {
	@extend .icon;
	@extend .icon-indicator;
  //background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeNpiYKAUMAKxDxBL4ZB/xgQk9gHxDyySILF9zEDiNxC/A2JVNAW7gfgtM5TzCYhZgFgCyr8IxNdADGZk+4BYGoi/APEBIP6PzVE8UAwHAAEGAArIDvzRFIA6AAAAAElFTkSuQmCC");
}
/* line 254, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-value {
	top: 0;
	right: 100% !important;
	left: auto !important;
	padding: 0 0 0 5px;
	transform: translateY(-100%);
}
/* line 259, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-value.ngrs-value-max {
  top: auto;
  bottom: 0;
  right: auto;
  text-align: left;
}
/* line 269, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-attached-handles .ngrs-value > div {
	margin: 0;
	height: 0.5em;
	overflow: visible;
	//height: 1em;
}
/* line 279, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-left {
  margin: 10px 0;
}
/* line 287, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-right {
  margin: 0px;
  /*------------------------------------*\
      VALUE LABELS
  \*------------------------------------*/
}
/* line 294, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-right .ngrs-value {
  left: auto;
  right: 100%;
  padding: 0 5px 0 0;
  text-align: right;
}
/* line 300, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-right .ngrs-value.ngrs-value-max {
  text-align: right;
}
/* line 306, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-right .ngrs-value-runner.ngrs-attached-handles {
  left: 0;
}
/* line 318, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-focus {
  // border-color: rgba(82, 168, 236, 0.8);
  // -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  // -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
/* line 329, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled, .ngrs-range-slider.ngrs-disabled.ngrs-focus {
  // border-color: #ddd;
  // -moz-box-shadow: none;
  // -webkit-box-shadow: none;
  // box-shadow: none;
}
/* line 335, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled .ngrs-handle {
  background: #fff;
  border-color: #ddd;
}
/* line 339, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled .ngrs-handle i {
  background: none !important;
  cursor: default;
}
/* line 345, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled .ngrs-join {
  background: #ddd;
}
/* line 349, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled .ngrs-value {
  color: #ddd;
}

/*------------------------------------*\
    TOUCH STATE
\*------------------------------------*/
/* line 361, scss/_rangeSlider.scss */
body.ngrs-touching {
  -ms-touch-action: none;
}

.dateRangeFilterLimit{
    width: 80px !important;
    padding: 5px 8px;
    border: 1px dotted #737373 !important;
    border-radius: 4px !important;
    position: relative;
    bottom: 6px;
}
