/**
 * # Footer
 * Footer container
 */

$footerHeight: $pageMargin + $bodyLineHeight;

.footer-inner {
	@extend .container;
	@extend %bodyFontStyle;
	$linkSpacing: 10px;
	padding: 0 0 $pageMargin/2;
	background: $pageColor;

	// Covers any overlap
	&:before, &:after {
		content: ' ';
		display: block;
		position: absolute;
		top: 0;
		height: $footerHeight;
		width: 500px;
		background: $pageColor;
	}

	&:before {
		right: 100%;
	}
	&:after {
		left: 100%;
	}

	hr {
		margin-bottom: $pageMargin/2;
	}

	& a {
		text-decoration: none;
	}

	& .left, & .right {
		padding-bottom: $pageMargin/2;
	}

	& .left {
		float: left;
		& .link {
			padding-right: $linkSpacing;


		}
		& span, & a.body {
				padding-right: $linkSpacing * 1.5;
			}
			
		@include media($screen900Max) {
			width: 100%;
			text-align: center;
		}
	}

	& .right {
		float: right;
		& .link, & span {
			padding-left: $linkSpacing;
		}
		
		@include media($screen900Max) {
			float: left;
			width: 100%;
			text-align: center;
		}
	}
}

#smallLogo {
	height: 14px;
	/*margin: 0 auto $bodyLineHeight;*/
    margin: $bodyLineHeight auto 0px;
	display: block;
}


.row--promo {
	@extend .row;
	position: relative;
	margin-bottom: $pageMargin;
	
	@include media($screen900) {
		background: $grayBg;
	}
}

.invisible-displace {
	color: transparent;
	background: transparent;
	pointer-events: none;
	opacity: 0;
	padding: $pageMargin;
}

.footer__promo {
	@include span-columns(24 of 24);
	padding: $pageMargin 0px;
	background: $pageColor;
	border-top: $baseBorder;
	margin-top: $pageMargin;
	
	@include media($screen900) {
		@include span-columns(18 of 24);
		background: none;
		border-top: none;
		margin-top: 0px;
		padding: $pageMargin;
	}
}

.footer__about {
	@include span-columns(24 of 24);
	position: relative;
	
	@include media($screen900) {
		@include span-columns(6 of 24);
	}
	
	@include media($screen900Max) {
		& .center-block, & .invisible-displace {
			margin-left: -1*$outerMargin;
			margin-right: -1*$outerMargin;
			padding-right: $outerMargin;
			padding-left: $outerMargin;
			background: $grayBg;
		}
	}
}