/** 
 * # Forms
 * Input field styles
 */

$baseFieldHeight: 45px;

fieldset {
  background-color: $secondary-background-color;
  border: $baseBorder;
  margin: 0 0;
  padding: $base-spacing;
}

input,
select {
  font-family: $base-font-family;
  font-size: $bodyFontSize;
}

// label {
//   @extend %labelFont;
//   margin-bottom: 0px;

//   &.required::after {
//     content: "*";
//   }

//   abbr {
//     display: none;
//   }
// }

#{$all-text-inputs},
select[multiple=multiple],
textarea {
  background-color: $base-background-color;
  border: $baseBorder;
  border-radius: $baseBorder-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  display: block;
  font-family: $base-font-family;
  font-size: $bodyFontSize;
  margin-bottom: 0px;//$base-spacing / 2;
  //padding: $base-spacing / 3;
  transition: border-color;
  width: 100%;

  &:hover {
    border-color: darken($baseBorderColor, 10%);
  }

  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: darken($base-background-color, 6%);
    cursor: not-allowed;

    &:hover {
      border: $baseBorder;
    }
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
  background: transparent; 
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0px;
}

input[type="file"] {
  padding-bottom: 0px;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}

/**
 * Field:
 * `.field` - Generic text field style.
 *
 *     @example
 *     input.field(placeholder="Text Field")
 */
.field {
  background: #fafafa;
  width: 100%;
  color: #000;//$action-color;
  font-weight: normal;

  border: none !important; 
  border-bottom: 1px solid rgba(151,151,151, 0.2) !important;

  &:last-of-type {
    border-bottom: none !important;
  }

  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  //box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
  cursor: text;
  font-family: $base-font-family;
  font-size: $subtitleAltSize !important;

  padding: 0px 14px !important;
  line-height: $baseFieldHeight !important;
  //margin-bottom: $bodyLineHeight !important;
  margin: 0;

  ::-moz-focus-inner {
      border: 0;
      padding: 0;
  }

  -webkit-appearance: none;

  @include placeholder{
    color: rgba(0,0,0,0.4);
  }

  &:hover, &:active, &:focus {
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: none;
    -webkit-appearance: none;
  }

  &:hover {
    background: #f2f2f2 !important;
    color: $action-color; 
  }

  &:focus {
    color: $action-color;
  }
}

.on-dark .field {
   background: rgba(255,255,255, 1);

   &:hover, &:active, &:focus {
      background: rgba(255,255,255, 1);
   }
}

/**
 * Dropdown:
 * `.dropdown` - Wraps and styles a `<select>` field.
 *
 *     @example
 *     .dropdown
 *      select
 *       option Option A
 *       option Option B
 */
.dropdown {
  display: block;
  width: 100%;
  overflow: hidden;
  background: url('images/icon__down.png') no-repeat 97%;
  background-color: #fafafa;
  background-size: 16px 16px;
  font-family: $base-font-family; 
  line-height: 0;
  margin-bottom: 18px;

  @include transition (background 0.1s linear);

   &:hover, &:focus, &:active  {
    background-image: url('images/icon__down--active.png');
    background-size: 16px 16px;
    background-color: #f2f2f2;
  }
}

.dropdown select {
  background: transparent;
  width: 100%;
  padding: 0px 8px 0px 8px;
  font-size: $subtitleAltSize;
  outline: none;
  border: none !important;
  height: $baseFieldHeight;
  margin: 0;
  font-size: $bodyFontSize;
  line-height: $baseFieldHeight;
  //line-height: 2em;
  -webkit-appearance: none;
  vertical-align: middle;

    &:hover, &:focus, &:active {
      outline: none;
    }

  // @include breakpoint($small-tablet) { 
  //   width: 110%; 
  //   font-size: 23px;
  //   height: 42px;
  //   padding: 0px 5px 5px;
  // }
} 