// ------------------------------------------------------------ 
// Hierarchy Chart
// ------------------------------------------------------------ 

$VPadding: 5px;
$HPadding: 10px;

$displayRecordColor: #ffdb39;
$accentBlue: #1E91FF;

$borderSize: 1px;
$borderColor: #DCDCDC;
$borderStyle: $borderSize solid $borderColor;
$borderColorHover: #888;
$accentBorderStyle: 1px dotted #DCDCDC;

$zIndexContent : 2;

.hierarchy-group {
	float: left;
	width: calc(100% - #{ $HPadding*2 });
	position: relative;
	margin: 0px $HPadding $VPadding 0px;
	padding: 5px 5px 5px 0px;
	border-top: $borderStyle;
	border-bottom: $borderStyle;
	border-radius: 2px;

	background: #fafafa;
}

// Provides indentation for chart for 'n' depth
@for $n from 0 through 20 {
	.hierarchy-chart-#{$n} {
		padding-left: (10px * ($n + 1));
	}
}

.hierarchy-index {
	position: absolute;
	left: -10px;
}

.hierarchy {
	padding-top: 1px;
	padding-bottom: 1px;

	& .text, & .link {
		padding-left: 2px;
		white-space: normal;
		word-break: break-word;
		display: block;
		color: inherit !important;
	}

	// These are not functional links as of now
	// &:hover {
	// 	& .hierarchy-index, & .link {
	// 		color: $accentBlue !important;
	// 	}
	// }

	&.odd {
		&:before {
			content: ' ';
			display: block;
			width: 10px;
			height: 100%;
			background: #f0f0f0;
			position: absolute;
			top: 0px;
			z-index: $zIndexContent; 
			pointer-events: none;
		}
	}
	& .link {
		text-decoration: none;
		cursor: default;
	}

	& span, & div {
		z-index: $zIndexContent + 1;
		position: relative;
	}

	.hierarchy-index {
		position: absolute;
	}
} 
