/**
 * # Icons
 */

@charset "UTF-8";

@font-face {
  font-family: "alcove";
  src:url("fonts/alcove.eot");
  src:url("fonts/alcove.eot?#iefix") format("embedded-opentype"),
    url("fonts/alcove.woff") format("woff"),
    url("fonts/alcove.ttf") format("truetype"),
    url("fonts/alcove.svg#alcove") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "alcove" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "alcove" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Spinning Icon:
 * `.icon-spin` - An animation class to make an icon spin
 *
 *     @example
 *     i.icon-spin.icon-spinner
 */
.icon-spin:before {
  display: inline-block;
  -webkit-animation: spin 1s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.icon-large, .icon.lg {
  font-size: $largeIconSize;
}

.icon-x-large, .icon.xlg {
  font-size: $xLargeIconSize;
}

.icon.center {
  &:before {
    @include transform(translateX(-50%));
  }
}

.in-field--large {
  cursor: pointer;
  color:rgba(255,255,255,0.85);
  font-size: 22px;
  display: inline-block;

  &:hover {
    color:rgba(255,255,255,1);
  }

  &:before {
    vertical-align: middle;
  }
}

.search-clear {
  cursor: pointer;
  color:rgba(255,255,255,0.85);
  font-size: 20px;
  display: inline-block;

  &:hover {
    color:rgba(255,255,255,1);
  }
  &:before {
    top: 16px;
    margin-left: -13px;
    position: absolute;
  }
}

// Animations

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

.icon-spinner:before {
  color: rgba(0,0,0,0.4);
}

button:hover, .button:hover {
  cursor: pointer;
  & .icon-star {
    color: $collectionAccentColor;
  }
  & .icon-download {
    color: $assetAccentColor;
  }
  & .icon-share {
    color: $discourseAccentColor;
  }
}

i {
  color: $baseIconColor;

  &:hover {
    color: $baseIconHoverColor;
  }
}

button:hover i, .button:hover i {
  color: $baseIconHoverColor;
}

.icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform( translateX(-50%) translateY(-50%) );

  color: rgba(255,255,255,0.9) !important;

  &:before {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  }

  &.xlg {
    font-size: 63px;
  }
}

 .thumbnail:hover .icon-overlay {
   color: rgba(255,255,255,1) !important;
 }

.gradient-overlay {
  top: 0px;
  right: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  @include linear-gradient(rgba(0,0,0,0) 50%, rgba(255,255,255,0.5) 50.1%, rgba(255,255,255,0) 90%, $fallback: transparent);
  //@include transform(rotate(45deg));
  //@include transform-origin(right top);
}
   .thumbnail:hover .gradient-overlay {
     @include transform(translateY(1px));
   }

.icon-row i {
  padding: 0 10px;
}

/**
 * Icons by Name:
 * `.icon-name` - Specific icons are referred to by classes.
 *
 *     @example
 *     i.icon-large.icon-close-circle
 *     i.icon-large.icon-spinner
 *     i.icon-large.icon-download
 *     i.icon-large.icon-star
 *     i.icon-large.icon-right
 *     i.icon-large.icon-down
 *     i.icon-large.icon-left
 *     i.icon-large.icon-more
 *     i.icon-large.icon-asterisk-2
 *     i.icon-large.icon-up
 *     i.icon-large.icon-close
 *     i.icon-large.icon-indicator
 *     i.icon-large.icon-facebook-places
 *     i.icon-large.icon-clear
 *     i.icon-large.icon-zoom-in
 *     i.icon-large.icon-zoom-fit
 *     i.icon-large.icon-full-screen
 *     i.icon-large.icon-zoom-out
 *     i.icon-large.icon-alcove-logo
 *     i.icon-large.icon-asterisk
 *     i.icon-large.icon-share
 *     i.icon-large.icon-3d
 *     i.icon-large.icon-audio
 *     i.icon-large.icon-video
 *     i.icon-large.icon-doc
 *     i.icon-large.icon-search
 */
 .icon-close-circle:before {
  content: "\58";
}
.icon-spinner:before {
  content: "\4f";
}
.icon-download:before {
  content: "\61";
}
.icon-star:before {
  content: "\62";
}
.icon-right:before {
  content: "\64";
}
.icon-down:before {
  content: "\65";
}
.icon-left:before {
  content: "\67";
}
.icon-more:before {
  content: "\68";
}
.icon-asterisk-2:before {
  content: "\6a";
}
.icon-up:before {
  content: "\6c";
}
.icon-close:before {
  content: "\6d";
}
.icon-indicator:before {
  content: "\6e";
}
.icon-facebook-places:before {
  content: "\66";
}
.icon-clear:before {
  content: "\69";
}
.icon-zoom-in:before {
  content: "\2b";
}
.icon-zoom-fit:before {
  content: "\6f";
}
.icon-full-screen:before {
  content: "\70";
}
.icon-zoom-out:before {
  content: "\2d";
}
.icon-alcove-logo:before {
  content: "\6b";
}
.icon-asterisk:before {
  content: "\71";
}
.icon-share:before {
  content: "\63";
}
.icon-3d:before {
  content: "\72";
}
.icon-audio:before {
  content: "\73";
}
.icon-video:before {
  content: "\75";
}
.icon-doc:before {
  content: "\74";
}
.icon-search:before {
  content: "\43";
}
.icon-context:before {
  content: "\76";
}
.icon-grid:before {
  content: "\77";
}
.icon-link:before {
  content: "\78";
}
.icon-email:before {
  content: "\79";
}
.icon-evernote:before {
  content: "\7a";
}
.icon-pinterest:before {
  content: "\41";
}
.icon-dot:before {
  content: "\42";
}
.icon-filter:before {
  content: "\44";
}
