/** 
 * # List Styles  
 */

/**
 * Bulleted Lists:
 * `ul` - Unordered list.
 *
 *     @example
 *     ul List 1
 *      li Item 1
 *      li Item 2
 */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &%default-ul {
    list-style-type: disc;
    padding-left: $base-spacing;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: 0px;
    padding-left: $base-spacing;
  }
}

/**
 * Description Lists:
 * `dl` - Contains list of terms and descriptions.
 *
 *     @example
 *     dl List 1
 *      dt Term
 *      dd Description
 */
dl {
  margin-bottom: 0px;

  dt {
    font-weight: bold;
    margin-top: 0px;
  }

  dd {
    margin: 0;
  }
}


/**
 * Bordered List:
 * `dl` - Contains list of terms and descriptions.
 *
 *     @example
 *     bordered-list
 *      .link Item 1
 *      .link Item 2
 */
.bordered-list {
  .link {
    cursor: pointer;
    font-size: $bodyFontSize;
    line-height: 19px;
    border-top: $subBorder;
    display: block;
    color: $bodyFontColor;
    padding-left: $pageMargin/2;
    padding-top: $bodyLineHeight/2 + 1px;
    padding-bottom: $bodyLineHeight/2;//9px; //$bodyFontSize;
    text-indent: -($pageMargin/2);

    &:hover, &:active, &:focus {
      border-top: $subBorderSize dotted $discourseAccentColor;
      color: $discourseAccentColor;
    }
  }
}