/**
 * # Modals
 * Styles for modals that overlay on top of other content
 */

$modalDistanceFromTop: 100px;
$modalHPadding: $bodyFontSize;

 .modal {
   display: none;
   position: fixed;
   z-index: $zOverlay;
   padding-top: $modalDistanceFromTop;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(242,242,242,.8);

   @include transition(opacity 300 linear);
   
   opacity: 0;
   
   &.fade-in {
     display: block;
     opacity: 1;
   }
 }

 .modal-content {
   position: absolute;
   left: 50%;
   @include transform( translateX(-50%) );
   background-color: #fefefe;
   margin: auto;
   padding: 0;
   border: 1px solid #888;
   min-width: 35%;
   width: auto;
   max-width: calc(100% - #{$pageMargin * 2});
   -webkit-animation-name: animatetop;
   -webkit-animation-duration: 0.4s;
   animation-name: animatetop;
   animation-duration: 0.4s
 }

 
 .modal-close{
   -webkit-animation-name: animatebotttom !important;
   animation-name: animatebotttom !important;
 }

 .modal-bg {
   position: absolute;
   width: 100%;
   height: 100%;
   background: transparent;
   top: 0;
   left: 0;
 }

@include keyframes(animatetop) {
   from {
     //top:-300px; 
     opacity:0
     }
   to {
     //top:$modalDistanceFromTop; 
     opacity:1
   }
 }

@include keyframes(animatebotttom) {
   from {
     //top:$modalDistanceFromTop; 
     opacity:1}
   to {
     //top:-300px; 
     opacity:0
   }
 }

 .close {
   color: white;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }

 .close:hover, .close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
 }

 .modal-header {
   padding: 2px 16px;
   background-color: rgba(153, 153, 153, 0.66);
   color: white;
 }

 .modal-toggle {
   padding-top: 5px;
    display: inline-block;
   //padding-left: $pageMargin - $modalHPadding;
 }

 .modal-body {
   padding: 0px $pageMargin;
 }
 .modal-body div{
   text-align: center;
   padding: $bodyLineHeight 0px 42px;
 } 

.modal-header {
  padding: $sectionHeaderMargin $pageMargin $bodyLineHeight;
  margin: 0px $pageMargin;
  background-color: #fff;
  color: $bodyFontColor;
  border-bottom: $baseBorder;

  & .close {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    @include transform( translateX( 50%) translateY(-50%));
    //color: #000;

    &:hover {
      top: 1px;
    }
  }
}

.modal-footer {
  padding: $bodyLineHeight $pageMargin 0;
  margin: 0px $pageMargin;
  background-color: #fff;
  color: $bodyFontColor;
  border-top: $baseBorder;
}

.modal-pagination, .modal-body .modal-pagination  {
  padding: 0px;
  & i {
    margin: 0px;
    padding: 0 3px;
    width: 1em;
    height: 1em;
    cursor: pointer;
    color: rgba(0,0,0,0.4);

    &:hover {
      color: #000;
    }
  }
}

.modal-content {
  border: none;
  box-shadow: $shadowStyle;
}

.modal-columns, .modal-body .modal-columns {
  text-align: left;
  @include columns(1);
  min-width: 250px;

  @include media($screen700) {
    @include columns(2 $gutterWidth);
    min-width: 500px;
  }

  @include media($screen900) {
    @include columns(3 $gutterWidth);
    min-width: 700px;
  }

  @include media($screen1100) {
    @include columns(4 $gutterWidth);
    min-width: 900px;
  }

  @include media($screen1200) {
    @include columns(5 $gutterWidth);
    min-width: 1000px; 
  } 

  &.short-columns {
    @include media($screen900) {
      @include columns(2 $gutterWidth);
      min-width: 700px;
    }

    @include media($screen1100) {
      @include columns(2 $gutterWidth);
      min-width: 900px;
    }

    @include media($screen1200) {
      @include columns(2 $gutterWidth);
      min-width: 1000px;
    }
  }
}
