/** 
 * # Nanoscroller
 * Overrides for the Nanoscrollerjs extension. 
 */

// establish class names
$nanoClass: "nano";
$paneClass: "nano-pane";
$sliderClass: "nano-slider";
$contentClass: "nano-content";

// ------------------------------------------------------------ 

.#{$nanoClass} {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .#{$contentClass} {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: scroll;
        overflow-x: hidden;

        &:focus {
            outline: thin dotted;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    > .#{$paneClass} {
        width: 12px; //8px;
        background: rgba(0,0,0,.0);
        position: absolute;
        top: 0;
        right: 5px;
        bottom: 0;
        -webkit-transition: .2s;
           -moz-transition: .2s;
             -o-transition: .2s;
                transition: .2s;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        //visibility: hidden\9; // Target only IE7 and IE8 with this hack
        visibility: visible\3;
        opacity: .35;
        cursor: pointer;
        width: 6px;

        @include transition-property(opacity);
        @include transition-property(width);
        @include transition-timing-function(ease-all);
        @include transition-duration(0.2s);

        > .#{$sliderClass} {
            background: #444;
            background: rgba(0,0,0,.45);
            position: relative;
            //margin: 0 2px;
            -webkit-border-radius: 3px;
               -moz-border-radius: 3px;
                    border-radius: 3px;
            width: 6px;

            @include transition-property(width);
            @include transition-timing-function(ease-all);
            @include transition-duration(0.2s);
        }

        &.active, &:hover, &:focus, &:active {
            background: rgba(0,0,0,.25);
             width: 12px;

            > .#{$sliderClass} {
                background: rgba(0,0,0,.5);
                width: 12px;
                -webkit-border-radius: 6px;
                   -moz-border-radius: 6px;
                        border-radius: 6px;
            }

        }


    }
}

.has-scrollbar > .#{$contentClass}::-webkit-scrollbar {
    display: block;
}

.#{$paneClass} {
    .#{$nanoClass}:hover > &,
    &.active,
    &.flashed {
        visibility: visible\9; // Target only IE7 and IE8 with this hack
        opacity: 0.99;
    }
}

// ------------------------------------------------------------ 
// Top/Bottom Placement Adjustment 
// ------------------------------------------------------------ 

.disable-scrollable {
    & .nano > .nano-pane {
        display: none;
    }
    & .nano .nano-content {
        overflow-y: visible;
        position: relative;
    }
}

.nano > .nano-pane {
    // cleaner when scrollbar is longer than container
    // overflow: hidden;

    // Only show scrollbar on far right, outside of column
    
    top: 3px; //$navBarHeight + 3px; // + $pageMargin;
    bottom: 3px; //$pageMargin;
    right: 3px;

    .scroll-on-right & {
        position: fixed;
    }
}
.scrollable-section-header .nano > .nano-pane {
    top: $sectionHeaderMargin + 2px;
}
.scrollable-nav .nano > .nano-pane {
    top: $navBarHeight + 3px;
}
.column .nano > .nano-pane {
    //right: -($gutterWidth/2);
}

.column > .nano {
     height: 100%; 
     margin: 0 12px;
}
