/**
 * # Nav Bar
 * "Navigation Bar" fixed to the top of the screen
 */

$navBarHeight: 52px;
$navBg: rgba(0,0,0,0.84);
$navFontColor: #fff;
$navHeaderFontSize: 23.5px; //$h1FontSize;
$grid-columns: 5;


.asset-index-span {
	padding: 0px 8px;
  	color: #888;
	position: absolute;
}

.nav-center i {
	cursor: pointer;
}

.signout-icon {
	font-size: 16px;
	width: 20px;
	float: right;
	color: $navFontColor;
	margin-top: 1px;
}

nav .container {
	// keeps nav text/buttons above bg and progress bar
	z-index: $zLow;
}

/**
 * Nav Bar:
 * `nav` - A bar fixed to the top of the screen for holding nav componenets
 */

.nav-tint {
	@include transition(opacity 0.5s ease-in-out);
	display: block;
	width: 100%;
	height: 100%;
	background: rgb(0,0,0);
	position: absolute;
	opacity: 0.84;
}

.nav-bg {
	width: 100%;
	height: 100%;
	opacity: 1;
	position: absolute;

	@include transform(translateY(0%));
	@include transition(opacity 0.3s ease-in-out, transform 0.3s ease-in-out);

	.no-fade & {
		@include transition(opacity 0s linear, transform 0s ease-in-out);
	}

	& img {
		@include transition(max-width 0.5s ease, transform 0.5s ease, min-height 0.5s ease, min-width 0.5s ease);
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: auto;
		height: auto; //100%;
		min-width: 100%;
		min-height: 0%;
		max-width: 100%;
		@include transform( translateX(-50%) translateY(-33%) );
	}

	//@include transition(width 0.5s ease-in-out);

	.full-stretch & img {
		@include transform( translateX(-50%) translateY(-50%) );
		min-width: 0%;//100%;
		min-height: 100%;
		max-width: 200%;
		// max-height: 100%;
	}

	.no-bg & {
		//opacity: 0;
		@include transform(translateY(-100%));
	} 

	.no-bg.full-stretch  & {
		@include transform(translateY(0%));
	}
}

.no-bg {
	& i, & .nav-logo i,
	& .autocomplete .icon-search,
	.on-dark,
	.on-dark a
	 {
		//@include transition(color 0.3s linear);
		//color: #000;
	}

	& i.search-clear {
		color: #fff;
	} 
}

nav .btn-flat-round {
	background: transparent;

	&:hover, &:focus, &:active {
		background: transparent;
	}
}

nav.no-bg .btn-flat-round {
	background: black;

	&:hover, &:focus, &:active {
		background: black;
	}
}

.no-bg.search-engaged {
	& i, & .nav-logo i,
	& .autocomplete .icon-search,
	.on-dark,
	.on-dark a
	 {
		@include transition(color 0.3s linear);
		color: #fff;
	}
	// & .autocomplete input {
	// 	background: rgba(255,255,255,0);
	// 	color: #fff;
	// }
}

nav.search-engaged {
	.nav-tint {
		opacity: 1;
	}

	&.no-bg .nav-bg {
		opacity: 1;
		@include transform(translateY(0%));

		&:after {
			display: block;
		}
	}
}

nav {
	@include outer-container;
	@include transition(min-height 0.3s ease-in-out);
	top: 0;
	left: 0;
	height: $navBarHeight;
	
	position: absolute;
	width: 100%;

	&.full-stretch {
		//background-position: center center;
		//background-size: auto 100%;
		@include transition(min-height 0.5s ease-in-out);

		&.no-bg {
			& .nav-bg {
				@include transition(opacity 0s ease-in-out);
				opacity: 1;
			}
		}
	}

	line-height: $navBarHeight;
	overflow: visible;
	z-index: $zTop;
	width: calc(100% + $pageMargin);
	margin: 0px; // (-1* $pageMargin/2);

	// Allows for dropdown expansion
	min-height: $navBarHeight;
	height: auto;

	// For inner shadow along bottom of bar
	// &:after {
	// 	pointer-events: none;
	// 	display: block;
	// 	position: absolute;
	// 	top: -10px;
	// 	left: -10px;
	// 	height: calc(100% + 10px);
	// 	width: calc(100% + 20px);
	// 	content: ' ';
	// 	background: transparent;
	// 	box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.5);
	// }

	&.no-bg:after {
		display: none;
	}

	& input {
		margin: 0px;
		white-space: pre;

		@include placeholder{
			color: $navFontColor; //$grayTwo;
			opacity: 1;
		};
	}

	& .left {
		@include span-columns(4);
		padding-left: $pageMargin;
		font-size: $navHeaderFontSize;
		font-family: $serifFont;
		font-weight: normal;
		line-height: 52px;

		// Temp text fix
		// padding-top: 3px;
		// margin-bottom: -3px;

		color: #fff;
	}
	& .center {
	    @include span-columns(3);
	    text-align: center;
	}
	& .right {
		@include span-columns(1);
		text-align: right;
		padding-right: $pageMargin;
	}
	& .userloc-info{
	  	top: 0px;
		right: $pageMargin;
		position: absolute;
	}
	& .left input[type="search"] {
		$borderPad: 0px;
		display: inline-block;
		width: auto;
		line-height: $navBarHeight - ($borderPad * 2);
		padding: 0px;
		font-size: $navHeaderFontSize;
		font-family: $serifFont;
		//font-style: italic;
		text-align: left;
		//padding: $borderPad 20px 0px 0px;
		padding: $borderPad 0px 0px 0px;

		border-color: transparent;
		outline: none;
		box-shadow: none;
		border-bottom: $borderPad solid transparent;
		margin-bottom: 0px;

		color: #fff;
		//@include transition(all 0.3s ease-in-out);

		&:focus, &:hover, &:active {
			outline: none;
			border-color: transparent;
			box-shadow: none;
			// color: rgb(6,69,173); blue
			//border-bottom: $borderPad solid #898989;
		}

		&:focus {
			font-style: normal;
		}

	}

	& #autocompleteClone {
		position: absolute;
		white-space: pre;
		top: -200px;
		left: -200px;
	}

	& .center input[type="search"]{
		$borderPad: 0px;

		line-height: $navBarHeight - ($borderPad * 2);
		padding: 0px;
		font-size: 24px;
		font-family: $serifFont;
		font-style: italic;
		text-align: center;
		padding: $borderPad 20px 0px 0px;
		border-color: transparent;
		outline: none;
		box-shadow: none;
		border-bottom: $borderPad solid transparent;

		//@include transition(all 0.3s ease-in-out);

		&:focus, &:hover, &:active {
			outline: none;
			border-color: transparent;
			box-shadow: none;
			// color: rgb(6,69,173); blue
			//border-bottom: $borderPad solid #898989;
		}

		&:focus {
			font-style: normal;
		}

	}

	& h1, & h2 {
		line-height: $navBarHeight;
	}

	& span.action {

		position: relative;
		//border-bottom: 1px solid #000;
		display: inline-block;
		cursor: pointer;

		color: #fff;

		&:after {
			display:block;
			content: ' ';
			width: 100%;
			height: 1px;
			background: #000;
			bottom: 15px;
			left: 0px;
			position: absolute;
		}

		// &:hover, &:active {
		// 	& .dropdown {
		// 		opacity: 1;
		// 		@include transition-delay(0s);
		// 		@include transform(translateY( 0%));
		// 	}
		// }

		// @include transition-property(all);
		// @include transition-duration(0.3s);
		// @include transition-delay(0.5s);

		// &.hover-line-1:hover {
		// 	margin-bottom: $navBarHeight;
		// 	@include transition-delay(0s);
		// }

		// &.hover-line-2:hover {
		// 	margin-bottom: $navBarHeight * 2;
		// 	@include transition-delay(0s);
		// }

		// &.hover-line-3:hover {
		// 	margin-bottom: $navBarHeight * 3;
		// 	@include transition-delay(0s);
		// }

		// &.hover-line-4:hover {
		// 	margin-bottom: $navBarHeight * 4;
		// 	@include transition-delay(0s);
		// }

		& .dropdown {
			// @include transition-property(all);
			// @include transition-duration(0.3s);
			// @include transition-delay(0.5s);
			@include transition(transform 0.3s ease 0.5s, opacity 0.3s ease 0.3s);

			@include transform(translateY(-100%));

			position: absolute;
			opacity: 0;
			display: block;
			top: 100%;
			left: 0px;
			white-space: nowrap;
			//padding: 5px 5px 5px 5px;
			//margin: 0px -5px 0px -5px;
			padding: 5px 0px;

			& span {
				display: block;
				line-height: 32px;

				&:hover, &:active, &:focus {
					//border-color: #000;

					&:after {
						display:block;
						content: ' ';
						width: 100%;
						height: 1px;
						background: #000;
						bottom: 10px;
						left: 0px;
						position: absolute;
					}
				}
			}
		}
	}
}

.header-link, span.action.header-link {
	//color: #888;
	color: #fff;
	border-color: transparent;

	@include transition(border-color 0.3s linear);

	&:hover, &:active, &:focus {
		color: #fff; //#000;
		border-color: #fff;//#000;
	}
}

.top-mark-text {
	text-align: center;
	position: relative;
	padding-top: 16px;

	&:before {
		display: block;
		content: ' ';
		width: 30px;
		height: 1px;
		position: absolute;
		top: 0;
		left: 50%;
		background: $baseBorderColor;
		@include transform(translateX(-50%));
	}
}

.link--border-top {
	cursor: pointer;
	font-size: 14px;
	line-height: $bodyLineHeight;
	border-top: $subBorder;
	display: block;
	color: $bodyFontColor;
	//padding-top: 6px;
	padding-left: $pageMargin/2;
	padding-top: $bodyLineHeight/2 + 1px;
	padding-bottom: $bodyLineHeight/2;//9px; //$bodyFontSize;
		text-indent: -($pageMargin/2);

	&:hover, &:active, &:focus {
		border-top: $subBorderSize dotted $discourseAccentColor;
		color: $discourseAccentColor;
	}
}

.logo-spacer {
	padding-top: $bodyLineHeight + 14px;
}

.center-block {
		padding: $pageMargin;
		text-align: center;
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
	}

.action {
	@include no-select;
	padding: 1px 0px 1px;
	margin-bottom: -2px;

	&.no-options {
		//color: $grayTwo;
		color: #fff;
		cursor: pointer;

		// Hide custom underline
		&:after {
			display:none;
		}
	}
}

.nav-logo {
	cursor: pointer;
	height: 1em; //$navBarHeight;
	width: $logoWidth;
	display: inline-block;
    overflow: hidden;

	& i {
		position: absolute;
    font-size: 71px;
    height: 52px;
		top: -9px;
    width: auto;
    color: #fff;
	}

	.search-engaged & {
		@include media($screen900Max) {
			opacity: 0;
			pointer-events: none;
		}
	}
	
}

#fixedNavLogo, .nav-logo#fixedNavLogo {
	position: fixed;
	
	& i {
		position: absolute;
		left: -2px;
	}
}

#navSearch {
	border: 0px solid transparent;
}

nav a {
	font-weight: bold;
	color: #fff;
}

// Nav Bar "pagination"

.asset-index-span, .fa-caret-left, .fa-caret-right {
	color: #fff;
}

.nav__button-block {
	width: auto;
	display: inline-block;
	letter-spacing: 1px;
	border: none;
	padding: 0px;

	@include transition(background linear 0.2s);

	@include selection {
	  background: transparent;
	}
	
	& i:disabled, & i.disabled {
		pointer-events: none;
		background: transparent;
		
		&:before {
			opacity: 0.3;
		}
	}

	&:hover, &:focus {
		& i, & span {
			background: $blockButtonBg;
		}
		& .button {
			box-shadow: $buttonShadow;
		}
		
		& .asset-index-span {
			opacity: 1;
			pointer-events: all;
		}
		
		// & .center-logo {
		// 	opacity: 0;
		// 	pointer-events: none;
		// }

		& .page-tooltip {
			opacity: 1;
		}
	}

	& i {
		display: inline-block;
		padding: 20px;
		cursor: pointer !important;
		color: #fff;

		&:hover {
			background: rgba(255,255,255, 0.2);
		}
	}

	& span {
		padding: 0px 20px;
		display: inline-block;
	}
	
	& .nav-block__center-wrap {
		position: relative;
		min-width: 120px;
		height: $navBarHeight - 22px;
		display: inline-block;
		padding: 0px !important;
		overflow: visible;
		background: transparent;
	}
	
	& .asset-index-span {
		min-width: 120px;
		position: absolute;
		opacity: 0;
		pointer-events: none;
		top: 0px;
		left: 0;
		
		@include transition(opacity linear 0.3s);
	}
	
	& .center-logo {
		min-width: 120px;
		position: absolute;
		opacity: 1;
		pointer-events: all;
		top: 0;
		left: 0;
		
		@include transition(opacity linear 0.3s);

		& i {
			@include transform(translateX(-50%));
			padding: 0px;
			top: -9px;

			&:hover {
				background: transparent;
			}
		}
	}
}

.full-stretch {
	// @include transition(min-height 0.3s ease-in-out);
	min-height: 100%;
}

#signIn, #register {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translateY(-50%) translateX(-50%));
	text-align: center;
	width: 350px;
}

.return-link {
	@extend h3;
	cursor: pointer;
	vertical-align: middle;
	
	&:hover, &:active, &:focus {
		opacity: 0.5;
	}
}

.nav-left, nav .nav-left {
	width: 100%;
	padding-right: $pageMargin;
	text-align: center;
		
	//@include media($screen900Max) {
		& .nav-logo {
			overflow: visible;
			position: absolute;
			left: 50%;
			@include transform( translateX(-50% ) );
		}
	//}
	
	// @include media($screen900) {
	// 	text-align: left;
	// }
	
	&--narrow {
  		@extend .nav-left;
		text-align: left;
		
		@include media($screen900) {
			width: 30%;
		}
  	}
	  
}

nav.nav-logo {
	opacity: 1;
	@include transition(opacity linear 0.3s);
}

nav.search-engaged {
	//@include media($screen900Max) {
		// & .nav-logo {
		// 	opacity: 0;
		// }
	//}
}

.nav-center, nav .nav-center {
	width: 20%;
  	float: left !important;
  	text-align: center;

  	&--wide {
  		@extend .nav-center;
  		width: 40%;
  	}
}

.nav-right, nav .nav-right {
	width: 30%;
	float: right !important;
	text-align: right;
	padding-right: $pageMargin;

	&.overlap-search {
		margin-top: -1 * $navBarHeight;
	}
}

.page-tooltip {
	font-size: 10px;
	min-width: 120px;
	line-height: 21px;
	display: block;
	position: fixed;
	top: 52px;
	left: 50%;
	@include transform(translateX(-50%));

	box-shadow: $shadowStyle;
	background: white;
	color: $bodyFontColor;
	//border: $baseBorder;
	padding: 2px 15px 0px;
	opacity: 0;
	@include transition(opacity linear 0.3s);
}


.nav-btn {
    background: 0px;
    border: none;
    height: $navBarHeight;
    width: auto;
    box-shadow: none;
    color: $navFontColor;

    &:hover, &:active {
        box-shadow: none;
		// background: rgba(255,255,255, 0.2);
		background: transparent;
    }
}

#mobileFilterMenu {
	position: absolute;
	top: 10px;
	right: 13px; // + $pageMargin;
}
.nav-icon .icon-filter {
	font-size: 1.5em;
}
.nav-icon .icon-clear {
	font-size: 2em;
}

button.nav-icon {
	& i {
		height: 32px;
		width: 32px;
	}
}

button.icon.clear-on-dark {

	i {
		background: transparent;
		color: #fff;
	}	
	

	&:active, &:hover, &.active {

		& i {
			background: transparent;
			color: #cdcdcd;
		}
	}
}