/** 
 * # ngProgress
 * Skinning the ngProgress plugin.
 */

$progressBarColor: rgba(255,255,255,0.15); //#DC0319; 
$topPosition: $navBarHeight + 1px; 

/* Styling for the ngProgress itself */
$ngProgressHoverPadding: 6px;

/**
 * ngProgress:
 * `#ngProgress` - Loading bar element, determining color and transition style.
 *
 *     @example
 *     div.visible#ngProgress
 */
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: $zBottom;
    background-color: $progressBarColor !important;
    color: $progressBarColor !important;
    //box-shadow: 0 2px 4px 0 rgba($progressBarColor, 0.5); /* Inherits the font color */
    box-shadow: none;
    height: $navBarHeight !important;
    opacity: 0; 

    @include transition(width 0.2s linear);  
}

/**
 * ngProgress Container:
 * `#ngProgress-container` - Determines positioning for the ngProgress bar.
 *
 *     @example
 *     div.row.debug &nbsp;
 *      div#ngProgress-container
 *       div#ngProgress.visible
 */
#ngProgress-container {
    //position: fixed;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: $zBottom;
    top: 0px;
    left: 0px;
    width: 100%;
    height: $navBarHeight;

    // &:hover, &:focus {
    //     & #ngProgress { 
    //         height: 5px !important;
    //     }
    // }
}
