/**
 * # Sections
 * Styled blocking for content.
**/

.section__float-right {
	float: right;
	width: 33%;
	margin-top: -1* ($sectionTopPad);
	border-left: $gutterWidth/2 solid $pageColor;
}

/**
 * Section Wrap:
 * `.section-wrap` - Class for dillineating sections. Should be used inside columns to conform to gutters.
 *
 *     @example
 *     .container
 *      .column-12
 *       .section-wrap Section 1
 *      .row
 *       .column-6
 *        .section-wrap Section 2
 *       .column-6
 *        .section-wrap Section 3
 */
.section-wrap {
	padding-top: $sectionTopPad;//$baselineHeight/2 - $baseBorderSize;
	margin-bottom: $sectionBottomMargin;
	border-top: $baseBorder;
	display: block;

	&.no-border {
		border-color: transparent !important;
	}

	&.margin-top {
		margin-top: $sectionHeaderMargin;
	}

	&--squiggle {
		@extend .section-wrap;
		border-top: none;
		background: url(images/squiggle.svg);
		background-size: 8px auto;
		background-repeat:  repeat-x;
		background-position: 0px 0px;
		width: 100%;
	}
	
	& .context-heading {
		padding-top: $sectionHeaderMargin;
	}

	&:first-of-type {
		border-top: none;
		
		& .context-heading {
			padding-top: 0px;
		}

		&.border-top {
			border-top: $baseBorder;
		}
	}
}

.lead-margin {
	margin-bottom: $sectionHeaderMargin;
}
