
$mobileOuterMargin: 30px;
$mobileVMargin: 22px; 
$sliderImgHeight: 180px;
$sliderImgBlankWidth:210px;

.slider-row {
    @include media($screen900) {
        display: none;
    }
    
    height: auto;
    white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
    // Negative bottom margin to hide scroll
    margin: 0 -1*$outerMargin;
    padding: 0 $mobileOuterMargin;
    padding-bottom: 54px + ($mobileVMargin * 2);
    padding-right: 200px;
    //position: relative;
    
    & .thumbnail {
        display: inline-block;
        // width: 200px;
        float: none;
        position: static;
        width: auto;
        padding: 0px;
        
        & .thumbnail-dummy {
            display: none;
        }
    }
    
    & .thumbnail__image-wrap {
        position: static;
        
        & > .img {
            width: auto;
            top: 0;
            height: $sliderImgHeight;
        }
        
            
        & .img.image-blank, & img {
            position:relative;
            //left: 0;
            min-height: $sliderImgHeight;
            height: $sliderImgHeight;
        }
        
        & .img.image-blank {
            width: $sliderImgBlankWidth;
        }
    }
    
    & .thumbnail-wrap {
        position: static;
    }
}

.thumbnail__image-wrap .img {
    position: relative;
}

.slider__label {
   @extend label;
   position: absolute;
   left: -12px;// $mobileOuterMargin;
   margin-top: $bodyFontSize;
   width: 100%;
   background: #fff;

   @include transition(opacity linear 0.2s);
}

.gray-bg .slider__label {
    background: $grayBg;
}

.slider__img {
    position: relative;
    height: auto;
    width: auto;
}

i.slider__open-asset {
    color: #fff;
    position: absolute;
    right: -26px; //$outerMargin;
    margin-top: $mobileVMargin;
    //bottom: 0px;
    
    &:before {
        //@include transform(rotate(90));
    }
}

.slider-row__view-more {
    height: $sliderImgHeight;
    display: inline;
}