/**
 * # Spotlight
 * Component for featuring single image across a full row. Intended for use as a widget on the home page.
 */

/**
 * Spotlight Image:
 * `.spotlight` - Single image feature row.
 *
 *     @example
 *     .spotlight
 *      .span-9.column-padding
 *       img.spotlight__image(src="../assets/images/900x600.png")
 *      .span-3.column-padding
 *       .spotlight__description Description text.
 *       .spotlight__label
 *        span Artist Name
 *        span Title of Image
 */
.spotlight {
	@include span-columns(24);
	position: relative;
	float: left;
	/*margin-bottom: $sectionBottomMargin;*/
    padding-top: 20px; 
}

.spotlight__image {
	margin: 0;
	display: block;
}
	.spotlight__caption {
		@extend %bodyFontStyle;
		display: block;
		margin-top: $bodyFontSize;
		color: rgba(0,0,0,0.4);
	}

.spotlight__label {
	position: absolute;
	bottom: 1px;
	display: block;
	//width: calc(100% - #{$pageMargin} );
	border-top: $baseBorder;
	padding-top: $baselineHeight/2;

	& span {
		word-wrap: break-word;
		display: block;
		font-family: $sansFont;
		font-size: $labelFontSize; //$bodyFontSize;
		line-height: 18px;
		color: rgba(0,0,0,1.0);

		&.title {
			//font-style: italic;
		}

		& + span {
			color: $grayOne;

			& + span {
				color: $grayTwo;

				& + span {
					color: $grayThree;
				}
			}

		}
	}
}

.spotlight__description {
	font-size: $largeBodyFontSize;
	line-height: $baselineHeight;
	/*padding-top: $baselineHeight;*/
	display: block;
}
.spotlight__description div{
    border-top: $baseBorder;
    padding: 10px 0px;
}
// Watching Section
.spotlight__description .content{
    display: inline-block;
    width: 85%;
    font-family: 'Lyon Display Web' !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    font-size: 15.5px !important;
    line-height: $largeBodyLineHeight !important;
    margin-left: 10px;
}
.spotlight__description .content a{
    color: #333;
    text-decoration: underline !important;
	
	&:hover, &:focus, &:active {
		color: rgba(#333,$linkHoverOpacity);
	}
}

.bold-count {
	@extend %boldBodyFontStyle;
	//font-size: 14px;
    display: inline-block;
    width: 8%;
    text-align: center;
    vertical-align: top;
    background: #BDBDBD;
    color: #FFF;
    border-radius: 50%;
    height: 30px;
    line-height: 31px; //rendering adjustment +1px
    width: 30px;
}

.spotlight__large-image {
	@include span-columns(24 of 24);
	
	@include media($screen900) {
		padding-left: $gutterWidth/2;
		padding-right: $gutterWidth/2;
		@include span-columns(16 of 24);
	}
}

.spotlight__list {
	@include span-columns(24 of 24);
	border-top: $baseBorder;
	
	@include media($screen900) {
		border-top: none;
		padding-left: $gutterWidth/2;
		padding-right: $gutterWidth/2;
		@include span-columns(8 of 24);
	}
}