/**
 * # Thumbnails
 * For displaying a grid of images with data.
 */

$grid-columns: 12;

$thumbnailPadding: $gutterWidth/2;
$thumbnailBorderStyle: $baseBorder;
$thumbnailBlankBg: darken($grayBg, 6%);

$screen700: new-breakpoint(min-width 700px);
$screen900: new-breakpoint(min-width 900px);
$screen1000: new-breakpoint(min-width 1000px);
$screen1100: new-breakpoint(min-width 1100px);
$screen1200: new-breakpoint(min-width 1200px);

/**
 * Thumbnail Stack:
 * `.stack` - For displaying three thumbnails in a pile. Note: The third img will show on top of the stack.
 *
 *     @example
 *     div.stack.span-6
 *      img(src="../assets/images/docs-portait-1.jpg")
 *      img(src="../assets/images/docs-portait-2.jpg")
 *      img(src="../assets/images/docs-portait-3.jpg")
 */
.stack {
	padding: 0 $gutterWidth/2 0; //$baselineHeight/2;
	position: relative;

	& label {
		display: block;
		margin: $imageTextPadding 0 0;
	}

	&:last-of-type {
		&:after {
			display: none;
		}
	}

	& > img {
	    position: relative;
	    max-width: 55%;
	    width: 100%;
	    height: auto;
	    box-shadow: $shadowStyle;

	    &:first-child {
  			margin-top: 20%;
  			margin-bottom: 10%;
	    }

	    &:nth-child(2) {
			margin-left: -100%;
			float: right;
	    }
	    &:nth-child(3) {
			margin-left: -30%;
	    }
	}
}

.hide-blank .image-blank {
	display: none !important;
}

.stack__wrap {
	padding: $bodyLineHeight;
	display: block;
}

.centered-stack {
	padding: 0 $gutterWidth/2 0; //$baselineHeight/2;
	position: relative;
	cursor: pointer;
	
	div:hover > &, &:hover {
		& > .image-blank {
			box-shadow: none;
			@include transform(translateY(1px));
		}		
		& > img {
			box-shadow: none;
			margin-top: 1px;	
		}
	}	

	& label, & + label {
		display: block;
		margin: $imageTextPadding 0 0;
		text-decoration: none;
		cursor: pointer;
	}

	&:last-of-type {
		&:after {
			display: none;
		}
	} 
	
	& > img {
	    position: absolute;
	    max-width: 80%;
	    width: auto;
	    height: auto;
		max-height: 80%;
	    box-shadow: $shadowStyle;
		top: 50%;
		left: 50%;
		@include transform(translateY(-50%) translateX(-50%));
	}
	
	& > .image-blank {
		position: relative;
	    width: 50%;
	    height: auto;
	    box-shadow: $shadowStyle;
		display: inline-block;
		min-height: 20px !important;
		min-width: 100px !important;
		padding-top: 75%; // relative to width
		padding-left: 75%;
		
		&:first-child {
  			margin-bottom: 0%;
			opacity: 0.5;
	    }
		&:nth-child(2) {
			margin-left: 25%;
    		margin-top: -80%;
			opacity: 0.25;
	    }
	    &:nth-child(3) {
			margin-left: -20px;
	    }
	}
	
	

	& label {
		cursor: pointer;
		display: block;
		margin: $imageTextPadding 0 0;
	}
}



/**
 * Thumbnail Sheet:
 * `.thumbnail-sheet` - Wraps multiple `<thumbnail>` objects and determines the layout.
 *
 *     @example
 *     .thumbnail-sheet-2
 *      thumbnail
 *       .thumbnail-wrap
 *        .thumbnail__image-wrap
 *         .thumbnail-dummy
 *         img(src="../assets/images/img-placeholder-square.gif")
 *        .thumbnail__label
 *         span Artist Name
 *         span Title of Image
 *         span Date Value
 *      thumbnail
 *       .thumbnail-wrap
 *        .thumbnail__image-wrap
 *         .thumbnail-dummy
 *         img(src="../assets/images/img-placeholder-square.gif")
 *        .thumbnail__label
 *         span Artist Name
 *         span Title of Image
 *         span Date Value
 */
.thumbnail-sheet {
	@include outer-container;
	width: none;
	max-width: none;
	// background: $elementColor;
	//padding: 0 $gutterWidth/4;
	//padding: 2px ( $gutterWidth/4 + 2);
	//margin: 0px (-1 * $gutterWidth/2);

	// Solves issues related to white-space and inline-block
	font-size: 0;

	// & > img {
	// 	padding: 0px $gutterWidth/4;
	// }

	// Numbered classes indicate number of rows
	&-1 {
		@extend .thumbnail-sheet;

		.thumbnail-wrap {
			position: relative;
		}

		& .thumbnail {
			width: 100%;
		}

		 & > .thumbnail {
		 	width: 100% !important;
		 }

		.thumbnail__image-wrap img {
			position: relative;
		}
	}

	&-2 {
		@extend .thumbnail-sheet;

		& thumbnail, & .thumbnail {
			width: 50%;
		}
	}

	&-3 {
		@extend .thumbnail-sheet;

		& .thumbnail {
			width: 33.3%;
		}
	}

	&-4 {
		@extend .thumbnail-sheet;

		& .thumbnail {
			width: 25%;

		    // @include media($screen1000) {
		    //  	width: 20%;
		    // }

		    // @include media($screen1200) {
		    //  	width: 16.666%;
		    // }
		}


	}
}

/**
 * Thumbnail:
 * `thumbnail` - Object for wrapping an image as thumbnail along with a label.
 *
 *     @example
 *     thumbnail.thumbnail
 *      .thumbnail-wrap
 *       .thumbnail__image-wrap
 *        .thumbnail-dummy
 *        img(src="../assets/images/img-placeholder-rectangle.gif")
 *       .thumbnail__label
 *        span Artist Name
 *        span Title of Image
 *        span Date Value
 */

$thumbnailGutter: 24px;

thumbnail, .thumbnail {
	position: relative;
	font-size: $bodyFontSize;
	display: inline-block;
	vertical-align: top;
	float: left;
	width: 25%;
	margin-right: 0px;
	background: transparent;
	padding: $thumbnailGutter $thumbnailGutter/2 $thumbnailGutter/2; //$bodyLineHeight; //$thumbnailPadding;
	padding-bottom: 0px;
	margin-bottom: $bodyLineHeight;
	overflow-y:hidden;
	overflow-x:hidden;

	& img {
		// Avoid copy/save
		pointer-events: none;
	}

	&.last-in-row {
		clear: right;
	}

	&.first-in-row {
		clear: right;
	}

	&.even-row {
		//background: blue;
		float: right;

		&.last-in-row {
			clear: left;
		}

	}

	.selected & {
		opacity: 0.5;
	}
	
	// & .img-wrap:before {
 //  		display: block;
 //  		background: rgb(243,243,21);
 //  		opacity: 0;
 //  		width: 100%;
 //  		height: 100%;
 //  		position: absolute;
 //  		top: 0;
 //  		left: 0;
 //  		content: ' ';
 //  		@include transition(opacity 0.2s ease-in-out);
 //  	}

	&:hover, &:focus, &:active, &.active {
		cursor: pointer;
	// & .img-wrap:before {
	// 	opacity: 0.4;
	// 	@include transition(opacity 0s ease-in-out);
	// }
	//background: rgba(200,200,200,0.1);

	}

	.disabled & {
		pointer-events: none;
		cursor: default;
	}

	&.bottom-border {
		border-bottom: $baseBorder;
		margin-bottom: 0px;
		padding-top: 15px;
		padding-bottom: 15px;

		&:last-of-type {
			border-bottom: none;
		}
	}

	&.on-shelf {


		& .thumbnail__image-wrap {
			&:after {
				display: block;
				content: ' ';
				position: absolute;
				bottom: 0;
				left: -1 * $thumbnailPadding;
				background: $baseBorderColor;
				height: 1px;
				width: calc( 100% + #{ $thumbnailPadding * 2 } );
			}
		}

		& .thumbnail__image-wrap img {
			top: inherit;
			bottom: 0;
			//box-shadow: $imageShadow;
			margin-bottom: 0px;
		}
	}
}

/**
 * Thumbnail Label:
 * `thumbnail__label` - Inherits the attributes of `<label>`, which styles based on sequence of `<span>` elements.
 *
 *     @example
 *     .thumbnail__label
 *      span Artist Name
 *      span Title of Image
 *      span Date Value
 */
.thumbnail__label {
  	@extend label;
		text-decoration: none !important;

	& a {
		text-decoration: none;
	}

	&.numbered {
		& span {
			margin-left: 10px;
		}

		&:before {
			content: ' ';
			display: block;
			position: absolute;
			top: 0px; // $pageMargin + $navBarOffset;
			left: 20px; // -($gutterWidth/2);
			border-left: $verticalBorder;
			width: 1px;
			min-height: 100%;//calc(100% - #{ $pageMargin + $navBarOffset });
		}

		position: relative;
		padding-left: 20px;
	}
  }

.full-width {
	& .thumbnail__image-wrap {
		.thumbnail-dummy {
			//display: none;
			padding-top: 150%;
		}
		// & img {
		// 	width: 100%;
		// 	height: auto;
		// 	max-height: auto;
		// }
	}
}

masonry, .masonry {
	margin: auto auto $baselineHeight !important; //-12px ;
	height: auto !important;
}

.thumbnail.masonry-brick {
	position: absolute;
	top: -2000px;
	left: -2000px;
}

.show-grid {
	& thumbnail.masonry-brick, & .thumbnail.masonry-brick {
		background: pink;
		border: 1px solid rgba(255,0,0,0.3);
	}
}

.thumbnail-sheet-1 h4 {
	padding-top: 3px;
}

.thumbnail-sheet-1 {
	.thumbnail-sizer, .thumbnail-dummy {
		display: none;
	}
	& thumbnail, & .thumbnail {
		width: 100%;
		display: block;
		padding: 0px;
	}
	.thumbnail__image-wrap img, .thumbnail__image-wrap .img {
		width: 100%;
	}
	& thumbnail .hover-access {
		height: 28px;
	}
}

.thumbnail-sheet-2 {
	.thumbnail-sizer {
		width: 50%;
	}
	& thumbnail, & .thumbnail {
		width: 50%;
	}
}

.thumbnail-sheet-2 thumbnail, .thumbnail-sheet-2 .thumbnail {
	&.masonry-brick {
		border-top: none;
		height: auto;
		width: 50%;
		min-height: 100px;
		float:left;


		& .thumbnail-wrap {
			height: auto;
			width: auto;
			position: relative;
		}

		& .thumbnail__image-wrap {
			text-align: none;
			margin-bottom: 0px;
			height: auto;
			position: relative;

			& img, & .img {
				display: block;
			    max-height: none;
			    width: auto;
			    height: auto;
			    position: relative;
			}
			
			.thumbnail-dummy {
				//display: none;
				padding-top: 0px;//100%;
			}
		}

		& .thumbnail__label {
	  		margin-top: $bodyFontSize;
	    	text-align: left;
	    	width: 100%;
	    	display: block;
		}
	}
}

.thumbnail-sheet-4 {
	.thumbnail-sizer {
		width: 25%;
	}
}

.thumbnail-sheet-4 thumbnail, .thumbnail-sheet-4 .thumbnail {
	&.masonry-brick {
		border-top: none;
		height: auto;
		width: 25%;
		min-height: 100px;

		& .thumbnail-wrap {
			height: auto;
			width: auto;
			position: relative;
		}

		& .thumbnail__image-wrap {
			text-align: none;
			margin-bottom: 0px;
			height: auto;
			position: relative;

			& img, & .img {
				display: block;
			    max-height: none;
			    width: auto;
			    height: auto;
			    position: relative;
			}
			.thumbnail-dummy {
				//display: none;
				padding-top: 0px;//100%;
			}
		}

		& .thumbnail__label {
	  		padding-top: $bodyFontSize;
	    	text-align: left;
	    	width: 100%;
	    	display: block;
		}
	}
}

$masonryBrickWidth: 220px;
$masonryBrickHeight: $masonryBrickWidth + 40px;
$masonryBrickMaxImgHeight: ($masonryBrickHeight - 40px) * 0.7;

.thumbnail-sheet-bricks {
	.thumbnail-sizer {
		width: $masonryBrickWidth;
	}
}

.thumbnail-sheet-bricks thumbnail, .thumbnail-sheet-bricks .thumbnail {
	&.masonry-brick {
		border-top: $thumbnailBorderStyle; //$baseBorder;

		height: $masonryBrickHeight;
		width: $masonryBrickWidth;
		overflow: hidden; //visible;

		//dictates starting position
		position: relative;
		float: left;
		// position: absolute;
		// top: 100%;

		margin-bottom: 0px;

		& .thumbnail-wrap {
			height: 100%;
			width: 100%;
			position: relative;
		}

		& .thumbnail__image-wrap {
			text-align: none;
			margin-bottom: 0px;
			height: auto;
			position: relative;

			@include transform(translateX(-50%) );
			top: 0px;
			left: 50%;

			& img, & .img {
				@include transform(translateY(0px) translateZ(0px));
				width: auto;
				position: relative;
				top: 0px !important;
				left: 0px !important;
				display: inline; //-block;
			    max-height: $masonryBrickMaxImgHeight;
				//position: absolute !important;
				//height: 100%;;
				&.image-blank {
					display: inline-block;
				}
				
			}
			
			& img {
				display:block;
			}
			
			.thumbnail-dummy {
				//display: none;
				padding-top: 0px;//100%;
			}
		}

		& .thumbnail__label {
	  		padding-top: $bodyFontSize;
	    	text-align: left;
	    	width: 100%;

	    	& span {
	    		max-width: 100%;
	    		max-height: 36px;
	    		overflow: hidden;
  				text-overflow: ellipsis;
	    	}
		}

	&.wide-brick {
		width: $masonryBrickWidth * 2; //50%;
		height: $masonryBrickHeight * 1.2;
	}

	&.tall-brick, &.tall-brick-1 {
		width: $masonryBrickWidth;//25%;
		height: $masonryBrickHeight * 1.2;

		& .thumbnail__image-wrap img {
			max-height: $masonryBrickMaxImgHeight + ($masonryBrickHeight * .2);
		}
	}

	&.tall-brick-2 {
		width: $masonryBrickWidth;//25%;
		height: $masonryBrickHeight * 1.4;

		& .thumbnail__image-wrap img {
			max-height: $masonryBrickMaxImgHeight + ($masonryBrickHeight * .4);
		}
	}

	&.tall-brick-3 {
		width: $masonryBrickWidth;//25%;
		height: $masonryBrickHeight * 1.6;

		& .thumbnail__image-wrap img {
			max-height: $masonryBrickMaxImgHeight + ($masonryBrickHeight * .6);
		}
	}

	&.tall-brick-4 {
		width: $masonryBrickWidth;//25%;
		height: $masonryBrickHeight * 1.8;

		& .thumbnail__image-wrap img {
			max-height: $masonryBrickMaxImgHeight + ($masonryBrickHeight * .8);
		}
	}
	
	&.tall-brick-5 {
		width: $masonryBrickWidth;//25%;
		height: $masonryBrickHeight * 2;

		& .thumbnail__image-wrap img {
			max-height: $masonryBrickMaxImgHeight + ($masonryBrickHeight * 1);
		}
	}

	&.large-brick {
		width: $masonryBrickWidth * 2; //50%;
		height: $masonryBrickHeight * 2;
	}
	}
}

.thumbnail-sheet-2 {
	// thumbnail.masonry-brick, .thumbnail.masonry-brick {
	// 	&:nth-of-type(2n - 1) {
	// 		padding-left: 0px;
	// 	}
	// 	&:nth-of-type(2n) {
	// 		padding-right: 0px;
	// 	}
	// }
}

// out of 15 columns; inherits grid settings
.thumbnail-wrap {
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: $gutterWidth/4;
    // right: $gutterWidth/4;
    position: relative;

 //    & button-group {
 //    	opacity: 0;
	// 	position: absolute;
	// 	//top: 5px;
	// 	width: 100%;
	// 	text-align: center;

	// 	margin: 0px;
	// 	position: absolute;
	// 	left: 0;
	// 	@include transition(opacity 0.2s ease);

	// 	top: 50%;
	// 	@include transform(translateY(-50%));
	// }

	& button, & .button {
		display: inline-block;
		margin: 0px;

		// assumes there are three buttons
		max-width: 31%;
	}

	.icons button i, .icons .button i {
		background: transparent;
		height: 20px;
		width: 20px;
	}

	i {
		color: rgba(0,0,0,0.75);
	}

	.icons button:hover i, .icons .button:hover i {
		background: transparent;
	}

	&:hover, &:active, &:focus {

		& .thumbnail__image-wrap .img {
			// opacity: 0.6;
			box-shadow: none;
			@include transform(translateY(1px) !important);
		}

		& .thumbnail-shade {
			opacity: 1;
		}

		// & button-group {
		// 	opacity: 1;
		// }
	}

}

.thumbnail-dummy {
	// Allows thumbnail to maintain aspect ratio
	padding-top: 150%; //100%;
}

.thumbnail__image-wrap  {
	position: relative;
	height: auto;
	//height: 61%;
	width: 100%;

	text-align: center;
	display: block;
	margin: 0 auto $imageTextPadding;

	& img, & .img {
		display: inline-block;

    max-width: 100%;
    max-height: calc(100% - 4px);
    //@include transition(all 0.3s ease-out);
    @include transform(translateY(0px));
    width: auto;
    height: auto;
    position: absolute;

  	// Move Image to bottom
  	top: inherit;
		bottom: 0;
		margin-bottom: 0px;
	}

	& .img {
		//box-shadow: $imageShadow;

		// Fixes for spacing issues with .img as wrap around img
		font-size: 0px;
		letter-spacing: 0px;
    word-spacing: 0px;
    vertical-align: bottom;
	}
}

.thumb {
	float: left;
	margin-right: 0px;
	padding: $gutterWidth/4;
	background: transparent;
	//@include transition(background 0.15s ease-in-out);
	height: auto;
	margin-bottom: $baselineHeight;

		&.last-in-row {
		clear: right;
	}

	&.first-in-row {
		clear: right;
	}

	&.even-row {
		//background: blue;
		float: right;

		&.last-in-row {
			clear: left;
		}

	}

	& .img-wrap:before {
  		display: block;
  		background: rgb(243,243,21);
  		opacity: 0;
  		width: 100%;
  		height: 100%;
  		position: absolute;
  		top: 0;
  		left: 0;
  		content: ' ';
  		//@include transition(opacity 0.2s ease-in-out);
  	}

  &:hover, &:focus, &:active, &.active {
  	cursor: pointer;

  	& .img-wrap:before {
  		opacity: 0.4;
  		//@include transition(opacity 0s ease-in-out);
  	}
  	//background: rgba(200,200,200,0.1);

  }

  & label {
  	display: block;
  }

  .on-shelf & {
	// .thumbnail__image-wrap  {
	// 	height: 6*$baselineHeight;
	// }
 //  	.thumbnail__image-wrap  img:after {
 //  		position: relative;
 //  		display: inline-block;
 //  	}
  }
}

	.thumbs-1 .thumb {
		width: 100%;
	}

	.thumbs-2 .thumb {
		width: 50%;
	}

.position {
	position: absolute;
	top: 0px;
	left: 0px;
	@extend %Graphik-Regular-Web;
	font-size: $h2FontSize;
	line-height: $baselineHeight;
}
	.discourse .position {
		color: $discourseAccentColor;
	}


.small-thumbnails {
	& .thumbnail-dummy {
		padding-top: 0; //135%;
	}

	& .thumbnail__image-wrap {
		height: 33%;
		position: relative;
		padding: 0px 20px;

		& img, & .img {
			display: block;
			// position: absolute;
			// left: 50%;
			// bottom: 0;
			// @include transform(translateX(-50%));
			// max-width: calc(100% - 40px);
		}
	}
}
//

$imageBlankHeight: 150px;
.img.image-blank {
	min-height: $imageBlankHeight; // 187px;
	//min-width: 250px;
	min-width: 100%;
	// Alpha allows for use on color or gray backgrounds
	background: $thumbnailBlankBg;
	
	.tall-brick-2 & {
		min-height: $imageBlankHeight * 1.25;
	}
	
	.tall-brick-3 & {
		min-height: $imageBlankHeight * 1.5;
	}
	
	.tall-brick-4 & {
		min-height: $imageBlankHeight * 1.75;
	}
}

.img-wrap {
	@include transform(translateY(0px));
	position: relative;
	top: 0px !important;
	left: 0px !important;
	display: block; //-block;
	max-height: 100%;
	box-shadow: 1px 1px 1px $imageShadowColor;
	
	width: auto;
    display: inline-block; 
    margin: 0 auto;
	
	&:hover, &:focus, &.highlight {
		box-shadow: 2px 2px 2px $imageShadowColor;
	} 

	&:active {
		box-shadow: none;
		@include transform(translateY(1px) !important);
	}
}