<footer class="footer" ng-class="{ hidden : !isLoaded }">

    <div ng-show="isExtended" class="row--promo">
        <div class="footer__about pad-right gray-bg">
            <div class="center-block">
                <img id="smallLogo" src="assets/images/logo--small.png" />
                <div class="top-mark-text">
                    <p style="margin-bottom: 16px;">{{ "footer.about" | i18next }}</p>
                    <a class="link--underline" target="_blank" href="http://artstor.org/mission">{{ "Learn More" | i18next }}</a>
                </div>
            </div>
            <div class="invisible-displace">
                <img id="smallLogo" src="assets/images/logo--small.png" />
                <div class="top-mark-text">
                    <p style="margin-bottom: 16px;">{{ "footer.about" | i18next }}</p>
                    <a class="link--underline" target="_blank" href="http://artstor.org/mission">{{ "Learn More" | i18next }}</a>
                </div>
            </div>
        </div>
        <div class="footer__promo">
            <div class="row">
                <h1>{{ "footer.header" | i18next }}</h1>
                <p class="body--serif" ng-bind-html="'footer.paragraphA' | i18next"></p>
                <p class="body--serif" ng-bind-html="'footer.paragraphB' | i18next" style="margin: 12px 0;"></p>
                <!-- <button class="dark" ng-click="openSubscribePage()">{{ "Subscribe" | i18next }}</button> -->
            </div>

             <!--<div class="row" style="margin-top: 42px;">
                <div class="column-8 pad-right" style="padding-right: 15px;">
                    <h2 class="half-margin">{{ "For Instructors" | i18next }}</h2>
                    <a class="link--border-top" target="_blank" href="http://www.artstor.org/content/ap-teaching-resources">{{ "AP Resources" | i18next }}</a>
                    <a class="link--border-top" target="_blank" href="http://www.artstor.org/curriculum-guides">{{ "Curriculum Guides" | i18next }}</a>
                </div>
                <div class="column-8 pad-right" style="padding-right: 15px;">
                    <h2 class="half-margin">{{ "For Researchers" | i18next }}</h2>
                    <a class="link--border-top" target="_blank" href="http://www.artstor.org/content/collaborations">{{ "Case Studies" | i18next }}</a>
                </div>
                <div class="column-8 pad-right" style="padding-right: 15px;">
                    <h2 class="half-margin">{{ "For Scholars" | i18next }}</h2>
                    <a class="link--border-top" target="_blank" href="http://www.artstor.org/content/subject-guides">{{ "Subject Guides" | i18next }}</a>
                </div>
            </div> -->
        </div>
    </div>

  <div class="footer-inner">
    <hr style="margin-top: 0px;" />
    <div class="left">
        <a class="body" target="_blank" title="Learn more about Artstor" href="http://www.artstor.org">&copy;&nbsp;Artstor</a><a class="link"  target="_blank"  href="http://artstor.org/privacy-policy">{{ "Privacy" | i18next }}</a><a class="link" id="terms-link" target="_blank" href="http://www.artstor.org/terms">{{ "Terms" | i18next }}</a><a class="link" target="_blank" href="http://www.artstor.org/copyright">{{ "Copyright" | i18next }}</a>
    </div>
    <div class="right">
        <a class="link" ng-repeat="lng in languages" title="{{ lng.name }}" ng-click="switchLanguage(lng)" ng-class="{ active : lng.code == activeLanguage }">{{lng.code}}&nbsp;</a>
        <a class="link" target="_blank" href="https://artstor.typeform.com/to/ZbYZSn">{{ "Report an Error" | i18next }}</a><a class="link" target="_blank" href="http://support.artstor.org/">{{ "Support" | i18next }}</a>
    </div>
  </div>
</footer>
